<!-- start of FIXED FOOTER NAVIGATION -->
<div style="width:100%;height:80px;background:#fff;position:fixed;
            bottom:0px;z-index:99;padding:10px;padding-left:10%;padding-right:10%;
            -webkit-box-shadow: 0px -1px 17px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 17px -6px rgba(0,0,0,1);
box-shadow: 0px -1px 17px -6px rgba(0,0,0,1);">
  <h3 style="float:left;">
    Step <strong>1</strong> of 6: <i style="font-size:20px;">Custom or Premade</i>
  </h3>
  <button id="next-btn2" class="btn btn-primary btn-lg btn-nav
                  {% if cat == 'beauty' %}btn-beauty{% endif %}
                  next-btn" style="float:right;width: 300px;margin-top: 0px;">
    <strong>NEXT STEP</strong>  <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

</div>
<!-- end of FIXED FOOTER NAVIGATION -->
