  <div>
<nav class="navbar navbar-default" style="z-index:10;margin-bottom:0px;">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">

        {% if cat == 'beauty' %}
        <img class="logo-nav" alt="logo" src="/static/img/logo-pink.png" style="" height="40">
        {% else %}
        <img class="logo-nav" alt="logo" src="/static/img/logo-nav_fullsize_wordart.png" style="" height="45">
        {% endif %}

      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1" style="z-index:999999;">

      <ul class="nav navbar-nav nav-left" style="margin-top:3px;">
        <li><a href="/about" target="_blank">About</a></li>
        <li><a href="/partners" target="_blank">Partners</a></li>
        <li><a href="/blog" target="_blank">Blog</a></li>
        <li><a href="/faq" target="_blank">Help</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="z-index:999999;">

        <li style="z-index:999999;"><a style="z-index:999999;font-size:14px !important;margin-top:6px;margin-right:15px;" href="#" id="how-fandemic-works" data-toggle="modal" data-target="#customerServiceModal" class="btn {% if cat == 'beauty' %}beautify{% endif %}">Questions?</a></li>
        <!-- <li style="z-index:999999;"><a style="z-index:999999;font-size:14px !important;margin-top:6px;" href="#" data-toggle="modal" data-target="#how-fandemic-works" class="btn {% if cat == 'beauty' %}beautify{% endif %}"><i class="fa fa-play" aria-hidden="true"></i> Watch The Video</a></li> -->

      </ul>
    </div>

</nav>
  </div>
