<div id="step4" class="steps container" style="margin-top:30px;display:none;">



    <div class="row">
    <div class="col-md-8">

      <div class="explain-step" style="padding-left:0px;">
        <!--<h3 class="subtitle">How will your product label look?</h3>-->
        <h3 class="subtitle">Create a Brand</h3><hr>


        <div class="row">
          <div class="col-md-12">
            <h4 style="color:#8d8d8d;">1. Do you have a <strong>logo</strong>?</h4>
            <!--<input type="checkbox" data-off-label="NO" data-on-label="YES" data-group-cls="btn-group-md">-->
            <button id="no"  class="btn btn-default btn-lg">NO</button>
            <button id="yes" class="btn btn-default btn-lg">YES</button>
          </div>

        </div>

        <br><br>


        <div class="row">

        <div class="col-md-12">
        <h4 style="color:#8d8d8d;">2. Name Your Brand & Box</h4>
      </div>

        <div class="col-md-4">
        <label class="light" style="font-weight:300;">Brand Name</label>
        <input ng-value="box.brand_name" ng-model="box.brand_name" type="text" class="form-control" style="font-size:16px;height:40px;font-weight:400;-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
        </div>

        <div class="col-md-4">
        <label class="light" style="font-weight:300;">Box Name</label>
        <input ng-value="box.box_name" ng-model="box.box_name" type="text" class="form-control" style="font-size:16px;height:40px;font-weight:400;;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
      </div>

    </div>

      <br>


          <div id="logo-upload" style="display:none;">

            <br>
            <h4 style="color:#8d8d8d;">3b. Upload your logo
            </h4>
            <input style="margin-top:26px;" type="file" name="fileToUpload" id="fileToUpload">

          </div>

      </div>

        <div class="row" style="font-size:22px;color:#adadad;font-weight:300;">
          <div class="col-md-12">

            <div id="font-designer" class="row" style="display:none;">

              <div class="col-md-12">
              <h4 style="color:#8d8d8d;">3a. Design the label
              </h4>
            </div>




          <div class="col-md-3">
            <label class="light" style="font-weight:300;">Primary Font</label>
            <select name="cars" class="form-control" ng-model="box.font1" style="font-size:16px;height:40px;font-weight:400;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
              <option style="font-family: 'Alex Brush';" value="font-family: 'Alex Brush'" selected>Alex Brush</option>
              <option style="font-family: 'Alfa Slab One';" value="font-family: 'Alfa Slab One'">Alfa Slab One</option>
              <option style="font-family: 'Antic Slab';" value="font-family: 'Antic Slab'">Antic Slab</option>
              <option style="font-family: 'Arbutus Slab';" value="font-family: 'Arbutus Slab'">Arbutus Slab</option>
              <option style="font-family: 'Arvo';" value="font-family: 'Arvo'">Arvo</option>
              <option style="font-family: 'Bad Script';" value="font-family: 'Bad Script'">Bad Script</option>
              <option style="font-family: 'Bevan';" value="font-family: 'Bevan'">Bevan</option>
              <option style="font-family: 'Bitter';" value="font-family: 'Bitter'">Bitter</option>
              <option style="font-family: 'Crete Round';" value="font-family: 'Crete Round'">Crete Round</option>
              <option style="font-family: 'Cutive';" value="font-family: 'Cutive'">Cutive</option>
              <option style="font-family: 'Droid Sans';" value="font-family: 'Droid Sans'">Droid Sans</option>
              <option style="font-family: 'Glegoo';" value="font-family: 'Glegoo'">Glegoo</option>
              <option style="font-family: 'Graduate';" value="font-family: 'Graduate'">Graduate</option>
              <option style="font-family: 'Kreon';" value="font-family: 'Kreon'">Kreon</option>
              <option style="font-family: 'Lato';" value="font-family: 'Lato'">Lato</option>
              <option style="font-family: 'Life Savers'';" value="font-family: 'Life Savers'">Life Savers</option>
              <option style="font-family: 'Lobster';" value="font-family: 'Lobster'">Lobster</option>
              <option style="font-family: 'Maiden Orange';" value="font-family: 'Maiden Orange'">Maiden Orange</option>
              <option style="font-family: 'Monsieur La Doulaise';" value="font-family: 'Monsieur La Doulaise'">Monsieur La Doulaise</option>
              <option style="font-family: 'Montserrat';" value="font-family: 'Montserrat'">Montserrat</option>
              <option style="font-family: 'Muli';" value="font-family: 'Muli'">Muli</option>
              <option style="font-family: 'Nixie One';" value="font-family: 'Nixie One'">Nixie One</option>
              <option style="font-family: 'Noto Sans';" value="font-family: 'Noto Sans'">Noto Sans</option>
              <option style="font-family: 'Open Sans';" value="font-family: 'Open Sans'">Open Sans</option>
              <option style="font-family: 'Pacifico';" value="font-family: 'Pacifico'">Pacifico</option>
              <option style="font-family: 'Peralta';" value="font-family: 'Peralta'">Peralta</option>
              <option style="font-family: 'Podkova';" value="font-family: 'Podkova'">Podkova</option>
              <option style="font-family: 'PT Sans';" value="font-family: 'PT Sans'">PT Sans</option>
              <option style="font-family: 'PT Sans Narrow';" value="font-family: 'PT Sans Narrow'">PT Sans Narrow</option>
              <option style="font-family: 'PT Serif Caption';" value="font-family: 'PT Serif Caption'">PT Serif Caption</option>
              <option style="font-family: 'Quicksand';" value="font-family: 'Quicksand'">Quicksand</option>
              <option style="font-family: 'Roboto';" value="font-family: 'Roboto'">Roboto</option>
              <option style="font-family: 'Roboto Slab';" value="font-family: 'Roboto Slab'">Roboto Slab</option>
              <option style="font-family: 'Rokkitt';" value="font-family: 'Rokkitt'">Rokkitt</option>
              <option style="font-family: 'Sanchez';" value="font-family: 'Sanchez'">Sanchez</option>
              <option style="font-family: 'Source Code Pro';" value="font-family: 'Source Code Pro'">Source Code Pro</option>
              <option style="font-family: 'Stint Ultra Condensed';" value="font-family: 'Stint Ultra Condensed'">Stint Ultra Condensed</option>
              <option style="font-family: 'Ubuntu';" value="font-family: 'Ubuntu'">Ubuntu</option>
              <option style="font-family: 'Vast Shadow';" value="font-family: 'Vast Shadow'">Vast Shadow</option>
            </select>
          </div>


          <div class="col-md-3">
            <label class="light" style="font-weight:300;">Secondary Font</label>
            <select name="cars" class="form-control" ng-model="box.font2" style="font-size:16px;height:40px;font-weight:400;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
              <option selected style="font-family: 'Alex Brush';" value="font-family: 'Alex Brush'" selected>Alex Brush</option>
              <option style="font-family: 'Alfa Slab One';" value="font-family: 'Alfa Slab One'">Alfa Slab One</option>
              <option style="font-family: 'Antic Slab';" value="font-family: 'Antic Slab'">Antic Slab</option>
              <option style="font-family: 'Arbutus Slab';" value="font-family: 'Arbutus Slab'">Arbutus Slab</option>
              <option style="font-family: 'Arvo';" value="font-family: 'Arvo'">Arvo</option>
              <option style="font-family: 'Bad Script';" value="font-family: 'Bad Script'">Bad Script</option>
              <option style="font-family: 'Bevan';" value="font-family: 'Bevan'">Bevan</option>
              <option style="font-family: 'Bitter';" value="font-family: 'Bitter'">Bitter</option>
              <option style="font-family: 'Crete Round';" value="font-family: 'Crete Round'">Crete Round</option>
              <option style="font-family: 'Cutive';" value="font-family: 'Cutive'">Cutive</option>
              <option style="font-family: 'Droid Sans';" value="font-family: 'Droid Sans'">Droid Sans</option>
              <option style="font-family: 'Glegoo';" value="font-family: 'Glegoo'">Glegoo</option>
              <option style="font-family: 'Graduate';" value="font-family: 'Graduate'">Graduate</option>
              <option style="font-family: 'Kreon';" value="font-family: 'Kreon'">Kreon</option>
              <option style="font-family: 'Lato';" value="font-family: 'Lato'">Lato</option>
              <option style="font-family: 'Life Savers'';" value="font-family: 'Life Savers'">Life Savers</option>
              <option style="font-family: 'Lobster';" value="font-family: 'Lobster'">Lobster</option>
              <option style="font-family: 'Maiden Orange';" value="font-family: 'Maiden Orange'">Maiden Orange</option>
              <option style="font-family: 'Monsieur La Doulaise';" value="font-family: 'Monsieur La Doulaise'">Monsieur La Doulaise</option>
              <option style="font-family: 'Montserrat';" value="font-family: 'Montserrat'">Montserrat</option>
              <option style="font-family: 'Muli';" value="font-family: 'Muli'">Muli</option>
              <option style="font-family: 'Nixie One';" value="font-family: 'Nixie One'">Nixie One</option>
              <option style="font-family: 'Noto Sans';" value="font-family: 'Noto Sans'">Noto Sans</option>
              <option style="font-family: 'Open Sans';" value="font-family: 'Open Sans'">Open Sans</option>
              <option style="font-family: 'Pacifico';" value="font-family: 'Pacifico'">Pacifico</option>
              <option style="font-family: 'Peralta';" value="font-family: 'Peralta'">Peralta</option>
              <option style="font-family: 'Podkova';" value="font-family: 'Podkova'">Podkova</option>
              <option style="font-family: 'PT Sans';" value="font-family: 'PT Sans'">PT Sans</option>
              <option style="font-family: 'PT Sans Narrow';" value="font-family: 'PT Sans Narrow'">PT Sans Narrow</option>
              <option style="font-family: 'PT Serif Caption';" value="font-family: 'PT Serif Caption'">PT Serif Caption</option>
              <option style="font-family: 'Quicksand';" value="font-family: 'Quicksand'">Quicksand</option>
              <option style="font-family: 'Roboto';" value="font-family: 'Roboto'">Roboto</option>
              <option style="font-family: 'Roboto Slab';" value="font-family: 'Roboto Slab'">Roboto Slab</option>
              <option style="font-family: 'Rokkitt';" value="font-family: 'Rokkitt'">Rokkitt</option>
              <option style="font-family: 'Sanchez';" value="font-family: 'Sanchez'">Sanchez</option>
              <option style="font-family: 'Source Code Pro';" value="font-family: 'Source Code Pro'">Source Code Pro</option>
              <option style="font-family: 'Stint Ultra Condensed';" value="font-family: 'Stint Ultra Condensed'">Stint Ultra Condensed</option>
              <option style="font-family: 'Ubuntu';" value="font-family: 'Ubuntu'">Ubuntu</option>
              <option style="font-family: 'Vast Shadow';" value="font-family: 'Vast Shadow'">Vast Shadow</option>
            </select>
          </div>

          </div>
          <!--<hr>-->

          <div class="row">
            <div class="col-md-4 color-selector">
              <label class="light" style="font-weight:300;">Font Color</label>
              <input ng-model="box.font_color" value="FFA3A3" class="jscolor form-control" style="font-size:16px;height:40px;font-weight:400;-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
            </div>
          </div>


          <div class="col-md-12" id="design-display" style="display:none;">


            <div class="row">
              <div class="col-md-4">
                <div class="sticker" style="width:200px;height:200px;margin:0 auto;margin-top:50px;border-radius:4px;border:1px solid;border-color:#1d1d1d;display:table;">
                  <div class="label">
                    <span class="box-brand box-brand1" ng-bind="box.brand_name" style="{a box.font1 a}; color:#{a box.font_color a};"></span>
                    <span class="box-name" ng-bind="box.box_name" style="{a box.font2 a}; color:#{a box.font_color a};"></span>
                  </div>
                  </div>
                  <p class = "label-indicator" style="margin-top:3em">This will be on your products</p>
                  <p class="light" style="font-weight:300;font-size:10px;text-align:center;"><br>*label is heat transfered directly to products</p>

                </div>


              <div class="col-md-8">

                <div id="myBox">
                  <div class="label2">
                    <span class="box-brand box-brand2" ng-bind="box.brand_name" style="{a box.font1 a}; color:#{a box.font_color a};"></span>
                    <span class="box-name" ng-bind="box.box_name" style="{a box.font2 a}; color:#{a box.font_color a};"></span>
                  </div>
                  <img style="width: 70%;display:block;margin: 0 auto;" src="/static/img/packaging/{a box.style.img a}">
                </div>


                <p class = "label-indicator">This will be how your mailer box will look</p>

              </div>

            </div>

          </div>
        </div>
      </div>


      <br><br><br>

  </div>


  <div class="bottom-fixed-menu">

    <button data-toggle="modal" data-target="#summary-modal" class="btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %}
                    view-btn" >View Box</button>

    <button id="next-btn4" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">Next</button>

  </div>



</div>

  <br><br><br>

    <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>

<script>

$('#no').click(function(){
  $('#font-designer').show();
  $('#logo-upload').hide();
  $('#design-display').show();
  $('#no').css("background-color", "#D2AFC9");
  $('#yes').css("background-color", "#fff");
  $('#no').css("color", "#fff");
  $('#yes').css("color", "#1d1d1d");
});

$('#yes').click(function(){
  $('#font-designer').hide();
  $('#logo-upload').show();
  $('#design-display').show();
  $('#yes').css("background-color", "#D2AFC9");
  $('#yes').css("color", "#fff");
  $('#no').css("background-color", "#fff");
  $('#no').css("color", "#1d1d1d");

  $('.box-brand').html('');
  $('.box-name').html('');
});

//Load and display image
$(function () {
    $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
});

function imageIsLoaded(e) {
    $('.box-brand1').html('<img class="logo-box" src="'+e.target.result+'">');
    $('.box-brand2').html('<img class="logo-label" src="'+e.target.result+'">');

    $('.box-name').html('');

    var appElement = document.querySelector('[ng-app=app]');
    $scope = angular.element(appElement).scope();
    $scope = $scope.$$childHead; // add this and it will work
    $scope.$apply(function() {
        $scope.box.logo = e.target.result;
    });

};




$(function() {
  $("#next-btn4").on('click', function () {


  });
});
</script>
