<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="Use a desktop or tablet">
  <meta name="author" content="Fandemic">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

{% include 'header.html' %}

<body>
<br><br><br>
<img src="../static/img/logo-nav_fullsize.png" class="img-responsive" alt="Fandemic">
<hr>
<h1 style="text-align:center;">
  Please build your box on <strong>desktop</strong> or <strong>tablet</strong>!
</h1>
</body>
<br><br><br><br><br><br><br>

{% include 'footer.html' %}
</html>
