<!DOCTYPE html>
<html lang="en" ng-app="app">

<div id="main-loader" style="position:fixed;width:100%;height:100%;background-color:#fff;top: 0;
left: 0;z-index:999999999999;overflow:none;">

<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

<style>
@-webkit-keyframes pulsate {
   0% {-webkit-transform: scale(0.7, 0.7); opacity: 0.3;}
   50% {opacity: 0.6;}
   100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.3;}
}
</style>

<div style="position: absolute;width:100%;height:400px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;text-align:center;
    opacity: 0.0
    ">
<img width="200px"  style="" src="/static/img/fandemic.png">

<h2 style="font-family: 'Caveat', cursive;">Totally Loading Something Amazing..</h2 >

</div>

</div>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fandemic Design Studio</title>


  <link rel="manifest" href="/static/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Bootstrap Core CSS -->
  <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <link rel="stylesheet" href="/static/css/normalize.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <link rel="stylesheet" href="/static/css/builder-mobile.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css" media="screen">
  <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
      <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Alfa+Slab+One|Antic+Slab|Arbutus+Slab|Arvo" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bad+Script|Bevan|Bitter|Crete+Round|Cutive" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Glegoo|Graduate|Kreon|Lato" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Life+Savers|Lobster|Maiden+Orange|Monsieur+La+Doulaise|Montserrat|Muli" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=Nixie+One|Noto+Sans|Open+Sans|Pacifico" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Peralta|Podkova" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Serif+Caption|Quicksand|Roboto|Roboto+Slab" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rokkitt|Sanchez|Source+Code+Pro|Stint+Ultra+Condensed|Ubuntu|Vast+Shadow" rel="stylesheet">







   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="/static/js/sticker.min.js"></script>
   <script src="/static/js/jscolor.min.js"></script>
   <script src="/static/js/html2canvas.js"></script>
   <script src="/static/js/html2canvas.js"></script>






   <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Kaushan+Script|Lobster|Roboto|Pacifico|Slabo+27px|Yellowtail|Petit+Formal+Script|Finger+Paint" rel="stylesheet">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.4/js/ion.rangeSlider.min.js"></script>

   <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

     <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js"></script>
    <!-- In <head> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css" rel="stylesheet">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300i|Bilbo+Swash+Caps|Calligraffitti|Caveat|Courgette|Knewave|Marck+Script|Niconne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    {% include 'analytics.html' %}

</head>

<script>
$(window).load(function() {
		// Animate loader off screen
		$("#main-loader").fadeOut("slow");
	});
</script>

<img width="150px" id="big-loader" src="/static/img/loader.gif" style="position:fixed;z-index:99999;top:40%;left:45%;display:none;">

<body ng-controller="builder" style="background-color:#F1F1F1">

  {% include('mobile/builder/nav.html') %}


      <section class="image" id="form" style="background-color:#fff;">

        {% include('builder/crumbs.html') %}

        <div class="builder-container" style="min-height:400px;">



          {% include('mobile/builder/step1_products.html') %}

          {% include('mobile/builder/step2_design.html') %}

          {% include('mobile/builder/step3_label.html') %}

          {% include('mobile/builder/step4_finish.html') %}

          {% include('mobile/builder/step5_confirm.html') %}

          {% include('mobile/builder/summary.html') %}

          {% include 'launch-store-modal.html' %}

        </div>

      </section>

      <!--
      <div class="gallery">

        <div class="product-photo">
          <img src="/static/img/beauty_slider/1.jpg">
        </div>

        <div class="product-photo">
          <img src="/static/img/beauty_slider/6.jpg">
        </div>

        <div class="product-photo">
          <img src="/static/img/beauty_slider/3.jpg">
        </div>

        <div class="product-photo">
          <img src="/static/img/beauty_slider/2.jpg">
        </div>

    </div>
    -->



  <!-- Footer -->
  <footer class="footer" style="margin-top:2px;margin-bottom:60px;">
    <div class="row">

      <p style="text-align:center;color:#4d4d4d; font-size:16px;"><small>All products are <strong>cruelty free</strong> & <strong>not tested on animals</strong></small></p>

    </div>
    <div class="row">
      <p style="text-align:center;color:#4d4d4d;font-size:14px;"><small>© 2016 Fandemic Inc. | All Rights Reserved | <a href="../terms">Terms & Conditions</a></small></p>
    </div>
  </footer>

</body>

</html>

{% include 'howfandemicworks-modal.html' %}
{% include 'builder/faq-modal.html' %}





{% if box_items|length != 0 %}
  <script>
  $('#collapse2').collapse("show");
  </script>
{% endif %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slider.js"></script>
<script src="/static/js/builder.js"></script>

<script src="/static/js/selectFx.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>

<script>
$('.variations-modal').on("show.bs.modal", function () {
    $(this).find('.lazy_load').each(function(){
        var img = $(this);
        img.attr('src', img.data('src'));
    });
});
</script>
