<!doctype html>

<html lang="en" class="container wrapper">

<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="Use a desktop or tablet">
  <meta name="author" content="Fandemic">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

{% include 'header.html' %}

<body>
  <!--navigation-->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">
          <img class="logo-nav" alt="logo" src="../static/img/logo-nav_fullsize_wordart.png" style="padding-top:5px" width="124" height="45">
          <img class="logo-head" width="150px" alt="logo" src="../static/img/logowhite.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav nav-left">
          <li><a style="font-weight:600;" href="/about">About</a></li>
          <li><a style="font-weight:600;" href="/partners">Partners</a></li>
          <li><a style="font-weight:600;" href="/benefits">Benefits</a></li>
          <li><a style="font-weight:600;" href="/faq">Help</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#how-fandemic-works" class="btn">How Fandemic Works</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--navigation end-->
  <section class="">
  <br>

  <div class="row" style="text-align:center;">
    <img id="user-img" style="width: 40%;border-radius:50%;text-align:center;margin:0 auto;" src="/static/img/profile.png" ng-src="{a box.star.img_url a}" alt="benefits of product">
  </div>
  <hr>
  <div class="row">
    <h3 style="font-size:27px; padding-left:2em; padding-right:2em; text-align:center;color:#1d1d1d;">
       <strong>Beauty Box Design Studio</strong> is not available for mobile devices!
    </h3>


  </div>
  <br>
  <div style="text-align:center;">Click The <strong>Remind Me</strong> and we will send you an email reminding you to check this out on your computer!</div>
<div id="email-found-mobile" class="row" style="padding-top:1em;text-align:center;">
    <p id="notify" style="display:none;text-align:center;font-size:10px;">Thanks! We will send you an email reminder later!</p>
  <button id="remind" class="btn btn-success btn-lg next-btn btn-nav btn-beauty" style="background-color: #7BDC87; font-weight:700;25px;">Send Reminder In 1 Hour!</button>
</div>
<div id="email-not-found-mobile" class="row" style="padding-top:2em; margin: 0 7% 0 10%;">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Enter Email...">
    <span class="input-group-btn">
      <button style="padding: 17px 24px;" class="btn btn-secondary" type="button">Remind Me</button>
    </span>
  </div>
</div>
<br><br><br>

<div class="gallery">

  <div class="product-photo">
    <img src="/static/img/beauty_slider/1.jpg">
  </div>

  <div class="product-photo">
    <img src="/static/img/beauty_slider/6.jpg">
  </div>

  <div class="product-photo">
    <img src="/static/img/beauty_slider/3.jpg">
  </div>

  <div class="product-photo">
    <img src="/static/img/beauty_slider/2.jpg">
  </div>

</div>
</section>


</body>

<!-- Footer -->
<footer class="footer" style="margin-top:2px;width:100%;">
  <div class="row">

  </div>
  <div class="row">
    <p style="text-align:center;color:#4d4d4d"><small>© 2016 Fandemic Inc. | All Rights Reserved | <a href="../terms">Terms & Conditions</a></small></p>
  </div>
</footer>


</html>

<script src="/static/js/jquery-1.12.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/landing-page/waypoints.min.js"></script>
<script src="/static/js/landing-page/jquery.animateNumber.min.js"></script>
<script src="/static/js/landing-page/waypoints-sticky.min.js"></script>
<script src="/static/js/landing-page/retina.min.js"></script>
<script src="/static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="/static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/landing-page/main.js"></script>
<script src="/static/js/landing-page/lightslider.js"></script>

<script>
var pageUrl = window.location.href;
var StarIdURL = pageUrl.split('#')[1];
if (pageUrl.includes("#")){
  $('#email-found-mobile').show();
  $('#email-not-found-mobile').hide();
}
else {
  $('#email-not-found-mobile').show();
  $('#email-found-mobile').hide();
}



$('#remind').on( "click", remind );

function remind(){
  var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character

  $.ajax({
     url: '/builder-remind-mobile',
     data: {id: hash},
     type: 'GET',
     success: function(response) {
      console.log(response);
     },
     error: function(error) {
         console.log(error);
     },
     complete: function() {
         $('#remind').hide();
         $('#notify').show();
     }
 });
}



$(document).ready(function() {

     //extract the id of the user from the URL
     if(window.location.hash) {
         var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character

         $.ajax({
            url: '/builder-alert-mobile',
            data: {id: hash},
            type: 'GET',
            success: function(response) {
              data = JSON.parse(response);
              $('#user-img').attr("src", data['img_url']);
            },
            error: function(error) {
                console.log(error);
            }
        });

     } else {
         // No hash found
     }



   });



</script>
