<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{star.name}} Official Store</title>
  <meta http-equiv="cleartype" content="on">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <script src="../static/js/jquery-1.12.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="../static/js/velocity.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/slideout.min.js"></script>
  <script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>


  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/shop.css">
  <link rel="stylesheet" href="../static/css/shop-mobile.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/landing-page/magnific-popup.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/static/css/social-share-kit.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://js.braintreegateway.com/js/braintree-2.29.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script src="/static/js/shop.js"></script>



  <meta property="og:image" content="{{star.image.profile}}">

</head>




<script>
  var price = {{star.campaigns[0].price}};
  var star_id = '{{star.id}}';
  var campaign_id = '{{star.campaigns[0].id}}';
  var end_time = {{star.campaigns[0].end_time}};
</script>

<!-- MOBILE HTML -->
<body id="mobile" ng-controller="shop">

  <div id="loading"> Please Wait.. Order Processing...</div>
  <script> $('#loading').hide();</script>


  {% if star.campaigns[0].status == 'mock' %}
  <div class="top-alert-bar" style="position:fixed;height:40px;width: 100%;z-index:101;"><strong>THIS IS A MOCK STORE</strong></div>
  <style>
  .nav{
    top:40px;
  }
  </style>
  {% elif star.campaigns[0].status == 'pending' %}
  <div class="top-alert-bar" style="position:fixed;height:40px;width: 100%;z-index:101;"><strong>THIS STORE IS PENDING</strong></div>
  <style>
  .nav{
    top:40px;
  }
  </style>
  {% elif star.campaigns[0].status == 'failed' %}
  <div class="top-alert-bar" style="position:fixed;height:40px;width: 100%;z-index:101;"><strong>Campaign Ended: not funded</strong></div>
  <style>
  .nav{
    top:40px;
  }
  </style>
  {% elif star.campaigns[0].status == 'success' %}
    <div class="top-alert-bar" style="position:fixed;height:40px;width: 100%;z-index:101;background-color:#5ec45e;"><strong>Campaign Funded Successfully</strong></div>
    <style>
    .nav{
      top:40px;
    }
    </style>
  {% endif %}

  <div id="menu" style="background:url(/static/img/live/{{star.id}}/bg.jpg);background-position:cover;">

    <img class="profile-img" src="/static/img/live/{{star.id}}/profile.png" style="border-radius: 50%;padding:10px;">


    {% if star.campaigns[0].style.color_primary != '' %}
    <h4 class="title"  style="color:{{star.campaigns[0].style.color_primary}};">{{star.name}}</h4>
    {% else %}
    <h4 class="title"  style="color:#cf67ad;">{{star.name}}</h4>
    {% endif %}
    <br>
    <div id="social-media">
      <a {% if star.campaigns[0].style.color_secondary %} style="color:{{star.campaigns[0].style.color_secondary}};" {% else %} style="color:#8d8d8d;" {% endif %} class="link" target="_blank" href="{{star.url.youtube}}"><i class="fa fa-youtube"></i></a>
      <a {% if star.campaigns[0].style.color_secondary %} style="color:{{star.campaigns[0].style.color_secondary}};" {% else %} style="color:#8d8d8d;" {% endif %} class="link" target="_blank" href="{{star.url.instagram}}"><i class="fa fa-instagram"></i></a>
      <a {% if star.campaigns[0].style.color_secondary %} style="color:{{star.campaigns[0].style.color_secondary}};" {% else %} style="color:#8d8d8d;" {% endif %} class="link" target="_blank" href="{{star.url.facebook}}"><i class="fa fa-facebook"></i></a>
      <a {% if star.campaigns[0].style.color_secondary %} style="color:{{star.campaigns[0].style.color_secondary}};" {% else %} style="color:#8d8d8d;" {% endif %} class="link" target="_blank" href="{{star.url.twitter}}"><i class="fa fa-twitter"></i></a>
    </div>
    {% if star.campaigns[0].campaign_video %}
    <div class="campaign_video">
      <a href="#" data-toggle="modal" data-target="#demonstration-video" >
        <i class="fa fa-play-circle" aria-hidden="true" style="text-shadow: 3px 2px 1px #8d8d8d;padding-top:5%;font-size: 5em;color:{% if star.campaigns[0].style.color_secondary %}{{star.campaigns[0].style.color_secondary}}{% else %}#8d8d8d{% endif %}"></i>
      </a>
    </div>
    {% endif %}
    <br><br>


    <!--{% if star.video_url != '' %}
      <p style="color:white">{{star.name}} decided to make a video for you all! Check it out here:<p>
      <a href="{{star.url.video_url}}" class="play litebox-hero">
        <i class="fa fa-play-circle button" aria-hidden="true" style="color:#7d7d7d; font-size: 3.5em; padding-top:.3em"></i>
      </a>
    {% endif %}-->
  </div>



  <div class="nav">
      <img class="star-btn" width="50px" src="/static/img/live/{{star.id}}/profile.png" >
    <div class="name">
      <img style="height:40px;margin-top:-6px;" src="../static/img/live/{{star.id}}/logo.png">
    </div>
    <!--<div class="cart-btn"><i class="fa fa-bars" aria-hidden="true"></i></div>-->
  </div>

<!-- FIXED PREORDER BUTTON -->
<style>

.col-xs-4{
  padding-left: 11px !important;
  padding-right: 11px !important;
}

@media screen and (max-width: 350px) {
    #preorder-btn {
        width:50% !important;
    }
    .col-xs-4{
      padding-left: 3px !important;
      padding-right: 3px !important;
    }
}
</style>
<div class="bottom-btn" style="position:fixed;bottom:0px;left:0px;width:100%;padding:2%;background-color:#fff;z-index:9;">
  <span style="float:left;margin-top:1px;">
    <span style="">SALE PRICE:</span> <strong style="color:#7CC67C;">${{star.campaigns[0].price | int}}</strong><br>
    <span  id="timer2" style="color:#5d5d5d;"></span>
  </span>
  {% if star.campaigns[0].charity %}
  <div class="charity">
    <p>
      ${{donations}}.00
      has been donated to <a href="{{star.campaigns[0].charity[0].URL}}">{{star.campaigns[0].charity[0].name}}</a>
  </div>
  {% endif %}

<!--
{% if star.campaigns[0].status == 'pending' %}
  <button id="preorder-btn" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="opacity: 0.65; cursor: not-allowed;border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">ACTIVATE STORE</button>
{% endif %}
{% if star.campaigns[0].status == 'mock' %}
<a href="../builder">
  <button id="preorder-btn" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">BUILD BOX</button>
</a>
{% endif %}

{% if star.campaigns[0].status == 'live' %}
<button id="preorder-btn" data-toggle="modal" data-target="#payment-modal" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">PRE-ORDER</button>
{% endif %}
-->

{% if star.campaigns[0].status == 'mock' %}
<a href="/builder">
  <button id="preorder-btn" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">CREATE BOX</button>
</a>
{% elif star.campaigns[0].status == 'pending' %}
<button id="preorder-btn" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="opacity: 0.65; cursor: not-allowed;border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">ACTIVATE STORE</button>
{% elif star.campaigns[0].status == 'live' %}
<button id="preorder-btn" data-toggle="modal" data-target="#payment-modal" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">PRE-ORDER</button>
{% elif star.campaigns[0].status == 'success' or star.campaigns[0].status == 'failed'%}
<a href="/builder">
  <button id="preorder-btn" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style="border-radius:4px;font-weight:600;margin-bottom20px;font-size:22px;background-color: {{star.campaigns[0].style.btn_color}} !important; border: #7BDC87 !important; width: 60%;float:right;">CREATE A BOX</button>
</a>
{% endif %}

</div>

<main id="panel">

  <div class="content">


    <div class="row" style="text-align:center;">

      <div class="col-md-12" style="padding:0px;">
        <div class="thumbnail" style="width:100%;padding:10px;background-color:#fff;border:0px;margin-bottom:0px;" ng-show="view_mode == 'box'">

        <!--<img width="60px" src="/static/img/cruelty_free.png" style="position:absolute;left:5px;top:5px;opacity:.6;">-->

        <h3 >{{star.campaigns[0].box_name}}</h3>
        <hr>



        <div>

            <!--<img alt="" class="product-img img-responsive" src="/static/img/beauty-items/61-61.png" style="width:100%;padding:10px;">-->
            <img class="img-responsive" style="width:60%;padding:5px;margin: 0 auto;" src="../static/img/live/{{star.id}}/box.png">


        </div>
        <div  style="padding:20px;text-align:left;color:#4d4d4d;">
          <h4>About This Box</h4>
          <p>{{star.campaigns[0].description}}</p>
        </div>


        </div>

        <div class="thumbnail" style="width:100%;min-height:435px;padding:10px;background-color:#fff;border:0px;margin-bottom:0px;" ng-show="view_mode == 'product'">

        <button ng-click="view_mode = 'box'" class="btn btn-default" style="position:absolute;right:20px;top:27px;font-size:10px;">Box View</button>

        <!--<img width="60px" src="/static/img/cruelty_free.png" style="position:absolute;left:5px;top:5px;opacity:.6;">-->

        <h3>Date Night Ready</h3>
        <hr>



        <div >

            <!--<img alt="" class="product-img img-responsive" src="/static/img/beauty-items/61-61.png" style="width:100%;padding:10px;">-->
            <img class="img-responsive" style="width:60%;padding:5px;margin: 0 auto;" src="{a product_view.img_url a}">


        </div>
        <div style="padding:20px;text-align:left;color:#4d4d4d;">
          <h4>{a product_view.name a}<br><span style="margin-top:6px;color:#adadad;font-size:18px;font-weight:400;">{a product_view.variation a}<span></h4>
          <p>{a product_view.description a}</p>
        </div>


        </div>
      </div>



      <div class="col-md-12 ">

        <div class="items-listing">

          {% for p in star.campaigns[0].products %}
          <div class="col-xs-4" style="">
            <div class="thumbnail btn-product" style="margin-bottom:2px;"
                 ng-click="toggle_product({name:'{{p.name}}',img_url:'/static/img/live/{{star.id}}/{{p.item_num}}.png'
                                          {% if p.variation %},variation:'{{p.variation}}'{% endif %} ,description:'{{p.description}}'})">
              <img alt="" class="product-img img-responsive" src="/static/img/beauty-items/{{p.item_num}}.png" style="width:100%;padding:10px;">
            </div>
            <p style="font-size:9px;color:#8d8d8d;">{{p.name}}</p>
          </div>
          {% endfor %}

        </div>
      </div>




  </div>

<hr>

    <!--START OF CAMPAIGN INFO-->
    <div class="row" style="margin-top:20px;">

      <div class="col-md-12" style="padding:0px;">

        <div class="panel panel-default panel-summary" style="width:100%;border-radius: 0px;padding-bottom:20px;text-align:center;border:0px;box-shadow:none;">
          <!--<div class="panel-heading" style="background-color:#d1d1d1;color:#fff;border-radius:0px;text-align:center;font-size:20px;">
            <strong>CAMPAIGN</strong>
          </div>-->
          <div class="panel-body" style="padding-bottom:0px;padding-left:40px;padding-right:40px;border-bottom:0px;">
            <div class="">

              <!--
              <h3 class="time" style="font-size:18px;border: 2px solid #c1c1c1;padding:30px 10px;border-radius:2px;#cdcdcd;margin-top:2px;">
              <span id="timer" style="font-size:17px;"></span>

              <br>


                <span style="color:#cdcdcd;font-size:16px;">remaining</span>

              </h3>
            -->

              <h3 class="time" style="font-size:18px;border: 2px solid #c1c1c1;padding:30px 10px;border-radius:2px;#cdcdcd;margin-top:2px;">
              {% if star.campaigns[0].status == 'live' or star.campaigns[0].status == 'mock'%}
              <span id="timer"></span>
              <br>
                <span style="color:#cdcdcd;font-size:16px;">remaining</span>
              {% elif star.campaigns[0].status == 'pending' %}
              PENDING
              <br>
                <span style="color:#cdcdcd;font-size:16px;">timer will start upon activation</span>
              {% elif star.campaigns[0].status == 'success' %}
              COMPLETE
              <br>
                <span style="color:#cdcdcd;font-size:16px;">campaign was funded succesfully</span>
              {% elif star.campaigns[0].status == 'failed' %}
              COMPLETE
              <br>
                <span style="color:#cdcdcd;font-size:16px;">campaign was not fully funded</span>
              {% endif %}
              </h3>

              <div class="progress" style="margin-bottom:2px;">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     style="
                     {% if star.campaigns[0].num_orders >= 25 %}
                     width:102%;
                     {% else %}
                     width: {{ (star.campaigns[0].num_orders/25)*100 }}%;
                     {% endif %}

                     height:80px;margin-left:-2px;margin-top:-2px;">

                  <strong style="font-size:16px;">{{star.campaigns[0].num_orders}} orders</strong>
                </div>
              </div>


                <span class="light" style="font-size:12px;color:#c1c1c1;">at least 25 boxes must be ordered for this box to ship</span>


            </div>
          </div>

            <br>
            <h3><span style="">SALE PRICE:</span> <strong style="color:#7CC67C;">${{star.campaigns[0].price | int}}</strong></h3>
            <br>


          <h5 style="color:#adadad !important;margin-bottom:0px;">Help Spread The Word!</h5>
          <div class="ssk-group ssk-count ssk-round">
           <a href="" class="ssk ssk-facebook"></a>
           <a href="" class="ssk ssk-twitter"></a>
           <a href="" class="ssk ssk-google-plus"></a>
           <a href="" class="ssk ssk-pinterest"></a>
           <a href="" class="ssk ssk-tumblr"></a>
       </div>

        </div>


      </div>
    </div>


    <script>

    countdown.setLabels(
  	' milissegundo| sec| min| hr| day| semana| mês| ano| década| sec| milênio',
  	' milissegundos| sec| min| hrs| days| semanas| meses| anos| sec| séculos| milênios',
  	': ',
  	': ',
  	'agora');

    var timerId =
    countdown(
    new Date({{star.campaigns[0].end_time}}*1000),
    function(ts) {
    document.getElementById('timer').innerHTML = ts.toHTML("strong");
    },
    countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);

    var timerID2 =
    countdown(
    new Date({{star.campaigns[0].end_time}}*1000),
    function(ts) {
    document.getElementById('timer2').innerHTML = ts.toHTML("strong");
    },
    countdown.DAYS|countdown.HOURS|countdown.MINUTES);

    // later on this timer may be stopped
    //window.clearInterval(timerId);
    </script>





      <div class="modal-footer">
        <div class="row">

          <p style="text-align:center;color:#4d4d4d; font-size:16px;"><small>All products are <strong>cruelty free</strong>, <strong>not tested on animals</strong>, <br>and made with organic ingredients.</small></p>

        </div>
        <div class="row">
          <p style="text-align:center;color:#4d4d4d"><small>© 2016 Fandemic Inc. | All Rights Reserved | <a href="../terms">Terms & Conditions</a></small></p>
        </div>
        <br><br><br>
      </div>


    </div>




    </div>

    </main>


    <div id="payment-modal" class="modal fade" role="dialog">

      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

          <form id="checkout-form">

            <button type="button" class="close" data-dismiss="modal" style="font-size:40px;">&times;</button>


          <div class="modal-body">
            <div class="row">
              <div class="col-md-7" style="padding: 5px 50px;">

                <h4 class="modal-title">Checkout</h4>
                <p>{a total_price() | currency a} USD</0>

                  <hr>

                <div class='row'>
                  <div class='col-xs-6'>
                    <label class='control-label'>Email</label>
                    <input id="email" class='form-control' size='30' type='text' ng-model="data.customer.email">
                  </div>
                  <div class='col-xs-6'>
                    <label class='control-label'>Full Name</label>
                    <input id="name" class='form-control' size='30' type='text' ng-model="data.customer.name">
                  </div>
                </div>
                <br>
                <div class='row'>
                  <div class='col-xs-12' style="padding: 0px 5px;">
                    <label class='control-label'>Shipping Address</label>
                    <input id="addr" class='form-control' size='200' type='text' ng-model="data.customer.addr" ng-model-options="{ debounce: 1500 }">
                  </div>
                </div>
                <br>
                <div class='row'>
                  <div class='col-xs-6'>
                    <label class='control-label'>City</label>
                    <input id="city" class='form-control' size='30' type='text' ng-model="data.customer.city" ng-model-options="{ debounce: 1500 }">
                  </div>
                  <div class='col-xs-6'>
                    <label class='control-label'>State</label>
                    <input id="state" class='form-control' size='30' type='text' ng-model="data.customer.state">
                  </div>
                </div>

                <br>
                <div class='row'>

                  <div class='col-xs-6'>
                    <label class='control-label'>Zip</label>
                    <input id="zip" class='form-control' size='30' type='text' ng-model="data.customer.zip" ng-model-options="{ debounce: 1500 }">
                  </div>
                  <div class='col-xs-6'>
                    <label class='control-label'>Country</label>
                    <div class="form-group" style="text-align:left;">
                      <select id="country" class="form-control" ng-model="data.customer.country">
                        <option value="AF">Afghanistan</option>
                      	<option value="AX">Åland Islands</option>
                      	<option value="AL">Albania</option>
                      	<option value="DZ">Algeria</option>
                      	<option value="AS">American Samoa</option>
                      	<option value="AD">Andorra</option>
                      	<option value="AO">Angola</option>
                      	<option value="AI">Anguilla</option>
                      	<option value="AQ">Antarctica</option>
                      	<option value="AG">Antigua and Barbuda</option>
                      	<option value="AR">Argentina</option>
                      	<option value="AM">Armenia</option>
                      	<option value="AW">Aruba</option>
                      	<option value="AU">Australia</option>
                      	<option value="AT">Austria</option>
                      	<option value="AZ">Azerbaijan</option>
                      	<option value="BS">Bahamas</option>
                      	<option value="BH">Bahrain</option>
                      	<option value="BD">Bangladesh</option>
                      	<option value="BB">Barbados</option>
                      	<option value="BY">Belarus</option>
                      	<option value="BE">Belgium</option>
                      	<option value="BZ">Belize</option>
                      	<option value="BJ">Benin</option>
                      	<option value="BM">Bermuda</option>
                      	<option value="BT">Bhutan</option>
                      	<option value="BO">Bolivia, Plurinational State of</option>
                      	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                      	<option value="BA">Bosnia and Herzegovina</option>
                      	<option value="BW">Botswana</option>
                      	<option value="BV">Bouvet Island</option>
                      	<option value="BR">Brazil</option>
                      	<option value="IO">British Indian Ocean Territory</option>
                      	<option value="BN">Brunei Darussalam</option>
                      	<option value="BG">Bulgaria</option>
                      	<option value="BF">Burkina Faso</option>
                      	<option value="BI">Burundi</option>
                      	<option value="KH">Cambodia</option>
                      	<option value="CM">Cameroon</option>
                      	<option value="CA">Canada</option>
                      	<option value="CV">Cape Verde</option>
                      	<option value="KY">Cayman Islands</option>
                      	<option value="CF">Central African Republic</option>
                      	<option value="TD">Chad</option>
                      	<option value="CL">Chile</option>
                      	<option value="CN">China</option>
                      	<option value="CX">Christmas Island</option>
                      	<option value="CC">Cocos (Keeling) Islands</option>
                      	<option value="CO">Colombia</option>
                      	<option value="KM">Comoros</option>
                      	<option value="CG">Congo</option>
                      	<option value="CD">Congo, the Democratic Republic of the</option>
                      	<option value="CK">Cook Islands</option>
                      	<option value="CR">Costa Rica</option>
                      	<option value="CI">Côte d'Ivoire</option>
                      	<option value="HR">Croatia</option>
                      	<option value="CU">Cuba</option>
                      	<option value="CW">Curaçao</option>
                      	<option value="CY">Cyprus</option>
                      	<option value="CZ">Czech Republic</option>
                      	<option value="DK">Denmark</option>
                      	<option value="DJ">Djibouti</option>
                      	<option value="DM">Dominica</option>
                      	<option value="DO">Dominican Republic</option>
                      	<option value="EC">Ecuador</option>
                      	<option value="EG">Egypt</option>
                      	<option value="SV">El Salvador</option>
                      	<option value="GQ">Equatorial Guinea</option>
                      	<option value="ER">Eritrea</option>
                      	<option value="EE">Estonia</option>
                      	<option value="ET">Ethiopia</option>
                      	<option value="FK">Falkland Islands (Malvinas)</option>
                      	<option value="FO">Faroe Islands</option>
                      	<option value="FJ">Fiji</option>
                      	<option value="FI">Finland</option>
                      	<option value="FR">France</option>
                      	<option value="GF">French Guiana</option>
                      	<option value="PF">French Polynesia</option>
                      	<option value="TF">French Southern Territories</option>
                      	<option value="GA">Gabon</option>
                      	<option value="GM">Gambia</option>
                      	<option value="GE">Georgia</option>
                      	<option value="DE">Germany</option>
                      	<option value="GH">Ghana</option>
                      	<option value="GI">Gibraltar</option>
                      	<option value="GR">Greece</option>
                      	<option value="GL">Greenland</option>
                      	<option value="GD">Grenada</option>
                      	<option value="GP">Guadeloupe</option>
                      	<option value="GU">Guam</option>
                      	<option value="GT">Guatemala</option>
                      	<option value="GG">Guernsey</option>
                      	<option value="GN">Guinea</option>
                      	<option value="GW">Guinea-Bissau</option>
                      	<option value="GY">Guyana</option>
                      	<option value="HT">Haiti</option>
                      	<option value="HM">Heard Island and McDonald Islands</option>
                      	<option value="VA">Holy See (Vatican City State)</option>
                      	<option value="HN">Honduras</option>
                      	<option value="HK">Hong Kong</option>
                      	<option value="HU">Hungary</option>
                      	<option value="IS">Iceland</option>
                      	<option value="IN">India</option>
                      	<option value="ID">Indonesia</option>
                      	<option value="IR">Iran, Islamic Republic of</option>
                      	<option value="IQ">Iraq</option>
                      	<option value="IE">Ireland</option>
                      	<option value="IM">Isle of Man</option>
                      	<option value="IL">Israel</option>
                      	<option value="IT">Italy</option>
                      	<option value="JM">Jamaica</option>
                      	<option value="JP">Japan</option>
                      	<option value="JE">Jersey</option>
                      	<option value="JO">Jordan</option>
                      	<option value="KZ">Kazakhstan</option>
                      	<option value="KE">Kenya</option>
                      	<option value="KI">Kiribati</option>
                      	<option value="KP">Korea, Democratic People's Republic of</option>
                      	<option value="KR">Korea, Republic of</option>
                      	<option value="KW">Kuwait</option>
                      	<option value="KG">Kyrgyzstan</option>
                      	<option value="LA">Lao People's Democratic Republic</option>
                      	<option value="LV">Latvia</option>
                      	<option value="LB">Lebanon</option>
                      	<option value="LS">Lesotho</option>
                      	<option value="LR">Liberia</option>
                      	<option value="LY">Libya</option>
                      	<option value="LI">Liechtenstein</option>
                      	<option value="LT">Lithuania</option>
                      	<option value="LU">Luxembourg</option>
                      	<option value="MO">Macao</option>
                      	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
                      	<option value="MG">Madagascar</option>
                      	<option value="MW">Malawi</option>
                      	<option value="MY">Malaysia</option>
                      	<option value="MV">Maldives</option>
                      	<option value="ML">Mali</option>
                      	<option value="MT">Malta</option>
                      	<option value="MH">Marshall Islands</option>
                      	<option value="MQ">Martinique</option>
                      	<option value="MR">Mauritania</option>
                      	<option value="MU">Mauritius</option>
                      	<option value="YT">Mayotte</option>
                      	<option value="MX">Mexico</option>
                      	<option value="FM">Micronesia, Federated States of</option>
                      	<option value="MD">Moldova, Republic of</option>
                      	<option value="MC">Monaco</option>
                      	<option value="MN">Mongolia</option>
                      	<option value="ME">Montenegro</option>
                      	<option value="MS">Montserrat</option>
                      	<option value="MA">Morocco</option>
                      	<option value="MZ">Mozambique</option>
                      	<option value="MM">Myanmar</option>
                      	<option value="NA">Namibia</option>
                      	<option value="NR">Nauru</option>
                      	<option value="NP">Nepal</option>
                      	<option value="NL">Netherlands</option>
                      	<option value="NC">New Caledonia</option>
                      	<option value="NZ">New Zealand</option>
                      	<option value="NI">Nicaragua</option>
                      	<option value="NE">Niger</option>
                      	<option value="NG">Nigeria</option>
                      	<option value="NU">Niue</option>
                      	<option value="NF">Norfolk Island</option>
                      	<option value="MP">Northern Mariana Islands</option>
                      	<option value="NO">Norway</option>
                      	<option value="OM">Oman</option>
                      	<option value="PK">Pakistan</option>
                      	<option value="PW">Palau</option>
                      	<option value="PS">Palestinian Territory, Occupied</option>
                      	<option value="PA">Panama</option>
                      	<option value="PG">Papua New Guinea</option>
                      	<option value="PY">Paraguay</option>
                      	<option value="PE">Peru</option>
                      	<option value="PH">Philippines</option>
                      	<option value="PN">Pitcairn</option>
                      	<option value="PL">Poland</option>
                      	<option value="PT">Portugal</option>
                      	<option value="PR">Puerto Rico</option>
                      	<option value="QA">Qatar</option>
                      	<option value="RE">Réunion</option>
                      	<option value="RO">Romania</option>
                      	<option value="RU">Russian Federation</option>
                      	<option value="RW">Rwanda</option>
                      	<option value="BL">Saint Barthélemy</option>
                      	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                      	<option value="KN">Saint Kitts and Nevis</option>
                      	<option value="LC">Saint Lucia</option>
                      	<option value="MF">Saint Martin (French part)</option>
                      	<option value="PM">Saint Pierre and Miquelon</option>
                      	<option value="VC">Saint Vincent and the Grenadines</option>
                      	<option value="WS">Samoa</option>
                      	<option value="SM">San Marino</option>
                      	<option value="ST">Sao Tome and Principe</option>
                      	<option value="SA">Saudi Arabia</option>
                      	<option value="SN">Senegal</option>
                      	<option value="RS">Serbia</option>
                      	<option value="SC">Seychelles</option>
                      	<option value="SL">Sierra Leone</option>
                      	<option value="SG">Singapore</option>
                      	<option value="SX">Sint Maarten (Dutch part)</option>
                      	<option value="SK">Slovakia</option>
                      	<option value="SI">Slovenia</option>
                      	<option value="SB">Solomon Islands</option>
                      	<option value="SO">Somalia</option>
                      	<option value="ZA">South Africa</option>
                      	<option value="GS">South Georgia and the South Sandwich Islands</option>
                      	<option value="SS">South Sudan</option>
                      	<option value="ES">Spain</option>
                      	<option value="LK">Sri Lanka</option>
                      	<option value="SD">Sudan</option>
                      	<option value="SR">Suriname</option>
                      	<option value="SJ">Svalbard and Jan Mayen</option>
                      	<option value="SZ">Swaziland</option>
                      	<option value="SE">Sweden</option>
                      	<option value="CH">Switzerland</option>
                      	<option value="SY">Syrian Arab Republic</option>
                      	<option value="TW">Taiwan, Province of China</option>
                      	<option value="TJ">Tajikistan</option>
                      	<option value="TZ">Tanzania, United Republic of</option>
                      	<option value="TH">Thailand</option>
                      	<option value="TL">Timor-Leste</option>
                      	<option value="TG">Togo</option>
                      	<option value="TK">Tokelau</option>
                      	<option value="TO">Tonga</option>
                      	<option value="TT">Trinidad and Tobago</option>
                      	<option value="TN">Tunisia</option>
                      	<option value="TR">Turkey</option>
                      	<option value="TM">Turkmenistan</option>
                      	<option value="TC">Turks and Caicos Islands</option>
                      	<option value="TV">Tuvalu</option>
                      	<option value="UG">Uganda</option>
                      	<option value="UA">Ukraine</option>
                      	<option value="AE">United Arab Emirates</option>
                      	<option value="GB">United Kingdom</option>
                      	<option value="US" selected>United States</option>
                      	<option value="UM">United States Minor Outlying Islands</option>
                      	<option value="UY">Uruguay</option>
                      	<option value="UZ">Uzbekistan</option>
                      	<option value="VU">Vanuatu</option>
                      	<option value="VE">Venezuela, Bolivarian Republic of</option>
                      	<option value="VN">Viet Nam</option>
                      	<option value="VG">Virgin Islands, British</option>
                      	<option value="VI">Virgin Islands, U.S.</option>
                      	<option value="WF">Wallis and Futuna</option>
                      	<option value="EH">Western Sahara</option>
                      	<option value="YE">Yemen</option>
                      	<option value="ZM">Zambia</option>
                      	<option value="ZW">Zimbabwe</option>
                      </select>
                    </div>


                  </div>

                  <div class="form-group" style="text-align:left;padding: 0px 5px;">
                    <label for="sel1">Shipping Method:</label>
                    <select class="form-control" id="shipping" ng-model="data.shipping_method"
                            ng-options="rate as (rate.service + '('+ rate.delivery_days  + ' days) +$' + rate.rate) for rate in rates">
                    </select>
                  </div>

                  <div style="text-align:center">
                    <p>Estimated Box Arrival Date:</p>
                    <i>{a estimated_arrival() a}</i>
                  </div>


                </div>

                <hr>


                  <div id="dropin-container"></div>



              </div>
              <div class="col-md-5" style="text-align:center;">



                  <hr>

                  <button id="submit" type="submit" class="btn btn-success btn-lg" style="width:100%;font-weight:800;">PAY NOW {a total_price_str() a}</button>
                  <br><br><br><br><br>

              </div>
            </div>
          </div>
          </form>
        </div>

      </div>

    </div>


    <!-- PAYMENT SUCCESS MODAL -->
    <div id="payment-success-modal" class="modal fade" role="dialog">

      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal">&times;</button>

          <div class="modal-body">

            <h2>ORDER SUCCESSFUL!</h2>
            <i>You will receive an email containing this information</i>
            <hr>
            <p><strong>Order ID:</strong> <span ng-bind="data.order_id"></span></p>
            <p><strong>Store:</strong> <span>{{star.name}}</span></p>
            <p><strong>Campaign:</strong> <span>{{star.campaigns[0].box_name}}</span></p>


            <hr>

            <p><span ng-bind="data.customer.name"></span></p>
            <p><span ng-bind="data.customer.email"></span></p>

            <p>
              <span ng-bind="data.customer.addr"></span>
              <br>
              <span ng-bind="data.customer.city"></span> <span ng-bind="data.customer.state"></span>, <span ng-bind="data.customer.zip"></span>
              <br>
              <span ng-bind="data.customer.country"></span>

            </p>

            <hr>

            Questions? Email us at contact@fandemic.co<br><br>

            <p style="font-size:12px;text-align:center;">If this campaign does not reach the minimum requirement of 10 orders,
            you will receive a full refund when the campaign is over.</p>

          </div>
        </div>
      </div>
    </div>






  <script>
    var menu = new Slideout({
      'panel': document.getElementById('panel'),
      'menu': document.getElementById('menu'),
      'padding': 256,
      'tolerance': 70,
      'side': 'left',
      'touch': false
    });

    //menu toggle
    document.querySelector('.star-btn').addEventListener('click', function() {
      menu.toggle();
      $('#cart-menu').css('z-index', -1);
      $('#menu').css('z-index', 0);
    });


  </script>



</body>

</html>







<!-- Payment Success Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="paymentSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Order Successful!</h2>
      <p>You should receive a receipt shortly</p>
      <hr>
      <p>If the product(s) you ordered do not reach a minimum order you get a full refund.</p>
      <br>
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within 24 hours. Thanks!</p>
    </div>
  </div>
</div>

<script>
$('span').popover({'trigger':'hover'});

braintree.setup('{{braintree}}', 'dropin', {
  container: 'dropin-container',
  paypal: {
    button: {
      type: 'checkout',
      singleUse: true,
      amount: 10.00,
      currency: 'USD'
    }
  },
  onPaymentMethodReceived: function(obj) {
    angular.element($('body')).scope().process_order(obj['nonce']);
    console.log( obj['nonce'] );
  }
});

</script>

<script>
var daysLeft = $("#timer strong:first-child").html()
if (daysLeft == undefined){
  daysLeft = '0 days'
}
daysLeft.replace(' ', ' more ');

{% if star.campaigns[0].social_share_twitter %}
  $('.ssk-twitter').attr('href', "https://twitter.com/intent/tweet?url=https://fandemic.co/{{star.id}}&text={{star.name}}'s box, {{star.campaigns[0].box_name}} is only available for " + daysLeft + "!&hashtags={{star.campaigns[0].social_share_twitter}}");
{% else %}
  $('.ssk-twitter').attr('href', "https://twitter.com/intent/tweet?url=https://fandemic.co/{{star.id}}&text={{star.name}}'s box, {{star.campaigns[0].box_name}} is only available for " + daysLeft + "!");
{% endif %}

$('.ssk-facebook').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=https://fandemic.co/{{star.id}}&amp;t={{star.id}} only has ' + daysLeft + ' left to sell their {{star.campaigns.box_name}} box!');
$('.ssk-google-plus').attr('href', 'https://plus.google.com/share?url=https://fandemic.co/{{star.id}}');
$('.ssk-pinterest').attr('href', 'http://pinterest.com/pin/create/button/?url=https://fandemic.co/{{star.id}}&amp;description={{star.id}} only has ' + daysLeft + ' left to sell their {{star.campaigns.box_name}} box!');
$('.ssk-tumblr').attr('href', 'http://www.tumblr.com/share?v=3&amp;u=https://fandemic.co/{{star.id}}&amp;t={{star.id}} only has ' + daysLeft + ' left to sell their {{star.campaigns.box_name}} box!');

</script>
{% include 'analytics.html' %}

{% if star.campaigns[0].campaign_video %}
  {% include 'demonstration-video-modal.html' %}
{% endif %}
