<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{star.name}} Official Store</title>
  <meta http-equiv="cleartype" content="on">
  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <script src="../static/js/jquery-1.12.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="../static/js/velocity.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/slideout.min.js"></script>

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/shop.css">
  <link rel="stylesheet" href="../static/css/shop-mobile.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>


{% include 'analytics.html' %}


<!-- MOBILE HTML -->
<body id="mobile">

  <div id="loading"> Please Wait.. Order Processing...</div>
  <script> $('#loading').hide();</script>

  <div id="menu">

    <img class="profile-img" src="{{star.image.profile}}">
    <h2 class="title">{{star.name}}</h2>
    <br>
    <div id="social-media">
      <a class="link" target="_blank" href="{{star.url.youtube}}"><i class="fa fa-youtube"></i></a>
      <a class="link" target="_blank" href="{{star.url.instagram}}"><i class="fa fa-instagram"></i></a>
      <a class="link" target="_blank" href="{{star.url.facebook}}"><i class="fa fa-facebook"></i></a>
      <a class="link" target="_blank" href="{{star.url.twitter}}"><i class="fa fa-twitter"></i></a>
    </div>
    <br><br>

    {% if star.stage != 'live' %}
    <button style="width:100%;border-radius:0px;" data-toggle="modal" data-target="#activateStoreModal" class="btn btn-success btn-activate" id="customButton">Stock Store</button>
    {% else %}
    <button style="width:100%;border-radius:0px;"data-toggle="modal" data-target="#customerServiceModal" class="btn btn-info btn-activate" id="customButton"><i class="fa fa-question-circle"></i> Customer Service</button>
    {% endif %}
  </div>


  <div id="cart-menu">

    <div class="cart-and-total">
          <h2 class="title">Cart</h2>

           <span class="money" style="font-size:16px;">Total: $<span class="total-cost">0.00</span></span>
    </div>

    <div id="cart" class="cart" class="well" style="max-height:160px;overflow:auto;padding:5px;">
      <span id="alert-cart-empty"><br><br>The cart is empty!<br>Add a product to the cart by clicking <br>

                                        <button class="btn btn-primary btn-add demo" role="button"><i class="fa fa-cart-plus"></i></button>
                                        <br>
                                      on a product card.</span>


    </div>

    <button class="btn btn-primary btn-checkout customButton" id="customButton"><i class="fa fa-check-circle-o"></i> Checkout</button>
  </div>



  <div class="nav">
      <img class="star-btn" width="50px" src="{{star.image.profile}}">
    <div class="name">
      {{star.name}}
    </div>
    <div class="cart-btn">
      <i class="fa fa-shopping-cart"></i><span class="num-items"></span>
    </div>
  </div>

<main id="panel">

  <div class="content">
    <div class="row">

      {% if star.stage != 'live' %}
      <div class="col-md-12">
        <div class="row-fluid">

          <div class="panel panel-activate fade in" role="alert">
            <div class="alert-text"><strong>Heads up {{star.name}}!</strong>
              <br>Click below to create your box!
            <br><br>
            <button data-toggle="modal" data-target="#activateStoreModal" class="btn btn-success btn-activate" id="customButton">Create My Box</button>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

      {% if star.stage != 'live' %}



      {% for p in products %}
      <div class="col-xs-12">
        <div class="thumbnail">
          <div class="card-header">

            <img width="30px" class="shipping-icon" style="opacity:.5;" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/shipping-icon.png">
            <div class="progress">
              <span class="progress-text" style="color:#9d9d9d;">0 Items Remaining! - <a href="#" data-toggle="modal" data-target="#activateStoreModal">Restock</a></span>
              <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0"
              aria-valuemin="0" aria-valuemax="100" style="100%">

              </div>
            </div>
          </div>
          <img class="product-picture"
          src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}"
          >


          {% if p.variations is defined %}
          <div class="row variations" style="margin-bottom:15px;">
              <div
                class="{% if p.variations.color is defined %}
                          col-md-6
                       {% else %}
                          col-md-12
                       {% endif %}
                          variation1">
                <div class="name"><span>Size</span></div>
                <select class="form-control">
                  {% for s in p.variations.size %}
                  <option>{{s}}</option>
                  {% endfor %}
                </select>
              </div>
              {% if p.variations.color is defined %}
              <div class="col-md-6 variation2">
                <div class="name"><span>color</span></div>
                <select class="form-control">
                    {% for c in p.variations.color %}
                    <option>{{c.name}}</option>
                    {% endfor %}
                </select>
              </div>
              {% endif %}
          </div>
          {% endif %}



          <div class="caption">
            <h3 class="title">{{p.name}}</h3>
            <span class="money">$<span class="price">{{p.price}}</span></span>
            <!--<button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>-->
            <button class="btn btn-primary btn-view" role="button"
                    style="right:20px;"><i class="fa fa-eye" aria-hidden="true"></i></button>
          </div>

        </div>
      </div>

      <!-- Product Description Modal -->
      <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="myModalLabel">{{p.name}}</h2>
            <hr>
            <div class="row">
            <div class="col-lg-8">


              <img width="500px" height="500px" class="product-picture img-responsive"
              src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}"
              >


              <!-- thumbnails -->
              {% for img in p.default_img %}
              <div class="product-sample-view" >
                <img width="50px" height="50px" src="../static/img/{{star.stage}}/{{star.id}}//{{img}}"
                >
              </div>
              {% endfor %}


            </div>




            <div class="col-lg-4">
              <div class="product-description">
                  <br><br><br>
                  <h2>What's Included?</h2>
                    {{p.description|safe}}
                    <hr>
                    <p><strong>Design:</strong>  Custom designs, logos, colors, and any modifications can be made, just ask!</p>

              </div>


            </div>

            <div class="modal-footer">
              <a href="mailto:sarah@fandemic.com" class="btn btn-default btn-lg" style="float:left;" >Contact</a>
              <button data-dismiss="modal" data-toggle="modal" data-target="#activateStoreModal" class="btn btn-success btn-lg">Stock This Item</button>
            </div>

          </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="modal-footer">
        <a href="mailto:sarah@fandemic.com" class="btn btn-primary btn-lg" style="width:100%;" ><i class="fa fa-envelope" aria-hidden="true"></i>
 <strong>Questions?</strong></a>
      </div>

{% else %}

<!-- INFO BANNER GOES HERE -->
{% if star.id == 'jen-seidel' %}
<div class="panel-group" id="accordion">
<div class="panel panel-default" style="margin-left:15px;margin-right:15px;">
   <div class="panel-heading">
     <h4 class="panel-title" style="text-align:center;">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
       Tap Here to Learn More</a>
     </h4>
   </div>
   <div id="collapse1" class="collapse">
     <div class="panel-body"><div>
       <img width="100%" src="../static/img/live/jen-seidel/pif.png">
     </div>
     <br>
     <div style="font-size:16px;color:#676767;">
       The Paint it Forward Project is the moniker given to Artist
       Jen Seidel's personal charitable efforts. Through various
       partnerships with multiple Non-Profits, Jen Seidel uses her
       talents in the Art of Body Painting to raise awareness for Art
       and for Life. Proceeds from her box/book sales are donated to
       the <a href="http://caseycares.org/" target="_blank">Casey Cares Foundation</a>.
       <br><br>
       <i style="color:#878787">"When I began this journey I recognized that I was given a
       very unique gift and I knew very early on that I would one day
       be able to use it to put back into the world, gifts to those that
       lack the ability to fight for themselves."
       -Jen Seidel</i>
     </div></div>
   </div>
 </div>
</div>
{% endif %}

<!-- ACTIVE STORE PRODUCTS VERSION -->
 {% for p in products %}
 <div class="col-md-6 col-lg-4 filtr-item"
      data-category="{% for id in p.subcatID %}{{id}}{% if not loop.last %}, {% endif %}{% endfor %}"
      data-sort="Create Your Own" style="padding: 15px;padding-top:0px;padding-bottom:0px;">

   <div class="thumbnail">


       <span class="product-id">{{p.sku}}</span>
       <!--<div class="card-header">
         <img width="30px" class="shipping-icon" style="opacity:.5;" src="../static/img/shipping-icon.png">
         <div class="progress">
            <span class="progress-text" style="color:#9d9d9d;">50 boxes remaining!</span>
           <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{p.currentQty}}"
           aria-valuemin="0" aria-valuemax="{{p.minQty}}" style="width:{{p.currentQty + 1}}%">

           </div>
         </div>
       </div>--><br>
       <img width="500px" height="500px" data-toggle="modal"
            data-target="#modal-{{p.sku}}" class="product-picture"
            src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}" alt="...">

      {% if p.variations is defined %}
       <div class="row variations">
         {% if p.variations.size is defined %}
           <div class="col-lg-6 variation1">
             <div class="name"><span>size</span></div>
             <select class="form-control">
               {% for s in p.variations.size %}
               <option>{{s}}</option>
               {% endfor %}
             </select>
           </div>
           {% endif %}
           {% if p.variations.color is defined %}
           <div class="col-lg-6 variation2">
             <div class="name"><span>color</span></div>
             <select class="form-control">
                 {% for c in p.variations.color %}
                 <option
                   data-src="../static/img/{{star.stage}}/{{star.id}}/{{c.img[0]}}">
                   {{c.name}}
                 </option>
                 {% endfor %}
             </select>
           </div>
           {% endif %}
       </div>
       {% endif %}

       <div class="caption">
         <h3 class="title">{{p.name}}</h3>
         <span class="money">$<span class="price">{{p.price}}</span></span>
         <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>
         <button class="btn btn-primary btn-view" role="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
       </div>
   </div>
 </div>


 <!-- Product Description Modal -->
 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
       <h2 class="modal-title" id="myModalLabel">{{p.name}} Description</h2>
       <hr>
       <div class="row">
       <div class="col-md-8">
         <img width="500px" height="500px" class="product-picture img-responsive" src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}" alt="...">
       </div>
       <div class="col-md-4">
         <div class="product-description">
             <h2>Order Requirement</h2>


         </div>
         {% if p.variations is defined %}
         {% for v in p.variations.color %}
         {% for i in v.img %}
         <div class="product-sample-view">
           <img width="50px" height="50px" src="../static/img/{{star.stage}}/{{star.id}}/{{i}}">
         </div>
         {% endfor %}
         {% endfor %}
         {% endif %}
       </div>
     </div>
     </div>
   </div>
 </div>
 {% endfor %}
{% endif %}

    </div>




    </div>

    </main>






  <script>
    var menu = new Slideout({
      'panel': document.getElementById('panel'),
      'menu': document.getElementById('menu'),
      'padding': 256,
      'tolerance': 70,
      'side': 'left',
      'touch': false
    });

    var cartMenu = new Slideout({
      'panel': document.getElementById('panel'),
      'menu': document.getElementById('cart-menu'),
      'padding': 256,
      'tolerance': 70,
      'side': 'right',
      'touch': false
    });

    //menu toggle
    document.querySelector('.star-btn').addEventListener('click', function() {
      menu.toggle();
      $('#cart-menu').css('z-index', -1);
      $('#menu').css('z-index', 0);
    });

    //cart toggle
    // Toggle button
    document.querySelector('.cart-btn').addEventListener('click', function() {

      cartMenu.toggle();
      $('#menu').css('z-index', -1);
      $('#cart-menu').css('z-index', 0);

    });

  </script>


</div>



</body>

</html>

<!-- STORE STOCKER MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="activateStoreModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-header">
      <h3 class="modal-title" id="myModalLabel">create your box!</h3>
      <p>Virtually stock your store with fan boxes! We handle the hard part!</p>
    </div>

      <div class="row" style="padding:20px;">

        <div class="alert alert-info" style="text-align:center;">
          <strong>Free Design</strong> with every order.
        </div>

        <div class="col-md-3">

          <h4>Box Items
              <i class="fa fa-question-circle" aria-hidden="true"
              data-toggle="popover"
              data-content="These are the products you can add to your box.
                         Check off the ones the you want!"></i>
          </h4>


          <!-- Generate item checklists and give attributes -->
          <div class="btn-group btn-group item-checkboxes" data-toggle="buttons">
         {% for p in pricing %}
         {% if p.name != 'Box' %}
           <label class="btn active" id='{{p.name.replace(' ', '-')}}-wizard-checkbox'>
             <input type="checkbox" class="box-item"
                    value="{{p.name}}" checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                    <span data-content="{{p.description}}">{{p.name}}</span>
          </label>
         {% endif %}
         {% endfor %}
          </div>


        <hr>

        <!-- <div class="btn-group btn-group" data-toggle="buttons">
            <label class="btn active"><input type="checkbox" id="male" checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span>Male</span></label>
            <label class="btn active"><input type="checkbox" id="female" checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span>Female</span></label>
          </div> -->

         <hr>



        </div>

        <div class="col-md-9">

          <h4>Quantity x<span id="quantity"></span>

          </h4>
          <br>
          <input type="range" min="50" max="2000" step="50" value="1000" data-rangeslider>


          <br><br>
          <div style="text-align:center;color:#5d5d5d;">
            <h3 style="margin:0px">
              Deposit <span class="money"
                        style=" border-bottom: 1px dashed #999;text-decoration: none;cursor:pointer"
                        aria-hidden="true"
                        data-toggle="popover"
                        data-html="true"
                        data-trigger="click"
                        data-content="You pay this fee so Fandemic can manufacturer and stock the boxes for you.<br>
                                      We make no money from this fee and <strong>you get it back</strong> when the boxes sell!">
                                   $<span id="box-stocking-fee">15.00</span></span> per box
            </h3> <br>

            <h3 style="margin:0px;color:#e6e6e6;"><i class="fa fa-arrow-down" aria-hidden="true"></i></h3> <br>

            <h3 style="margin:0px">Get Paid <span class="money"
            style=" border-bottom: 1px dashed #999;text-decoration: none;cursor:pointer"
            aria-hidden="true"
            data-toggle="popover"
            data-trigger="click"
            data-html="true"
            data-content="How much money you will make from each and every box sale!<br>
                          Fandemic only takes a small $5 fee from every box, this helps us keep the lights on!">
            $<span id="box-revenue-per-item">20.00</span></span> per sale</h3>

            <br>

            <h3 style="margin:0px;color:#e6e6e6;"><i class="fa fa-arrow-down" aria-hidden="true"></i></h3> <br>

            <h3 style="margin:0px">Earn <span class="money"
            style=" border-bottom: 1px dashed #999;text-decoration: none;cursor:pointer"
            aria-hidden="true"
            data-toggle="popover"
            data-trigger="click"
            data-html="true"
            data-content="Total profit once all boxes are sold. This is pure profit, and does not include the reimbursed stocking fee.">
            $<span id="stocking-fee">20.00</span></span> in total profit!</h3>

          </div>

        </div>

      </div>

      <div class="modal-footer">
        <a href="mailto:sarah@fandemic.co?subject=Question regarding {{star.name}} Fandemic store" class="btn btn-default btn-lg" style="float:left;" >Contact</a>
        <button id="pay" data-dismiss="modal" class="btn btn-success btn-lg payStockingButton">Next</button>
      </div>


    </div>
  </div>
</div>

  <!-- MODAL -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="customerServiceModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <!--<h2 class="modal-title" id="myModalLabel">Activate Store</h2>-->
      <p>
        Fill out the form below
        <br>
        We will contact you within 24 hours
      </p>

      <form id="activate-store-modal-form" action="/activateStore" method="post">
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input id="activate_firstname" name="firstname" type="text" class="form-control" placeholder="Name" autofocus/>
            </div>
            <br>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="activate_phone" name="phone" type="tel" class="form-control" placeholder="Phone" />
            </div>
            <br>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input id="activate_email" name="email" type="email" class="form-control" placeholder="Email" value="{{star.email[0]}}"/>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
              <input id="activate_youtube" name="youtube" type="url" class="form-control" placeholder="Youtube Channel URL" value="{{star.url.youtube}}"/>
            </div>
            <br>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
              <input id="activate_instagram" name="instagram" type="text" class="form-control" placeholder="Instagram Username" value="{{star.url.instagram}}" />
            </div>
            <br>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-square"></i></span>
              <input id="activate_facebook" name="facebook" type="text" class="form-control" placeholder="Facebook Fan Page URL" value="{{star.url.facebook}}"/>
            </div>
          </div>
        </div>
        <p id="activate-store-notification"></p>
        <button type="submit" class="btn btn-primary center btn-submit" id="activate-store-button">Submit</button>

      </form>
    </div>
  </div>
</div>


<!-- Payment Success Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="paymentSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Order Successful!</h2>
      <p>You should receive a receipt shortly</p>
      <hr>
      <p>If the product(s) you ordered do not reach a minimum order you get a full refund.</p>
      <br>
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within 24 hours. Thanks!</p>
    </div>
  </div>
</div>

<!-- Payment Success Modal - stocking fee version -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="stockingSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Stocking Order Successful!</h2>
      <p>You should receive an email/receipt shortly</p>
      <hr>
      <p>You have successfully stocked your store! The item(s) will be ready for sale in about 14 days.</p>
      <br>
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within a few hours. Thanks!</p>
    </div>
  </div>
</div>

<script>
(function ($) {
$('.spinner .btn:first-of-type').on('click', function() {
  $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
});
$('.spinner .btn:last-of-type').on('click', function() {
  $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
});
})(jQuery);
</script>

<script>
var pricing_index = {};
{% for p in pricingjs %}
  var temp = {{p|safe}};
  pricing_index[temp.name] = {};
  pricing_index[temp.name]['mfc'] = temp.pricing;
  pricing_index[temp.name]['retail'] = temp.retail;
{% endfor %}
</script>


<link rel="stylesheet" href="../static/css/rangeslider.css">
<script src="../static/js/rangeslider.min.js"></script>
<script src="../static/js/countdown.min.js"></script>
<script src="../static/js/shop.js"></script>
<script src="../static/js/mobile.js"></script>


<script>
var handler = StripeCheckout.configure({
{% if star.active == false %}
key: 'pk_test_z1mq9KQ3GyakW5OdduPIX94u',
{% else %}
key: 'pk_live_kyvM71oajfwVWnxBoy7SfqOp',
{% endif %}
image: '{{star.image.profile}}',
locale: 'auto',
token: function(token,args) {

  //gather info from the order
  var info = {};
  info['star'] = "{{star.name}}";
  info['active'] = "{{star.active}}";
  info['amount'] = Math.round(total_cost * 100);
  info['cart'] = cart;

  //combine all info into one object
  var result={};
  $.extend(result, args, token);
  $.extend(result, result, info);

  $.ajax({
    type: 'POST',
    url: '/charge',
    data: JSON.stringify(result, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(response) {
      $("#paymentSuccessModal").modal()
      resetCart();
    },
    error: function(error) {
      alert("payment error");
    }
  });

}
});

var handler2 = StripeCheckout.configure({
key: 'pk_live_kyvM71oajfwVWnxBoy7SfqOp',
image: '{{star.image.profile}}',
locale: 'auto',
token: function(token,args) {

  //gather info from the order
  var info = {};
  info['star'] = "{{star.name}}";
  info['star_id'] = "{{star.id}}";
  info['active'] = "{{star.active}}";
  info['quantity'] = box_quantity.toString();
  info['items'] = itemsInBox;
  info['male'] = document.getElementById('male').checked;
  info['female'] = document.getElementById('female').checked;

  info['amount'] = Math.round(stockingFee * 100);

  //combine all info into one object
  var result={};
  $.extend(result, args, token);
  $.extend(result, result, info);

  $.ajax({
    type: 'POST',
    url: '/charge-stocking-fee',
    data: JSON.stringify(result, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(response) {
      $("#stockingSuccessModal").modal();
    },
    error: function(error) {
      alert("payment error");
    }
  });

}
});


$( document ).ajaxStart(function () {
  $('#loading').show();  // show loading indicator
});

$( document ).ajaxStop(function()
{
    $('#loading').hide();  // hide loading indicator
});

$('.payStockingButton').on('click', function(e) {
// Open Checkout with further options
handler2.open({
name: 'Stocking Fee',
description: box_quantity +
             ' boxes X $'+ box_stockingFee.formatMoney(2) +
             ' = $' + stockingFee.formatMoney(2),
allowRememberMe: true,
panelLabel: "Pay",
email: '{{star.email.0}}',
amount: Math.round(stockingFee * 100)
});
e.preventDefault();
});



$('.customButton').on('click', function(e) {
// Open Checkout with further options
handler.open({
name: 'ORDER TOTAL',
description: '$' + total_cost.formatMoney(2),
zipCode: true,
billingAddress: true,
shippingAddress: true,
allowRememberMe: true,
panelLabel: "Pay",
amount: Math.round(total_cost * 100)
});
e.preventDefault();
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
handler.close();
});

//bootstrap autofocus modal
$('.modal').on('shown.bs.modal', function() {
  menu.close();
  $(this).find('[autofocus]').focus();
});

</script>
