/*Mobile Shop*/
@media screen and (max-width: 768px) {

  html, body{
    background-color: #fff;
    height: 100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
  }

  #desktop{
    display: none;
  }

  #mobile{
    display: inherit;

  }

  #panel{

    z-index: 1000;
    background-color: #fff;
    -webkit-box-shadow: 3px 10px 29px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 29px 5px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 29px 5px rgba(0,0,0,0.75);

  }

  #menu {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      width: 256px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: none;
      background-color: #1d1d1d;
      text-align: center;
      padding-top: 60px;

    }

    .slideout-open #menu {
      display: block;
    }

    #cart-menu {
        position: fixed;

        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 265px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
        background-color: #1d1d1d;
        text-align: center;
        padding-top: 60px;

      }

      .slideout-open #cart-menu {
        display: block;
      }

  .nav{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #F2F2F2;
    color: #3d3d3d;
    z-index: 100;
    border-bottom: 1px solid #c3c3c3;
  }

  .star-btn{
    position: absolute;
    left:20px;
    top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index:10;
  }

  .nav .name{
    position: absolute;
    width: 100%;
    top: 12px;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 2em;
  }

  .thumbnail>img {
    display: block;
    max-width: 70%;
    height: auto;
}

  .cart-btn{
    position: absolute;
    right:20px;
    top: 5px;
    font-size: 34px;
    cursor: pointer;
    z-index: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .cart-btn .num-items{
    font-size: .6em;
  }

  .content{
    padding: 2%;
    padding-top: 80px;
    width: 100%;
    background-color: #fff;
      overflow-x: hidden;
  }

  .cart-and-total{
    display: inline-block;
  }

  .title{
    color: white;
  }

  .caption .title{
    font-size: 1.5em !important;
  }

  .variations .form-control{
    background-color: transparent;
  }

  .variations .name{
    background-color: transparent;
  }

  /*activate store modal*/
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0px;
  }
  .modal-content{
    border-radius: 0px;
  }
  .modal-title{
    font-size: 1.4em;
  }
  .btn-submit{

    width: 100%;
    padding: 10px;
    font-weight: 600;
    background-color: #4E9BD3;
    border: 0px;
  }

  /*alert*/
  .alert-text{
    font-size: 1.2em;
    text-align:center;
  }

  .btn-activate{
    margin: 0px;
    border-radius: 2px;
padding-left: 20px;
padding-right: 20px;
  }

  /*products*/
  .thumbnail{
    border: none;
    border: 1px solid #c3c3c3;
    background-color: #F5F5F5;
    box-shadow: none;
    border-radius: 4px;
  }
  .caption{
    display: inline-block;
    font-size: .8em;
  }

  .caption .money{
    font-size: 1.4em;
  }

  .progress{
    margin-bottom: 0px;
  }

  .card-header {

  }

  .progress-bar-primary{
    background-color: rgba(79, 156, 212,.6);
  }

  .shipping-icon{
    opacity: .6;
  }

  #panel .title{
    margin:0px;
    font-size: 1.6em;
    font-weight: 500;
    color: #3D3D3D;
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  }
  .btn-add{

  }


  /*cart*/
   #cart-menu .title{
     font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
     font-size: 1.6em;
     font-weight: 600;
     color: #fff;
    }
  #cart-menu .btn-checkout{
    bottom: 0px;
    right: 0px;
    padding: 20px;
    position: absolute;
    background-color: #4E9BD3;
    border: 0px;
  }
  .cart{
    max-height: 60% !important;
    padding-left: 20px !important;
    padding-right: 10px !important;
    margin-top: 20px;
  }
  .btn-checkout{
    width: 100%;
    margin-top: 15px;
  }
  #alert-cart-empty{
    color: #fff;
  }
  .delete .fa-times{
    font-size: 1.8em;
    right: 12px !important;
    color: rgba(0,0,0,.4) !important;
  }
  #cart-menu .money{
    color: #5CD36A;
  }


  /*menu*/
  #menu .btn-activate{
    bottom: 0px;
    left: 0px;
    padding: 20px;
    font-size: 1.2em;
    position: absolute;
  }
  #social-media .link{
    color: #fff;
    font-size: 1.4em;
    padding-left: 12px;
    padding-right: 12px;
  }

}

/*Mobile friendly check boxes*/
label.btn span {
  font-size: 1.5em ;
}


label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] span {
  vertical-align: inherit !important;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

.rangeslider__fill {
    background: #7AA3CC !important;
    position: absolute;
}

.col-xs-6{
padding-right: 5px;
padding-left: 5px;
}

.col-xs-6 .well{
  margin-bottom: 10px;
}
