<div id="box-designer" style="position:fixed;width:900px;height:600px;background-color:rgba(0,0,0,.5);visibility:hidden;left: 50%;
top: 50%;
transform: translate(-50%, -50%);">
<div style="position:relative;background-color:rgb(241, 241, 241);height:100%;padding:15px;border-radius:5px;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);">

    <style>
    .box#new .primary .artwork-editors {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
}
    </style>

    <button onClick="saveBoxDesign();"
    ng-click="toggleStyle({name:'Custom Design',img:'professional-box.png'})"
    style="position:absolute;right:15px;bottom:20px;padding: .4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #7BDC87;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    font-weight: 600;z-index:99999;">Save & Exit</button>

    <h2 style="margin-left:15px;">Design Your Own Box</h2>
  <!--BOX DESIGNER STARTS HERE-->
  <body class="box" id="new"  >

    <main>
    <div class="">


  <div class="primary" style="display:block;">

  <div class="side-selector col-md-12" style="z-index:9999;">

          <div class="box-side front active">
  <h4>front</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g class="edges">
  <path d="M50 50L22.287 66M50 50l27.713 16" class="base"></path>
  <path d="M77.713 34v32L50 82 22.287 66V34L50 18zM77.713 34L50 50M22.287 34L50 50M50 50v32"></path>
  </g>
  <g class="sides">

    <path d="M21.78 66.792L50 83.084V50.02L21.78 33.73z"></path>

  </g>
  </svg>
  </div>


          <div class="box-side left ">
  <h4>left</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g class="edges">
  <path d="M50 50L22.287 66M50 50l27.713 16" class="base"></path>
  <path d="M77.713 34v32L50 82 22.287 66V34L50 18zM77.713 34L50 50M22.287 34L50 50M50 50v32"></path>
  </g>
  <g class="sides">

    <path d="M50 50.49L21.78 66.78V33.72L50 17.425z"></path>

  </g>
  </svg>
  </div>


          <div class="box-side back ">
  <h4>back</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g class="edges">
  <path d="M50 50L22.287 66M50 50l27.713 16" class="base"></path>
  <path d="M77.713 34v32L50 82 22.287 66V34L50 18zM77.713 34L50 50M22.287 34L50 50M50 50v32"></path>
  </g>
  <g class="sides">

    <path d="M50 50.49l28.22 16.29V33.72L50 17.425z"></path>

  </g>
  </svg>
  </div>


          <div class="box-side right ">
  <h4>right</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g class="edges">
  <path d="M50 50L22.287 66M50 50l27.713 16" class="base"></path>
  <path d="M77.713 34v32L50 82 22.287 66V34L50 18zM77.713 34L50 50M22.287 34L50 50M50 50v32"></path>
  </g>
  <g class="sides">

    <path d="M78.22 66.792L50 83.084V50.02l28.22-16.29z"></path>

  </g>
  </svg>
  </div>


          <div class="box-side top ">
  <h4>top</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g class="edges">
  <path d="M50 50L22.287 66M50 50l27.713 16" class="base"></path>
  <path d="M77.713 34v32L50 82 22.287 66V34L50 18zM77.713 34L50 50M22.287 34L50 50M50 50v32"></path>
  </g>
  <g class="sides">

    <path d="M78.22 33.73L50 17.425 21.78 33.73 50 50.02z"></path>

  </g>
  </svg>
  </div>


          <div class="box-side bottom ">
  <h4>bottom</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <g class="edges">
  <path d="M50 50L22.287 66M50 50l27.713 16" class="base"></path>
  <path d="M77.713 34v32L50 82 22.287 66V34L50 18zM77.713 34L50 50M22.287 34L50 50M50 50v32"></path>
  </g>
  <g class="sides">

    <path d="M78.22 66.79L50 50.49l-28.22 16.3L50 83.085z"></path>

  </g>
  </svg>
  </div>


      </div>

    <div class="col-md-12" style="display:flex;">




    <div class="artwork-editors">

        <div class="artwork-editor front active" style="visibility:hidden;">
  <div class="panel-graphics">
  <h3>Front of Box</h3>


 <style>
.add-artwork-btn{
background: #FFA6BB;color:white;
}
.add-artwork-btn:hover{
background: #FFA6BB;color:white;
}
.add-text-btn{
  background: #D2AFC9 !important;color:white !important;
}
 </style>
  <form class="add-artwork">
    <input name="file" type="file" accept=".jpg,.png">
    <button class="btn  add-artwork-btn">Add Artwork</button>
    <p>
    File formats:
    <br>
    jpg or png
    </p>
  </form>

  <div class="add-text">
    <button class="btn success add-text-btn">Add Text</button>
    <button class="btn white font-btn">
      <span style="color: #000" class="font">Proxima Nova</span>
      <span class="arrow">▼</span>
    </button>
    <button class="btn white text-color-btn "><span style="background: #000" class="color"></span></button>
  </div>

  <div class="artwork-canvas">
    <canvas></canvas>
    <div class="loading-cube">
  <div class="container-loading cube-container">
    <div class="cube">
      <div class="half1">
        <div class="side s1"></div>
        <div class="side s2"></div>
        <div class="side s5"></div>
      </div>
      <div class="half2">
        <div class="side s3"></div>
        <div class="side s4"></div>
        <div class="side s6"></div>
      </div>
    </div>
  </div>
  </div>

  </div>

  <!--<button class="btn success fit-btn">Fit</button>
  <button class="btn success center-btn">Center</button>
  <button class="btn success cover-btn">Cover</button>-->
  <button class="btn danger delete-btn">Delete</button>
  </div>

  <div class="panel-color" style="visibility:hidden;">
  <h3>Front Panel Color</h3>
  <input type="color">
  <button class="btn white add-color-btn">Select a custom color <span class="color"></span></button>
  </div>

  <div class="color-picker-content">
  <div class="color-picker">

  <div class="selectors">
  <div class="color-select">
    <canvas class="color-canvas"></canvas>
    <div class="pointer"></div>
  </div>
  <div class="saturation-select">
    <input type="range" min="0.0" max="1.0" value="1.0" step="0.01">
  </div>
  </div>
  <div class="actions">
  <button class="danger btn remove-btn">Remove Color</button>
  <button class="success btn color-entire-box-btn">Color Entire Box</button>
  </div>
  </div>

  </div>

  <div class="font-picker-content">
  <ul class="font-picker">

      <li style="font-family: &#39;Alex Brush&#39;">Alex Brush</li>

      <li style="font-family: &#39;Alfa Slab One&#39;">Alfa Slab One</li>

      <li style="font-family: &#39;Antic Slab&#39;">Antic Slab</li>

      <li style="font-family: &#39;Arbutus Slab&#39;">Arbutus Slab</li>

      <li style="font-family: &#39;Arvo&#39;">Arvo</li>

      <li style="font-family: &#39;Bad Script&#39;">Bad Script</li>

      <li style="font-family: &#39;Bevan&#39;">Bevan</li>

      <li style="font-family: &#39;Bitter&#39;">Bitter</li>

      <li style="font-family: &#39;Crete Round&#39;">Crete Round</li>

      <li style="font-family: &#39;Cutive&#39;">Cutive</li>

      <li style="font-family: &#39;Droid Sans&#39;">Droid Sans</li>

      <li style="font-family: &#39;Glegoo&#39;">Glegoo</li>

      <li style="font-family: &#39;Graduate&#39;">Graduate</li>

      <li style="font-family: &#39;Kreon&#39;">Kreon</li>

      <li style="font-family: &#39;Lato&#39;">Lato</li>

      <li style="font-family: &#39;Life Savers&#39;">Life Savers</li>

      <li style="font-family: &#39;Lobster&#39;">Lobster</li>

      <li style="font-family: &#39;Maiden Orange&#39;">Maiden Orange</li>

      <li style="font-family: &#39;Monsieur La Doulaise&#39;">Monsieur La Doulaise</li>

      <li style="font-family: &#39;Montserrat&#39;">Montserrat</li>

      <li style="font-family: &#39;Muli&#39;">Muli</li>

      <li style="font-family: &#39;Nixie One&#39;">Nixie One</li>

      <li style="font-family: &#39;Noto Sans&#39;">Noto Sans</li>

      <li style="font-family: &#39;Open Sans&#39;">Open Sans</li>

      <li style="font-family: &#39;Pacifico&#39;">Pacifico</li>

      <li style="font-family: &#39;Peralta&#39;">Peralta</li>

      <li style="font-family: &#39;Podkova&#39;">Podkova</li>

      <li style="font-family: &#39;Port Lligat Slab&#39;">Port Lligat Slab</li>

      <li style="font-family: &#39;Proxima Nova&#39;">Proxima Nova</li>

      <li style="font-family: &#39;PT Sans&#39;">PT Sans</li>

      <li style="font-family: &#39;PT Sans Narrow&#39;">PT Sans Narrow</li>

      <li style="font-family: &#39;PT Serif Caption&#39;">PT Serif Caption</li>

      <li style="font-family: &#39;Quicksand&#39;">Quicksand</li>

      <li style="font-family: &#39;Roboto&#39;">Roboto</li>

      <li style="font-family: &#39;Roboto Slab&#39;">Roboto Slab</li>

      <li style="font-family: &#39;Rokkitt&#39;">Rokkitt</li>

      <li style="font-family: &#39;Sanchez&#39;">Sanchez</li>

      <li style="font-family: &#39;Source Code Pro&#39;">Source Code Pro</li>

      <li style="font-family: &#39;Stint Ultra Condensed&#39;">Stint Ultra Condensed</li>

      <li style="font-family: &#39;Ubuntu&#39;">Ubuntu</li>

      <li style="font-family: &#39;Vast Shadow&#39;">Vast Shadow</li>

  </ul>
  </div>
  </div>


        <div class="artwork-editor left">
  <div class="panel-graphics">
  <h3>Left of Box</h3>

  <form class="add-artwork">
    <input name="file" type="file" accept=".ai,.pdf,.eps,.jpg,.png">
    <button class="btn  add-artwork-btn">Add Artwork</button>
    <p>
    File formats:
    <br>
    .ai, .pdf, .eps, .jpg, .png
    </p>
  </form>

  <div class="add-text">
    <button class="btn success add-text-btn">Add Text</button>
    <button class="btn white font-btn">
      <span style="color: #000" class="font">Proxima Nova</span>
      <span class="arrow">▼</span>
    </button>
    <button class="btn white text-color-btn"><span style="background: #000" class="color"></span></button>
  </div>

  <div class="artwork-canvas">
    <canvas></canvas>
    <div class="loading-cube">
  <div class="container-loading cube-container">
    <div class="cube">
      <div class="half1">
        <div class="side s1"></div>
        <div class="side s2"></div>
        <div class="side s5"></div>
      </div>
      <div class="half2">
        <div class="side s3"></div>
        <div class="side s4"></div>
        <div class="side s6"></div>
      </div>
    </div>
  </div>
  </div>

  </div>

<!--
  <button class="btn success fit-btn">Fit</button>
  <button class="btn success center-btn">Center</button>
  <button class="btn success cover-btn">Cover</button>
-->
  <button class="btn danger delete-btn">Delete</button>
  </div>

  <div class="panel-color" style="visibility:hidden;">
  <h3>Left Panel Color</h3>
  <input type="color">
  <button class="btn white add-color-btn">Select a custom color <span class="color"></span></button>
  </div>

  <div class="color-picker-content">
  <div class="color-picker">

  <div class="selectors">
  <div class="color-select">
    <canvas class="color-canvas"></canvas>
    <div class="pointer"></div>
  </div>
  <div class="saturation-select">
    <input type="range" min="0.0" max="1.0" value="1.0" step="0.01">
  </div>
  </div>
  <div class="actions">
  <button class="danger btn remove-btn">Remove Color</button>
  <button class="success btn color-entire-box-btn">Color Entire Box</button>
  </div>
  </div>

  </div>

  <div class="font-picker-content">
  <ul class="font-picker">

      <li style="font-family: &#39;Alex Brush&#39;">Alex Brush</li>

      <li style="font-family: &#39;Alfa Slab One&#39;">Alfa Slab One</li>

      <li style="font-family: &#39;Antic Slab&#39;">Antic Slab</li>

      <li style="font-family: &#39;Arbutus Slab&#39;">Arbutus Slab</li>

      <li style="font-family: &#39;Arvo&#39;">Arvo</li>

      <li style="font-family: &#39;Bad Script&#39;">Bad Script</li>

      <li style="font-family: &#39;Bevan&#39;">Bevan</li>

      <li style="font-family: &#39;Bitter&#39;">Bitter</li>

      <li style="font-family: &#39;Crete Round&#39;">Crete Round</li>

      <li style="font-family: &#39;Cutive&#39;">Cutive</li>

      <li style="font-family: &#39;Droid Sans&#39;">Droid Sans</li>

      <li style="font-family: &#39;Glegoo&#39;">Glegoo</li>

      <li style="font-family: &#39;Graduate&#39;">Graduate</li>

      <li style="font-family: &#39;Kreon&#39;">Kreon</li>

      <li style="font-family: &#39;Lato&#39;">Lato</li>

      <li style="font-family: &#39;Life Savers&#39;">Life Savers</li>

      <li style="font-family: &#39;Lobster&#39;">Lobster</li>

      <li style="font-family: &#39;Maiden Orange&#39;">Maiden Orange</li>

      <li style="font-family: &#39;Monsieur La Doulaise&#39;">Monsieur La Doulaise</li>

      <li style="font-family: &#39;Montserrat&#39;">Montserrat</li>

      <li style="font-family: &#39;Muli&#39;">Muli</li>

      <li style="font-family: &#39;Nixie One&#39;">Nixie One</li>

      <li style="font-family: &#39;Noto Sans&#39;">Noto Sans</li>

      <li style="font-family: &#39;Open Sans&#39;">Open Sans</li>

      <li style="font-family: &#39;Pacifico&#39;">Pacifico</li>

      <li style="font-family: &#39;Peralta&#39;">Peralta</li>

      <li style="font-family: &#39;Podkova&#39;">Podkova</li>

      <li style="font-family: &#39;Port Lligat Slab&#39;">Port Lligat Slab</li>

      <li style="font-family: &#39;Proxima Nova&#39;">Proxima Nova</li>

      <li style="font-family: &#39;PT Sans&#39;">PT Sans</li>

      <li style="font-family: &#39;PT Sans Narrow&#39;">PT Sans Narrow</li>

      <li style="font-family: &#39;PT Serif Caption&#39;">PT Serif Caption</li>

      <li style="font-family: &#39;Quicksand&#39;">Quicksand</li>

      <li style="font-family: &#39;Roboto&#39;">Roboto</li>

      <li style="font-family: &#39;Roboto Slab&#39;">Roboto Slab</li>

      <li style="font-family: &#39;Rokkitt&#39;">Rokkitt</li>

      <li style="font-family: &#39;Sanchez&#39;">Sanchez</li>

      <li style="font-family: &#39;Source Code Pro&#39;">Source Code Pro</li>

      <li style="font-family: &#39;Stint Ultra Condensed&#39;">Stint Ultra Condensed</li>

      <li style="font-family: &#39;Ubuntu&#39;">Ubuntu</li>

      <li style="font-family: &#39;Vast Shadow&#39;">Vast Shadow</li>

  </ul>
  </div>
  </div>


        <div class="artwork-editor back">
  <div class="panel-graphics">
  <h3>Back of Box</h3>

  <form class="add-artwork">
    <input name="file" type="file" accept=".ai,.pdf,.eps,.jpg,.png">
    <button class="btn  add-artwork-btn">Add Artwork</button>
    <p>
    File formats:
    <br>
    .ai, .pdf, .eps, .jpg, .png
    </p>
  </form>

  <div class="add-text">
    <button class="btn success add-text-btn">Add Text</button>
    <button class="btn white font-btn">
      <span style="color: #000" class="font">Proxima Nova</span>
      <span class="arrow">▼</span>
    </button>
    <button class="btn white text-color-btn"><span style="background: #000" class="color"></span></button>
  </div>

  <div class="artwork-canvas">
    <canvas></canvas>
    <div class="loading-cube">
  <div class="container-loading cube-container">
    <div class="cube">
      <div class="half1">
        <div class="side s1"></div>
        <div class="side s2"></div>
        <div class="side s5"></div>
      </div>
      <div class="half2">
        <div class="side s3"></div>
        <div class="side s4"></div>
        <div class="side s6"></div>
      </div>
    </div>
  </div>
  </div>

  </div>

<!--
  <button class="btn success fit-btn">Fit</button>
  <button class="btn success center-btn">Center</button>
  <button class="btn success cover-btn">Cover</button>
-->
  <button class="btn danger delete-btn">Delete</button>
  </div>

  <div class="panel-color" style="visibility:hidden;">
  <h3>Back Panel Color</h3>
  <input type="color">
  <button class="btn white add-color-btn">Select a custom color <span class="color"></span></button>
  </div>

  <div class="color-picker-content">
  <div class="color-picker">

  <div class="selectors">
  <div class="color-select">
    <canvas class="color-canvas"></canvas>
    <div class="pointer"></div>
  </div>
  <div class="saturation-select">
    <input type="range" min="0.0" max="1.0" value="1.0" step="0.01">
  </div>
  </div>
  <div class="actions">
  <button class="danger btn remove-btn">Remove Color</button>
  <button class="success btn color-entire-box-btn">Color Entire Box</button>
  </div>
  </div>

  </div>

  <div class="font-picker-content">
  <ul class="font-picker">

      <li style="font-family: &#39;Alex Brush&#39;">Alex Brush</li>

      <li style="font-family: &#39;Alfa Slab One&#39;">Alfa Slab One</li>

      <li style="font-family: &#39;Antic Slab&#39;">Antic Slab</li>

      <li style="font-family: &#39;Arbutus Slab&#39;">Arbutus Slab</li>

      <li style="font-family: &#39;Arvo&#39;">Arvo</li>

      <li style="font-family: &#39;Bad Script&#39;">Bad Script</li>

      <li style="font-family: &#39;Bevan&#39;">Bevan</li>

      <li style="font-family: &#39;Bitter&#39;">Bitter</li>

      <li style="font-family: &#39;Crete Round&#39;">Crete Round</li>

      <li style="font-family: &#39;Cutive&#39;">Cutive</li>

      <li style="font-family: &#39;Droid Sans&#39;">Droid Sans</li>

      <li style="font-family: &#39;Glegoo&#39;">Glegoo</li>

      <li style="font-family: &#39;Graduate&#39;">Graduate</li>

      <li style="font-family: &#39;Kreon&#39;">Kreon</li>

      <li style="font-family: &#39;Lato&#39;">Lato</li>

      <li style="font-family: &#39;Life Savers&#39;">Life Savers</li>

      <li style="font-family: &#39;Lobster&#39;">Lobster</li>

      <li style="font-family: &#39;Maiden Orange&#39;">Maiden Orange</li>

      <li style="font-family: &#39;Monsieur La Doulaise&#39;">Monsieur La Doulaise</li>

      <li style="font-family: &#39;Montserrat&#39;">Montserrat</li>

      <li style="font-family: &#39;Muli&#39;">Muli</li>

      <li style="font-family: &#39;Nixie One&#39;">Nixie One</li>

      <li style="font-family: &#39;Noto Sans&#39;">Noto Sans</li>

      <li style="font-family: &#39;Open Sans&#39;">Open Sans</li>

      <li style="font-family: &#39;Pacifico&#39;">Pacifico</li>

      <li style="font-family: &#39;Peralta&#39;">Peralta</li>

      <li style="font-family: &#39;Podkova&#39;">Podkova</li>

      <li style="font-family: &#39;Port Lligat Slab&#39;">Port Lligat Slab</li>

      <li style="font-family: &#39;Proxima Nova&#39;">Proxima Nova</li>

      <li style="font-family: &#39;PT Sans&#39;">PT Sans</li>

      <li style="font-family: &#39;PT Sans Narrow&#39;">PT Sans Narrow</li>

      <li style="font-family: &#39;PT Serif Caption&#39;">PT Serif Caption</li>

      <li style="font-family: &#39;Quicksand&#39;">Quicksand</li>

      <li style="font-family: &#39;Roboto&#39;">Roboto</li>

      <li style="font-family: &#39;Roboto Slab&#39;">Roboto Slab</li>

      <li style="font-family: &#39;Rokkitt&#39;">Rokkitt</li>

      <li style="font-family: &#39;Sanchez&#39;">Sanchez</li>

      <li style="font-family: &#39;Source Code Pro&#39;">Source Code Pro</li>

      <li style="font-family: &#39;Stint Ultra Condensed&#39;">Stint Ultra Condensed</li>

      <li style="font-family: &#39;Ubuntu&#39;">Ubuntu</li>

      <li style="font-family: &#39;Vast Shadow&#39;">Vast Shadow</li>

  </ul>
  </div>
  </div>


        <div class="artwork-editor right">
  <div class="panel-graphics">
  <h3>Right of Box</h3>

  <form class="add-artwork">
    <input name="file" type="file" accept=".ai,.pdf,.eps,.jpg,.png">
    <button class="btn  add-artwork-btn">Add Artwork</button>
    <p>
    File formats:
    <br>
    .ai, .pdf, .eps, .jpg, .png
    </p>
  </form>

  <div class="add-text">
    <button class="btn success add-text-btn">Add Text</button>
    <button class="btn white font-btn">
      <span style="color: #000" class="font">Proxima Nova</span>
      <span class="arrow">▼</span>
    </button>
    <button class="btn white text-color-btn"><span style="background: #000" class="color"></span></button>
  </div>

  <div class="artwork-canvas">
    <canvas></canvas>
    <div class="loading-cube">
  <div class="container-loading cube-container">
    <div class="cube">
      <div class="half1">
        <div class="side s1"></div>
        <div class="side s2"></div>
        <div class="side s5"></div>
      </div>
      <div class="half2">
        <div class="side s3"></div>
        <div class="side s4"></div>
        <div class="side s6"></div>
      </div>
    </div>
  </div>
  </div>

  </div>

<!--
  <button class="btn success fit-btn">Fit</button>
  <button class="btn success center-btn">Center</button>
  <button class="btn success cover-btn">Cover</button>
-->
  <button class="btn danger delete-btn">Delete</button>
  </div>

  <div class="panel-color" style="visibility:hidden;">
  <h3>Right Panel Color</h3>
  <input type="color">
  <button class="btn white add-color-btn">Select a custom color <span class="color"></span></button>
  </div>

  <div class="color-picker-content">
  <div class="color-picker">

  <div class="selectors">
  <div class="color-select">
    <canvas class="color-canvas"></canvas>
    <div class="pointer"></div>
  </div>
  <div class="saturation-select">
    <input type="range" min="0.0" max="1.0" value="1.0" step="0.01">
  </div>
  </div>
  <div class="actions">
  <button class="danger btn remove-btn">Remove Color</button>
  <button class="success btn color-entire-box-btn">Color Entire Box</button>
  </div>
  </div>

  </div>

  <div class="font-picker-content">
  <ul class="font-picker">

      <li style="font-family: &#39;Alex Brush&#39;">Alex Brush</li>

      <li style="font-family: &#39;Alfa Slab One&#39;">Alfa Slab One</li>

      <li style="font-family: &#39;Antic Slab&#39;">Antic Slab</li>

      <li style="font-family: &#39;Arbutus Slab&#39;">Arbutus Slab</li>

      <li style="font-family: &#39;Arvo&#39;">Arvo</li>

      <li style="font-family: &#39;Bad Script&#39;">Bad Script</li>

      <li style="font-family: &#39;Bevan&#39;">Bevan</li>

      <li style="font-family: &#39;Bitter&#39;">Bitter</li>

      <li style="font-family: &#39;Crete Round&#39;">Crete Round</li>

      <li style="font-family: &#39;Cutive&#39;">Cutive</li>

      <li style="font-family: &#39;Droid Sans&#39;">Droid Sans</li>

      <li style="font-family: &#39;Glegoo&#39;">Glegoo</li>

      <li style="font-family: &#39;Graduate&#39;">Graduate</li>

      <li style="font-family: &#39;Kreon&#39;">Kreon</li>

      <li style="font-family: &#39;Lato&#39;">Lato</li>

      <li style="font-family: &#39;Life Savers&#39;">Life Savers</li>

      <li style="font-family: &#39;Lobster&#39;">Lobster</li>

      <li style="font-family: &#39;Maiden Orange&#39;">Maiden Orange</li>

      <li style="font-family: &#39;Monsieur La Doulaise&#39;">Monsieur La Doulaise</li>

      <li style="font-family: &#39;Montserrat&#39;">Montserrat</li>

      <li style="font-family: &#39;Muli&#39;">Muli</li>

      <li style="font-family: &#39;Nixie One&#39;">Nixie One</li>

      <li style="font-family: &#39;Noto Sans&#39;">Noto Sans</li>

      <li style="font-family: &#39;Open Sans&#39;">Open Sans</li>

      <li style="font-family: &#39;Pacifico&#39;">Pacifico</li>

      <li style="font-family: &#39;Peralta&#39;">Peralta</li>

      <li style="font-family: &#39;Podkova&#39;">Podkova</li>

      <li style="font-family: &#39;Port Lligat Slab&#39;">Port Lligat Slab</li>

      <li style="font-family: &#39;Proxima Nova&#39;">Proxima Nova</li>

      <li style="font-family: &#39;PT Sans&#39;">PT Sans</li>

      <li style="font-family: &#39;PT Sans Narrow&#39;">PT Sans Narrow</li>

      <li style="font-family: &#39;PT Serif Caption&#39;">PT Serif Caption</li>

      <li style="font-family: &#39;Quicksand&#39;">Quicksand</li>

      <li style="font-family: &#39;Roboto&#39;">Roboto</li>

      <li style="font-family: &#39;Roboto Slab&#39;">Roboto Slab</li>

      <li style="font-family: &#39;Rokkitt&#39;">Rokkitt</li>

      <li style="font-family: &#39;Sanchez&#39;">Sanchez</li>

      <li style="font-family: &#39;Source Code Pro&#39;">Source Code Pro</li>

      <li style="font-family: &#39;Stint Ultra Condensed&#39;">Stint Ultra Condensed</li>

      <li style="font-family: &#39;Ubuntu&#39;">Ubuntu</li>

      <li style="font-family: &#39;Vast Shadow&#39;">Vast Shadow</li>

  </ul>
  </div>
  </div>


        <div class="artwork-editor top">
  <div class="panel-graphics">
  <h3>Top of Box</h3>

  <form class="add-artwork">
    <input name="file" type="file" accept=".ai,.pdf,.eps,.jpg,.png">
    <button class="btn  add-artwork-btn">Add Artwork</button>
    <p>
    File formats:
    <br>
    .ai, .pdf, .eps, .jpg, .png
    </p>
  </form>

  <div class="add-text">
    <button class="btn success add-text-btn">Add Text</button>
    <button class="btn white font-btn">
      <span style="color: #000" class="font">Proxima Nova</span>
      <span class="arrow">▼</span>
    </button>
    <button class="btn white text-color-btn"><span style="background: #000" class="color"></span></button>
  </div>

  <div class="artwork-canvas">
    <canvas></canvas>
    <div class="loading-cube">
  <div class="container-loading cube-container">
    <div class="cube">
      <div class="half1">
        <div class="side s1"></div>
        <div class="side s2"></div>
        <div class="side s5"></div>
      </div>
      <div class="half2">
        <div class="side s3"></div>
        <div class="side s4"></div>
        <div class="side s6"></div>
      </div>
    </div>
  </div>
  </div>

  </div>

<!--
  <button class="btn success fit-btn">Fit</button>
  <button class="btn success center-btn">Center</button>
  <button class="btn success cover-btn">Cover</button>
-->
  <button class="btn danger delete-btn">Delete</button>
  </div>

  <div class="panel-color" style="visibility:hidden;">
  <h3>Top Panel Color</h3>
  <input type="color">
  <button class="btn white add-color-btn">Select a custom color <span class="color"></span></button>
  </div>

  <div class="color-picker-content">
  <div class="color-picker">

  <div class="selectors">
  <div class="color-select">
    <canvas class="color-canvas"></canvas>
    <div class="pointer"></div>
  </div>
  <div class="saturation-select">
    <input type="range" min="0.0" max="1.0" value="1.0" step="0.01">
  </div>
  </div>
  <div class="actions">
  <button class="danger btn remove-btn">Remove Color</button>
  <button class="success btn color-entire-box-btn">Color Entire Box</button>
  </div>
  </div>

  </div>

  <div class="font-picker-content">
  <ul class="font-picker">

      <li style="font-family: &#39;Alex Brush&#39;">Alex Brush</li>

      <li style="font-family: &#39;Alfa Slab One&#39;">Alfa Slab One</li>

      <li style="font-family: &#39;Antic Slab&#39;">Antic Slab</li>

      <li style="font-family: &#39;Arbutus Slab&#39;">Arbutus Slab</li>

      <li style="font-family: &#39;Arvo&#39;">Arvo</li>

      <li style="font-family: &#39;Bad Script&#39;">Bad Script</li>

      <li style="font-family: &#39;Bevan&#39;">Bevan</li>

      <li style="font-family: &#39;Bitter&#39;">Bitter</li>

      <li style="font-family: &#39;Crete Round&#39;">Crete Round</li>

      <li style="font-family: &#39;Cutive&#39;">Cutive</li>

      <li style="font-family: &#39;Droid Sans&#39;">Droid Sans</li>

      <li style="font-family: &#39;Glegoo&#39;">Glegoo</li>

      <li style="font-family: &#39;Graduate&#39;">Graduate</li>

      <li style="font-family: &#39;Kreon&#39;">Kreon</li>

      <li style="font-family: &#39;Lato&#39;">Lato</li>

      <li style="font-family: &#39;Life Savers&#39;">Life Savers</li>

      <li style="font-family: &#39;Lobster&#39;">Lobster</li>

      <li style="font-family: &#39;Maiden Orange&#39;">Maiden Orange</li>

      <li style="font-family: &#39;Monsieur La Doulaise&#39;">Monsieur La Doulaise</li>

      <li style="font-family: &#39;Montserrat&#39;">Montserrat</li>

      <li style="font-family: &#39;Muli&#39;">Muli</li>

      <li style="font-family: &#39;Nixie One&#39;">Nixie One</li>

      <li style="font-family: &#39;Noto Sans&#39;">Noto Sans</li>

      <li style="font-family: &#39;Open Sans&#39;">Open Sans</li>

      <li style="font-family: &#39;Pacifico&#39;">Pacifico</li>

      <li style="font-family: &#39;Peralta&#39;">Peralta</li>

      <li style="font-family: &#39;Podkova&#39;">Podkova</li>

      <li style="font-family: &#39;Port Lligat Slab&#39;">Port Lligat Slab</li>

      <li style="font-family: &#39;Proxima Nova&#39;">Proxima Nova</li>

      <li style="font-family: &#39;PT Sans&#39;">PT Sans</li>

      <li style="font-family: &#39;PT Sans Narrow&#39;">PT Sans Narrow</li>

      <li style="font-family: &#39;PT Serif Caption&#39;">PT Serif Caption</li>

      <li style="font-family: &#39;Quicksand&#39;">Quicksand</li>

      <li style="font-family: &#39;Roboto&#39;">Roboto</li>

      <li style="font-family: &#39;Roboto Slab&#39;">Roboto Slab</li>

      <li style="font-family: &#39;Rokkitt&#39;">Rokkitt</li>

      <li style="font-family: &#39;Sanchez&#39;">Sanchez</li>

      <li style="font-family: &#39;Source Code Pro&#39;">Source Code Pro</li>

      <li style="font-family: &#39;Stint Ultra Condensed&#39;">Stint Ultra Condensed</li>

      <li style="font-family: &#39;Ubuntu&#39;">Ubuntu</li>

      <li style="font-family: &#39;Vast Shadow&#39;">Vast Shadow</li>

  </ul>
  </div>
  </div>


        <div class="artwork-editor bottom">
  <div class="panel-graphics">
  <h3>Bottom of Box</h3>

  <form class="add-artwork">
    <input name="file" type="file" accept=".ai,.pdf,.eps,.jpg,.png">
    <button class="btn  add-artwork-btn">Add Artwork</button>
    <p>
    File formats:
    <br>
    .ai, .pdf, .eps, .jpg, .png
    </p>
  </form>

  <div class="add-text">
    <button class="btn success add-text-btn">Add Text</button>
    <button class="btn white font-btn">
      <span style="color: #000" class="font">Proxima Nova</span>
      <span class="arrow">▼</span>
    </button>
    <button class="btn white text-color-btn"><span style="background: #000" class="color"></span></button>
  </div>

  <div class="artwork-canvas">
    <canvas></canvas>
    <div class="loading-cube">
  <div class="container-loading cube-container">
    <div class="cube">
      <div class="half1">
        <div class="side s1"></div>
        <div class="side s2"></div>
        <div class="side s5"></div>
      </div>
      <div class="half2">
        <div class="side s3"></div>
        <div class="side s4"></div>
        <div class="side s6"></div>
      </div>
    </div>
  </div>
  </div>

  </div>

<!--
  <button class="btn success fit-btn">Fit</button>
  <button class="btn success center-btn">Center</button>
  <button class="btn success cover-btn">Cover</button>
-->
  <button class="btn danger delete-btn">Delete</button>
  </div>

  <div class="panel-color" style="visibility:hidden;">
  <h3>Bottom Panel Color</h3>
  <input type="color">
  <button class="btn white add-color-btn">Select a custom color <span class="color"></span></button>
  </div>

  <div class="color-picker-content">
  <div class="color-picker">

  <div class="selectors">
  <div class="color-select">
    <canvas class="color-canvas"></canvas>
    <div class="pointer"></div>
  </div>
  <div class="saturation-select">
    <input type="range" min="0.0" max="1.0" value="1.0" step="0.01">
  </div>
  </div>
  <div class="actions">
  <button class="danger btn remove-btn">Remove Color</button>
  <button class="success btn color-entire-box-btn">Color Entire Box</button>
  </div>
  </div>

  </div>

  <div class="font-picker-content">
  <ul class="font-picker">

      <li style="font-family: &#39;Alex Brush&#39;">Alex Brush</li>

      <li style="font-family: &#39;Alfa Slab One&#39;">Alfa Slab One</li>

      <li style="font-family: &#39;Antic Slab&#39;">Antic Slab</li>

      <li style="font-family: &#39;Arbutus Slab&#39;">Arbutus Slab</li>

      <li style="font-family: &#39;Arvo&#39;">Arvo</li>

      <li style="font-family: &#39;Bad Script&#39;">Bad Script</li>

      <li style="font-family: &#39;Bevan&#39;">Bevan</li>

      <li style="font-family: &#39;Bitter&#39;">Bitter</li>

      <li style="font-family: &#39;Crete Round&#39;">Crete Round</li>

      <li style="font-family: &#39;Cutive&#39;">Cutive</li>

      <li style="font-family: &#39;Droid Sans&#39;">Droid Sans</li>

      <li style="font-family: &#39;Glegoo&#39;">Glegoo</li>

      <li style="font-family: &#39;Graduate&#39;">Graduate</li>

      <li style="font-family: &#39;Kreon&#39;">Kreon</li>

      <li style="font-family: &#39;Lato&#39;">Lato</li>

      <li style="font-family: &#39;Life Savers&#39;">Life Savers</li>

      <li style="font-family: &#39;Lobster&#39;">Lobster</li>

      <li style="font-family: &#39;Maiden Orange&#39;">Maiden Orange</li>

      <li style="font-family: &#39;Monsieur La Doulaise&#39;">Monsieur La Doulaise</li>

      <li style="font-family: &#39;Montserrat&#39;">Montserrat</li>

      <li style="font-family: &#39;Muli&#39;">Muli</li>

      <li style="font-family: &#39;Nixie One&#39;">Nixie One</li>

      <li style="font-family: &#39;Noto Sans&#39;">Noto Sans</li>

      <li style="font-family: &#39;Open Sans&#39;">Open Sans</li>

      <li style="font-family: &#39;Pacifico&#39;">Pacifico</li>

      <li style="font-family: &#39;Peralta&#39;">Peralta</li>

      <li style="font-family: &#39;Podkova&#39;">Podkova</li>

      <li style="font-family: &#39;Port Lligat Slab&#39;">Port Lligat Slab</li>

      <li style="font-family: &#39;Proxima Nova&#39;">Proxima Nova</li>

      <li style="font-family: &#39;PT Sans&#39;">PT Sans</li>

      <li style="font-family: &#39;PT Sans Narrow&#39;">PT Sans Narrow</li>

      <li style="font-family: &#39;PT Serif Caption&#39;">PT Serif Caption</li>

      <li style="font-family: &#39;Quicksand&#39;">Quicksand</li>

      <li style="font-family: &#39;Roboto&#39;">Roboto</li>

      <li style="font-family: &#39;Roboto Slab&#39;">Roboto Slab</li>

      <li style="font-family: &#39;Rokkitt&#39;">Rokkitt</li>

      <li style="font-family: &#39;Sanchez&#39;">Sanchez</li>

      <li style="font-family: &#39;Source Code Pro&#39;">Source Code Pro</li>

      <li style="font-family: &#39;Stint Ultra Condensed&#39;">Stint Ultra Condensed</li>

      <li style="font-family: &#39;Ubuntu&#39;">Ubuntu</li>

      <li style="font-family: &#39;Vast Shadow&#39;">Vast Shadow</li>

  </ul>
  </div>
  </div>





    </div>

    <div class="box-viewer" style="min-width:300px;max-width:600px;margin-top:-100px;">


      <div class="viewer" style="min-width:300px;border-radius:20px;margin-left:10px;margin-right:10px;"></div>




    </div>

  </div>
  </div>
  </div>



    </main>








  </body>

</div>
</div>

<script>
function saveBoxDesign(){
$("#box-designer").css("visibility", "hidden");
$(".artwork-editor").css("visibility", "hidden");

//save box Image
var canvas = $(".viewer").find( "canvas" );
var dataURL = canvas[0].toDataURL();


var appElement = document.querySelector('[ng-app=app]');
$scope = angular.element(appElement).scope();
$scope = $scope.$$childHead; // add this and it will work
$scope.$apply(function() {
    $scope.box.box_img = dataURL;
});
}
</script>
