<div class="nav-container">

    <h2 class="panel-title" style="color:#A6CCE8;">

      <div id="crumbs"
           class="{% if cat == 'beauty' %}beauty{% endif %}"
           style="z-index:99;">
        <ul>
          <li><a class="crumb current" id="crumb1" data-step="step1">Premade/Custom</a></li>
          <li><a class="crumb" id="crumb2" data-step="step2">Products</a></li>
          <li><a class="crumb" id="crumb3" data-step="step3">Design</a></li>
          <li><a class="crumb" id="crumb4" data-step="step4">Label</a></li>
          <li><a class="crumb" id="crumb5" data-step="step5">Price</a></li>
          <li><a class="crumb" id="crumb6" data-step="step6">Finish</a></li>
        </ul>
      </div>
</div>
