<div id="step1" class="steps container" style="text-align:center;" >



  <!--<h1 style="text-align:center;padding-bottom:2em;margin-top:40px;font-weight:200;color:#2d2d2d;">Let's Make a <strong ng-bind="box.star.name" style="font-family: 'Finger Paint', cursive;color:purple;font-size:29px;color:#BA82AA;"></strong> Beauty Box!</h1>-->
  <h2 style="text-align:center;padding-bottom:1em;margin-top:60px;font-weight:400;color:#8d8d8d;font-size:40px;font-family: 'Cookie', cursive;"><strong><i class="fa fa-rocket" aria-hidden="true"></i> Launch a Beauty Line</strong>
    <!--<br><p style="color:#8d8d8d;">Run a campaign. Make money. Donate to charity.</p>-->
  </h2>

<div class="row" >
          <div class="col-sm-3">
            <div class="thumbnail next-btn" style="padding: 20px 10px;cursor:pointer;">
              <!--<div style="position:absolute;right: 0;left: 0;top:2px;margin: auto;font-size:10px;color:#adadad;">hover to zoom</div>-->
              <!--<div style="position:absolute;top:-15px;left:-15px;background-color:#25CB68;border-radius:50%;padding:20px 10px;color:#fff;font-size:12px;opacity:.4;">STEP 1</div>-->
              <img style="width: 40%;" width="150px" src="/static/img/beauty-items/22-93.png" alt="benefits of product">
              <h4 style="color:#999;">Step 1 <br> <span class="light">Select Products</span></h4>
              <!-- <p>Select what items to put in your box from our huge catalog of customizable items!</p> -->
            </div>
            <span class="arrow-icon">&nbsp;</span>
          </div>
          <div class="col-sm-3">
            <div class="thumbnail" class="thumbnail" style="padding: 20px 10px;">

              <!--<div style="position:absolute;top:-15px;left:-15px;background-color:#25CB68;border-radius:50%;padding:20px 10px;color:#fff;font-size:12px;opacity:.7;">STEP 2</div>-->
                <img style="width: 40%;" width="150px" src="/static/img/live/caci-twins/box.png" alt="benefits of product">
                <h4 style="font-size:18px;bottom:15px;color:#999;">Step 2 <br> <span class="light">Design Packaging</span></h4>
                <!-- <p>You have 7 days to <strong>pre-sell</strong> your boxes, if you sell more than 10 you get paid! -->
              </div>
            <span class="arrow-icon">&nbsp;</span>
          </p></div>
          <div class="col-sm-3">
            <div class="thumbnail" class="thumbnail" style="padding: 20px 10px;">

              <!--<div style="position:absolute;top:-15px;left:-15px;background-color:#25CB68;border-radius:50%;padding:20px 10px;color:#fff;font-size:12px;opacity:1;">STEP 3</div>-->
                <img  style="width: 40%;" src="/static/img/logo1.png"  alt="benefits of product">
                <h4 style="font-size:18px;bottom:15px;color:#999;">Step 3<br> <span class="light">Create a Brand</span></h4>
              </div>


              <span class="arrow-icon">&nbsp;</span>
          </div>

          <div class="col-sm-3">
            <div class="thumbnail" class="thumbnail" style="padding: 20px 10px;">

              <!--<div style="position:absolute;top:-15px;left:-15px;background-color:#25CB68;border-radius:50%;padding:20px 10px;color:#fff;font-size:12px;opacity:1;">STEP 3</div>-->
                <img  style="width: 40%;" src="/static/img/store.png" ng-src="{a box.star.img_url a}" alt="benefits of product">
                <h4 style="font-size:18px;bottom:15px;color:#999;">Step 4<br> <span class="light">Launch Store</span></h4>
              </div>


            <!-- <p>Earn larger cash bonuses as you pre-sell more boxes!</p> -->

            <!--<span class="arrow-icon">&nbsp;</span>-->
          </div>
  </div>
  <div class="row">

    <div class="col-xs-12" style="text-align:center;">

        <button class="btn btn-primary btn-lg next-btn btn-nav btn-beauty button" style="background-color:#25CB68 !important;margin-top:3em; font-weight:800;width:15em;border-radius:4px;">
          Start
        </button>
        <p style="padding-top:1em;font-size: 13px;color:#adadad;">Order a sample after you submit your <strong>FREE</strong> beauty kit</p>

        <!--<img width="400px" src="/static/img/fandemicbox.png" style="position:absolute;right: 10px;top:-100px;">-->
    </div>


  </div>

<br><br><br>

</div>
