<div id="step3" class="steps container" style="margin-top:60px;display:none;">



    <div class="row">
    <div class="col-md-8" style="padding-right:90px;">

      <div class="explain-step" style="padding-left:0px;">
        <h3 class="subtitle">How will your box packaging look?</h3>
          <i class="light" style="font-weight:300;">use the <strong>arrows</strong> to see all variations!<br>
          the box and packaging material you choose will be what your items are shipped in
          </i>
      </div>

      <!-- Choose your box design -->
      <h4 style="color:#8d8d8d;">1. Select a <strong>box color</strong></h4>


      <div class="carousel" data-flickity='{ "initialIndex": 1,"freeScroll": true,"wrapAround": true }'>

      {% for style in styles %}
      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%;padding:10px;">


          <div class="content" ng-click="toggleStyle({name:'{{style.name}}',img:'{{style.img}}'})" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/{{style.img}}" alt="">

                <span ng-if="box.style.name=='{{style.name}}'">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>

              <h5 class="title" style="font-size:18px;bottom:30px;color:#999;">{{style.name}}</h5>

            </div>



          </div>
      </div>
      {% endfor %}

      </div>
      <!-- end of box design -->

      <br><br><br>


      <!-- Choose your box packaging -->
      <h4 style="color:#8d8d8d;">2. Select a <strong>packaging material</strong></h4>



      <div class="carousel" data-flickity='{ "initialIndex": 1,"freeScroll": true,"wrapAround": true }'>

      {% for material in packaging %}
      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%;padding:15px;">


          <div class="content" ng-click="toggleMaterial({name:'{{material.name}}',img:'{{material.img}}'})" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/{{material.img}}" alt="">

                <span ng-if="box.material.name=='{{material.name}}'">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>

              <h5 class="title" style="font-size:16px;bottom:30px;color:#999;">{{material.name}}</h5>

            </div>



          </div>
      </div>
      {% endfor %}


      </div>
      <!-- end of box packaging -->

      <br><br><br>

  </div>

  <div class="col-md-4">

    {% include('builder/summary.html') %}

    <button id="next-btn4" ng-click="step_3()" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">NEXT STEP: Labels</button>

  </div>



</div>

  <br><br><br>

    <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>
