<div id="step1" class="steps container" style="text-align:center;">



  <h1 style="text-align:center;margin-top:80px;font-weight:500;font-family: 'Lato', sans-serif;">SELL YOUR OWN BEAUTY BOX</h1>
  <h3 class="subtitle2">Design -> Pre-Sell -> Get Paid</h3>


  <div class="row">

    <div class="col-xs-12" style="text-align:center;">

        <p><strong>Design your own</strong> customized beauty box</p>
        <p><strong>Pre-sell your box</strong> using our e-commerce platform</p>
        <p><strong>Instantly get paid</strong> when campaign is successful</p>
        <br><br>
        <button class="btn btn-success btn-lg next-btn btn-nav btn-beauty" style="font-weight:700;padding: 15px 25px;width:300px;">CREATE A BOX</button>
        <!--<img width="400px" src="/static/img/fandemicbox.png" style="position:absolute;right: 10px;top:-100px;">-->
    </div>

    <!--
    <div class="col-xs-6">
      <div id="custom" class="option next-btn">
        <h3>CREATE MY BOX</h3>
         <img src="../static/img/custom.svg">
         <p class="light">Build a beautiful beauty box</p>
         <img src="../static/img/selectmark.svg" class="selectmark" style="width:30% !important;"></span>
      </div>
    </div>


    <div class="col-xs-2 or">
      <strong>or</strong>
    </div>
    <div class="col-xs-5">
      <div id="premade" class="option" data-toggle="modal" data-target="#premade-selector">
        <h3>PREMADE BOX</h3>
         <img src="../static/img/gift.svg">
         <p class="light">Designed by our beauty experts</p>
         <img src="../static/img/selectmark.svg" class="selectmark" style="width:30% !important;"></span>
      </div>
    </div>
  -->

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="premade-selector" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header" style="background:#BA82AA;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="myModalLabel" style="text-align:center;color:#fff;">Which Box Do You Like Most?</h4>

                </div>
                <div class="modal-body" style="text-align:center;">

                    <!-- <h4 style="color:#9d9d9d;">Products</h4><br> -->
                    <br>
                    <img width="20%" style="margin-right:30px;" src="/static/img/sample_products/tanning-powder.jpg">
                    <span class="plus"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                    <img width="20%" src="/static/img/sample_products/liquid-lips.jpg">
                    <span class="plus"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                    <img width="20%" style="margin-left:30px;" src="/static/img/sample_products/fake-eyelashes.png">

                    <br><br>
                    <!-- <h4 style="color:#9d9d9d;">Packaging</h4><br> -->
                    <img width="30%" src="/static/img/packaging/box.png">
                    <span class="plus"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                    <img width="20%" style="margin-left:30px;" src="/static/img/packaging/white.jpg">


                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="step=2" class="btn btn-primary btn-lg btn-nav btn-beauty next-btn">Use This Recipe</button>
                </div>
            </div>
        </div>
    </div>
</div>
