<div id="step3" class="steps container" style="margin-top:30px;display:none;">



  <div class="row">

    <h3 class="subtitle"><strong>Step 2:</strong> choose your payout per item sold</h3>
    <hr>
    <div class="col-md-8">

      <div class="explain-step" style="padding-left:0px;">


        <!--
        <i class="light" style="font-weight:300;"><a style="font-weight:100;" href="#" id="viewExample_2" passed-step="Box" data-toggle="modal" data-target="#view-example">View Example</a></i>
        -->
      </div>

      <div class="row" >


        <!-- WORDLY -->
        <div class="col-md-4 col-xs-6" style="margin-bottom:30px;">
        <div class="carousel-cell item-box">
          <div
          data-ga-click-event-category="Step 4" data-ga-click-event-action="Pricing" data-ga-click-event-label="Follower Friendly"
          class="thumbnail" style="height:100%;width:100%;padding:10px;">
            <div class="content" ng-click="togglePrice({profit:0,charity:0})"
                 style="cursor:pointer;width:100%;height:100%;">
                  <img class="product-img" style="width:100%;padding:40px;"  src="../static/img/customer.svg" alt="">

                  <span ng-if="box.charity==0 && box.profit==0">
                    <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                  </span>

                  <div class="progress" style="position:absolute;top:0px;left:0px;width:100%;opacity:.7;">

                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                      $0 for <strong>you per sale</strong>
                    </div>
                  </div>

                <h5 class="title" style="font-size:24px;bottom:15px;color:#999;">Follower Friendly
                <!--<br> <span class="money" style="font-size:14px;">Retail: ${a box.cost + 0 a}</span>--></h5>
              </div>
            </div>
        </div>
      </div>

      <!-- WORDLY -->
      <!--<div class="carousel-cell item-box">
        <div
        data-ga-click-event-category="Step 4" data-ga-click-event-action="Pricing" data-ga-click-event-label="Helping Hand"
        class="thumbnail" style="height:100%;width:100%;padding:10px;">
          <div class="content" style="cursor:pointer;width:100%;height:100%;"
               ng-click="togglePrice({profit:0,charity:1})">

                <img class="product-img" style="width:100%;padding:40px;"  src="../static/img/donation.svg" alt="">



                <div class="progress" style="position:absolute;top:0px;left:0px;width:100%;opacity:.7;">

                  <div class="progress-bar progress-bar-primary" role="progressbar" style="width:100%">
                    $1 for <strong>charity per sale</strong>
                  </div>
                </div>

                <span ng-if="box.charity==1 && box.profit==0">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>

              <h5 class="title" style="font-size:24px;bottom:15px;color:#999;">Helping Hand
            </h5>
            </div>
          </div>
      </div>-->

      <!-- WORDLY -->
      <div class="col-md-4 col-xs-6" style="margin-bottom:30px;">
      <div class="carousel-cell item-box">
        <div
        data-ga-click-event-category="Step 4" data-ga-click-event-action="Pricing" data-ga-click-event-label="Piggy Bank"
        class="thumbnail" style="height:100%;width:100%;padding:10px;">
          <div class="content" ng-click="togglePrice({profit:3,charity:0})"
               style="cursor:pointer;width:100%;height:100%;">
                <img class="product-img" style="width:100%;padding:40px;"  src="../static/img/piggy-bank.svg" alt="">

                <span ng-if="box.charity==0 && box.profit==3">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>

              <h5 class="title" style="font-size:24px;bottom:15px;color:#999;">Piggy Bank
              <!--<br> <span class="money" style="font-size:14px;">Retail: ${a box.cost + 4 a}</span>--></h5>

              <div class="progress" style="position:absolute;top:0px;left:0px;width:100%;opacity:.7;">

                <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                  <strong>$3 for you per sale</strong>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>



      <!-- WORDLY -->
      <!--<div class="carousel-cell item-box">
        <div
        data-ga-click-event-category="Step 4" data-ga-click-event-action="Pricing" data-ga-click-event-label="Versatile"
        class="thumbnail" style="height:100%;width:100%;padding:10px;">
          <div class="content" ng-click="togglePrice({profit:3,charity:2})" style="cursor:pointer;width:100%;height:100%;">
                <img class="product-img" style="width:100%;padding:40px;"  src="../static/img/versatile.svg" alt="">

                <span ng-if="box.charity==2 && box.profit==3">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>


                <div class="progress">
                  <div class="progress-bar progress-bar-primary" role="progressbar" style="width:40%">
                    $2 for <strong>charity</strong> per sale
                  </div>
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%">
                    $3 for <strong>you</strong> per sale
                  </div>
                </div>

              <h5 class="title" style="font-size:24px;bottom:15px;color:#999;">Versatile
            </h5>
            </div>
          </div>
      </div>-->

      <!-- WORDLY -->
      <!--<div class="carousel-cell item-box">
        <div
        data-ga-click-event-category="Step 4" data-ga-click-event-action="Pricing" data-ga-click-event-label="Angel"
        class="thumbnail" style="height:100%;width:100%;padding:10px;">
          <div class="content" ng-click="togglePrice({profit:0,charity:4})" style="cursor:pointer;width:100%;height:100%;">
                <img class="product-img" style="width:100%;padding:40px;"  src="../static/img/angel.svg" alt="">

                <span ng-if="box.charity==4 && box.profit==0">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>

                <div class="progress" style="position:absolute;top:0px;left:0px;width:100%;opacity:.7;">

                  <div class="progress-bar progress-bar-primary" role="progressbar" style="width:100%">
                    $4 for <strong>charity</strong> per sale
                  </div>
                </div>

              <h5 class="title" style="font-size:24px;bottom:15px;color:#999;">Angel
              </h5>
            </div>
          </div>
      </div>--?

      <!-- WORDLY -->
      <div class="col-md-4 col-xs-6" style="margin-bottom:30px;">
      <div class="carousel-cell item-box">
        <div
        data-ga-click-event-category="Step 4" data-ga-click-event-action="Pricing" data-ga-click-event-label="Money Maker"
        class="thumbnail" style="height:100%;width:100%;padding:10px;">
          <div class="content" ng-click="togglePrice({profit:5,charity:0})" style="cursor:pointer;width:100%;height:100%;">
                <img class="product-img" style="width:100%;padding:40px;"  src="../static/img/money-maker.svg" alt="">

                <span ng-if="box.charity==0 && box.profit==5">
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                </span>

                <div class="progress" style="position:absolute;top:0px;left:0px;width:100%;opacity:.7;">

                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                    <strong>$5 for you per sale</strong>
                  </div>
                </div>

              <h5 class="title" style="font-size:24px;bottom:15px;color:#999;">Money Maker
                <!--<br> <span class="money" style="font-size:14px;">Retail: ${a box.cost + 8 a}</span>--></h5>

            </div>
          </div>
      </div>
    </div>









      </div>
    </div>

    <div class="col-md-4">

      {% include('builder/summary.html') %}

      <button
      data-ga-click-event-category="Step 2" data-ga-click-event-action="Next Step 2" data-ga-click-event-label="Step 2: Packaging -> Step 3: Labeling "
      id="next-btn4" ng-click="step_3()" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">Next Step <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

    </div>



  </div>

  <br>
  <br>
  <br>

  <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>


<!--VARIATIONS MODAL -->
<div class="modal fade variations-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="box-color-modal">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding:30px;padding-bottom:16px;min-width:1000px;height:100%;overflow-y:auto;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h3 class="subtitle" style="text-align:center;margin-bottom:5px;color:#adadad;font-weight:200;">Choose a Box Color!</h3>
      <hr>

      <div style="text-align:center;">


        {% for style in styles %}
        <!--start of option-->
        <div
        data-ga-click-event-category="builder" data-ga-click-event-action="Premade Box Styles" data-ga-click-event-label="User selected style {{style.name}} of Premade Boxes"
        class="clickable" style="display:inline-block;padding:0px 25px;text-align:center;" ng-click="toggleStyle({ name:'Solid Color',variation:'{{style.name}}',img:'{{style.img}}' })" data-dismiss="modal">
          <img width="160px" class="lazy_load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/static/img/packaging/{{style.img}}">
          <p class="light">{{style.name}}</p>

        </div>
        <!-- end of option 1 -->
        {% endfor %}


      </div>


    </div>
  </div>
</div>








<!-- PROFESSIONAL DESIGN VERIFY MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="professional-design-verify">

  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-content2" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <br>

      <div class="row">
        <div class="col-md-4">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box.png" alt="">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box2.png" alt="">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box.png" alt="">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box2.png" alt="">
        </div>
        <div class="col-md-8">
          <h4>Professional Box Design Services</h4>
          <hr>
          <p>Stand out from other campaigns with a custom designed mailer box.</p>
          <p>Fandemic has a team of certified graphic designers who can make you something beautiful!</p>

          <br>

          <div class="well">
            <p>
              <strong>One Time Fee:</strong>
              <span style="color:#25CB68;">Free - Special</span>
              <br>
              <strong>Turn Around Time:</strong> 2 Days</p>
          </div>
          <br>
              <!-- <strong>But first we need something to work off...</strong>
              <br>
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-9">
                    <input style="width:100%" type="" class="form-control" id="" placeholder="Upload your own design, logo or inspiration">
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Browse</button>
                  </div>
              </div>
              </form> -->
        </div>
      </div>

      <div style="text-align:right;">
        <a ng-click="toggleStyle({name:'Professional Design',img:'professional-box.png'})" data-dismiss="modal" style="background-color:green" class="btn btn-primary">I Agree</a>
      </div>

    </div>
  </div>
</div>
