<div id="step2" class="steps container" style="display:none;">

  <br><br>

  <div class="row">

    <div class="col-md-8">

        <h3 class="subtitle">Which items do you want in your box?</h3>

      <ul class="nav nav-tabs">
        {% for group in items | groupby('sub-category')%}
        <li {% if group.grouper == 'cheeks' %}class="active"{% endif %}><a data-toggle="tab" href="#{{group.grouper}}">{{group.grouper | upper}}</a></li>
        {% endfor %}
      </ul>

    <div class="tab-content">
    {% for group in items | groupby('sub-category')%}
    <div id="{{group.grouper}}" class="tab-pane fade in {% if group.grouper == 'cheeks' %}active{% endif %}">


    {% for item in group.list %}

    <div class="item-box"
         style="float:left;width:220px;height:285px;margin:5px;">

          <div class="thumbnail" style="height:100%;width:100%">


            <div class="content" style="cursor:pointer;width:100%;height:100%;"
                 ng-click="toggle_product({name:'{{item.name}}',img_url:'{{item.img_url}}',cost:'{{item.cost}}' })">

                  {% if item.img_url[0] == "h" and  item.img_url[1] == "t" %}
                  <img class="product-img img-responsive" style="width:100%;padding:10px;"  src="{{item.img_url}}" alt="">
                  {% else %}
                  <img class="product-img img-responsive" style="width:100%;padding:10px;"  src="/static/img/sample_products/{{item.img_url}}" alt="">
                  {% endif %}
                  <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

                <h5 class="title">{{item.name}}</h5>

              </div>

                <span class="cost">+${{item.cost}}</span>
                <div class="group" style="width: 100%; position: absolute;bottom:0px;">
                  <a class="btn btn-details" style="background:#ddd;color:#9d9d9d;width:100%;border-radius:0px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;" data-toggle="modal" data-target="#{{ item.sku|replace(' ', '-') }}">VIEW DETAILS</a>

                </div>
            </div>
        </div>



      {% endfor %}
    </div>

    {% for item in group.list %}
    <!--DETAILS MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="{{ item.sku|replace(' ', '-') }}">

      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding:30px;padding-bottom:16px;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="row" style="min-height:300px;">

            <div class="col-md-5">
              <div class="zoomable">

                  {% if item.img_url[0] == "h" and  item.img_url[1] == "t" %}
                  <img class="img-responsive" src="{{item.img_url}}" alt="">
                  {% else %}
                  <img class="img-responsive" src="/static/img/sample_products/{{item.img_url}}" alt="">
                  {% endif %}

              </div>
            </div>

            <div class="col-md-7">
              <h2 class="modal-title" id="myModalLabel">{{item.name}}</h2>
              <hr>

              <p>{{item.description}}</p>
              <br>

              <p style="color:green;font-weight:600;">Manfuacturing Cost: {{item.cost}}</p>
              <br>

            </div>

          </div>

          <div class="row" style="margin-top:30px;">
            <a  data-dismiss="modal" href="#" class="sample-order" style="position: absolute;bottom: 16px;">Order a blank sample of the {{item.name}}</a>
            <!--<a class="btn btn-submit pull-right" href="/builder/add/{{item.sku}}">Add Item to Box</a>-->
          </div>

        </div>
      </div>
    </div>
    {% endfor %}




      {% endfor %}
    <!-- /.row -->
</div></div>

<div class="col-md-4">

  {% include('builder/summary.html') %}

  <button id="next-btn3" class="btn btn-primary btn-lg btn-nav
                  {% if cat == 'beauty' %}btn-beauty{% endif %}
                  next-btn">
    NEXT STEP: packaging</i>
  </button>



</div>


</div>




      <script type="text/javascript">
          $(document).ready(function(){
            $('.products').slick({infinite: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        adaptiveHeight: true,
        centerMode: true,
        variableWidth: true});
          });
        </script>


</div>
