<div id="step3" class="steps container" style="margin-top:60px;display:none;">



    <div class="row">
    <div class="col-md-8">

      <h3 class="subtitle">How will your box packaging look?</h3>

      <!-- Choose your box design -->
      <h4 style="color:#8d8d8d;">1. Select a <strong>box style</strong></h4>
      <hr class="line">

      <div class="carousel" data-flickity='{ "initialIndex": 1 }'>

      {% for style in styles %}
      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" ng-click="toggleStyle({name:'{{style.name}}',img:'{{style.img}}'})" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/{{style.img}}" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">{{style.name}}</h5>

            </div>



          </div>
      </div>
      {% endfor %}

      </div>
      <!-- end of box design -->

      <br><br><br>


      <!-- Choose your box packaging -->
      <h4 style="color:#8d8d8d;">2. Select your <strong>packaging material</strong></h4>
      <hr class="line">


      <div class="carousel" data-flickity='{ "initialIndex": 1 }'>

      {% for material in packaging %}
      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" ng-click="toggleMaterial({name:'{{material.name}}',img:'{{material.img}}'})" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:80%;padding:10px;"  src="/static/img/packaging/{{material.img}}" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">{{material.name}}</h5>

            </div>



          </div>
      </div>
      {% endfor %}


      </div>
      <!-- end of box packaging -->

      <br><br><br>

  </div>

  <div class="col-md-4">

    {% include('builder/summary.html') %}

    <button id="next-btn4" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">NEXT STEP: details</button>

  </div>



</div>

  <br><br><br>

    <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>
