<div id="step2" class="steps container" style="min-height:800px;padding-bottom:50px;margin-top:10px;" ng-cloak>



  <div class="row">


    <h3 class="subtitle" >Select 6 products that interest you</h3>
    <hr>



    <div class="col-md-8">


      <div class="explain-step">


        <!--<i class="light" style="font-weight:300;"><a style="font-weight:100;" href="#" id="viewExample_1" passed-step="Products" data-toggle="modal" data-target="#view-example">View Example</a></i>-->

        <!--<i class="light" style="font-weight:300;">
                        add items to your box by <strong>clicking</strong> on them <br>
                         all products are declared cruelty-free by PETA<br>
                         <strong>Order a sample of chosen products at the end!</strong><br><br>
                         <img width="20px;" class="color-palette" src="/static/img/color-palette.svg"> = multiple colors available <br>
                         <img width="20px;" src="/static/img/vegan.svg"> = this product is vegan
        </i>-->

        <i class="light" style="font-weight:300;position:absolute;right:80px;top:0px;">

                        <!-- <img width="20px;" class="color-palette" src="/static/img/color-palette.svg"> = multiple colors available <br>-->
                         <!-- <img width="20px;" src="/static/img/vegan.svg"> = this product is vegan -->
        </i>


        <style>
        .dropdown-title{
          line-height: 15px;
          color: #555555;
          font-weight: 400;
          font-size:12px;
        }
        .dropdown-container{
          width: 250px;
          position: relative;
          margin-top:5px;
          margin-right: 10px;
          display: inline-block;

        }
        .dropdown-select{
          width: 250px;
          height: 60px;
          background-color: #fff;
          border: 1px solid #a9a9a9;
          padding:10px;
          cursor: pointer;
          overflow: hidden;
        }
        .dropdown{
          position:absolute;
          margin-top:5px;
          width: 250px;
          max-height: 300px;
          overflow-y: auto;
          overflow-x: hidden;
          display: inline-block;
          background-color: #fff;
          -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
          box-shadow: 0 1px 1px rgba(0,0,0,.15);
          border: 1px solid #ddd;
          z-index:2;
        }
        .dropdown-item{
          border-bottom: 1px solid #f1f1f1;
          padding: 10px 10px;
          cursor: pointer;
          max-height:60px;
          overflow: hidden;
        }
        .dropdown-item:hover{
          background: #f1f1f1;
        }
        .item-name{
          margin-left:15px;
          line-height: 40px;
          font-size:13px;
          font-weight: 500;
        }
        .arrow{
          position:absolute;
          right: 15px;
          top:40px;
        }
        .item-box-container{
          padding: 10px;
        }

        .thumbnail {
          box-shadow: none;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
        }

        @media only screen and (min-width: 900px) {
          .item-row{
            padding-right: 80px !important;
          }
          .next-btn{
            margin-bottom: 15px;

          }

          .explain-step {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 80px;
}

        }

        @media only screen and (max-width: 900px) {
          .explain-step {
              margin-bottom: 0px;
              padding-left: 0px;
              padding-right: 0px;
          }



          .item-box {
    height: auto;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: -5px !important;
        }

        .dropdown-title{
          font-size:10px;
        }

        .navbar-collapse{
          width: 100% !important;
        }

      }
        </style>




        <!-- dropdown starts here -->
        <div class="dropdown-container">
          <span class="dropdown-title">Filter by Brand:</span>
          <div class="dropdown-select">
            <img ng-show="filter.brand.name!='All Brands'" height="40px" src="https://res.cloudinary.com/fandemic/image/upload/v{{unixTimestamp}}/brands/{a filter.brand.id a}/logo.png">
            <strong class="item-name">{a filter.brand.name a}</strong>
            <img class="arrow" height="30px" src="/static/img/arrow-down.png">
          </div>
          <div class="dropdown" style="display:none;">
            <div class="dropdown-item" ng-click="filter.brand={name:&quot;All Brands&quot;,id:&quot;All Brands&quot;}">
              <strong class="item-name">All Brands</strong>
            </div>
            {% for brand in brands %}

              <div class="dropdown-item" ng-click="filter.brand={name:&quot;{{brand.bio.company_name}}&quot;,id:&quot;{{brand.bio.company_id}}&quot;}">
                <img width="40px" src="https://res.cloudinary.com/fandemic/image/upload/v{{unixTimestamp}}/brands/{{brand.bio.company_id}}/logo.png">
                <strong class="item-name">{{ brand.bio.company_name }}</strong>
              </div>

            {% endfor %}
          </div>
        </div>
        <!-- dropdown ends here -->

        <!-- dropdown starts here -->
        <div class="dropdown-container">
          <span class="dropdown-title">Filter by Category:</span>
          <div class="dropdown-select">
            <img ng-show="filter.category!='All Products'" height="40px" src="/static/img/{a filter.category a}.svg">
            <strong class="item-name">{a filter.category a}</strong>
            <img class="arrow" height="30px" src="/static/img/arrow-down.png">
          </div>
          <div class="dropdown" style="display:none;">
            <div class="dropdown-item" ng-click="filter.category='All Products'">
              <strong class="item-name">All Products</strong>
            </div>
            {% for cat in cats %}
            <div class="dropdown-item" ng-click="filter.category='{{cat}}'">
              <img height="40px" src="/static/img/{{cat}}.svg">
              <strong class="item-name">{{cat | upper}}</strong>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- dropdown ends here -->

      </div>


    <!--LOOP THROUGH ITEMS -->
    <div class="item-row row" style="padding-right: 10px;">
    <div ng-repeat="item in items">

    <div class="item-box-container col-md-4 col-xs-6">
    <div class="item-box" style="float:left;width:100%;height:auto;margin:5px;position:relative;">

      <div ng-if="item.popular">
        <div class="popular-product-label"><i class="fa fa-star" aria-hidden="true"></i> Popular</div>
      </div>

          <div class="thumbnail" style="height:100%;width:100%;">



            <div class="content clickable"
                 ng-click="check_product(item)"
                 style="cursor:pointer;width:100%;height:100%;">


                  <img class="product-img img-responsive"  style="height:100%;padding:10px;margin-bottom:60px;" src="https://res.cloudinary.com/fandemic/image/upload/w_300,h_300,c_pad/v{{unixTimestamp}}/products/{a item.item_num a}.png" alt="">


                  <span ng-repeat="p in box.products">
                    <span ng-if="p.name == item.name">
                      <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
                    </span>
                  </span>
                  <!--<img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">-->


                <img width="height:10%;" style="right:5px;top:5px;position:absolute;max-width:40%;max-height:10%;"
                     src="https://res.cloudinary.com/fandemic/image/upload/v{{unixTimestamp}}/brands/{a item.company_id a}/logo.png">

                <h5 class="title">{a item.name a}</h5>



              </div>


                <div class="group" style="width: 100%; position: absolute;bottom:0px;">
                  <a
                  data-ga-click-event-category="Step 1" data-ga-click-event-action="View Product Details" data-ga-click-event-label="{a item.name a}"
                  class="btn btn-details" style="background:#ddd;color:#9d9d9d;width:100%;border-radius:0px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;" data-toggle="modal" data-target="#{a item.item_num a}">VIEW DETAILS</a>

                </div>
            </div>
        </div>

      </div>


      </div>
      </div>
      <!-- END LOOP THROUGH ITEMS -->


    <div ng-repeat="item in items">

    <!-- variations modal -->
    <div ng-if="item.variation.length > 0">
    <div class="variations-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="{a item.item_num a}-variation" style="padding-right: 15px;">

<div class="modal-dialog modal-lg">
  <div class="modal-content" style="padding:30px;padding-bottom:16px;width:100%;max-width:800px;max-height:100%;overflow-y:auto;">


           <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <div style="text-align:center;width:100%;margin-bottom:15px;">
            <img height="40px" style="text-align:center;margin: 0 auto;"
               src="https://res.cloudinary.com/fandemic/image/upload/v{{unixTimestamp}}/brands/{a item.company_id a}/logo.png">
          </div>


            <h3 class="subtitle" style="text-align:center;margin-bottom:5px;color:#adadad;font-weight:200;">Choose a {a item.name a} Color!</h3><hr>

              <div  style="text-align:center;">


              <div ng-repeat="v in item.variation">


              <div
              data-ga-click-event-category="Step 1" data-ga-click-event-action="Variation Selected" data-ga-click-event-label="{a v.name a}"
              class="col-md-3 clickable"
                    style="display:inline-block;padding:0px 25px;text-align:center;margin-bottom:15px;"
                    ng-click="toggle_product({name:item.name,item_num:item.item_num+'-'+v.item_num,price:item.partner_price,variation:v.name })"
                    data-dismiss="modal">
                <img class="img-responsive" src="https://res.cloudinary.com/fandemic/image/upload/w_200,h_200,c_pad/v{{unixTimestamp}}/products/{a item.item_num a}-{a v.item_num a}.png">
                <p class="light">{a v.name a}</p>

              </div>

              </div>
            </div>

            </div>


      </div>
    </div>
  </div>
  </div>




    <!--DETAILS MODAL-->
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="{a item.item_num a}">

      <div class="modal-dialog" style="width:80% !important;">
        <div class="modal-content" style="padding:30px;padding-bottom:16px;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <img height="60px" style="position:absolute;top:25px;right:25px;z-index:999;"
               src="https://res.cloudinary.com/fandemic/image/upload/v{{unixTimestamp}}/brands/{a item.company_id a}/logo.png">

          <div class="row" >

            <div class="col-md-4">



                  <img class="product-img img-responsive" style="width:100%;padding:10px;"  src="https://res.cloudinary.com/fandemic/image/upload/w_300,h_300,c_pad/v{{unixTimestamp}}/products/{a item.item_num a}.png" alt="">



            </div>

            <div class="col-md-8">
              <h2 class="modal-title" id="myModalLabel">{a item.name a}
              </h2>
              <hr>
                <h3>Description</h3>
                <p>{a item.description a}</p>
              <hr>
                <h3>Ingredients</h3>
                <p>{a item.ingredients a}</p>
              <br>

            </div>

          </div>


          <div class="row" style="margin-top:30px;">

            <a class="btn btn-submit pull-right"
               data-dismiss="modal"
               ng-click="check_product(item)">
               Add Product
            </a>
          </div>


        </div>
      </div>
    </div>


  </div>









</div>




<div class="col-md-4">

  <button
  data-ga-click-event-category="Step 1" data-ga-click-event-action="Next Step 1" data-ga-click-event-label="Step 1: Products -> Step 2: Packaging"
  ng-click="step_2()" class="btn btn-primary btn-lg btn-nav
                  {% if cat == 'beauty' %}btn-beauty{% endif %}
                  next-btn">
    Next <i class="fa fa-arrow-right" aria-hidden="true"></i></i>
  </button>

  {% include('builder/summary.html') %}

  <button
  data-ga-click-event-category="Step 1" data-ga-click-event-action="Next Step 1" data-ga-click-event-label="Step 1: Products -> Step 2: Packaging"
  ng-click="step_2()" class="btn btn-primary btn-lg btn-nav
                  {% if cat == 'beauty' %}btn-beauty{% endif %}
                  next-btn">
    Next <i class="fa fa-arrow-right" aria-hidden="true"></i></i>
  </button>





</div>


</div>




</div>
