<div id="step3" class="steps container" style="margin-top:60px;display:none;">



    <div class="row">
    <div class="col-md-8">

      <h3 class="subtitle">Create a packaging theme for your beauty box!</h3>

      <!--Do You have a Logo?-->
      <h3 style="color:#8d8d8d;">1. Custom Branding Options</h3>
      <hr class="line">

        <div class="row" style="font-size:22px;color:#adadad;font-weight:300;">
          <div class="col-md-6">
            <label class="light" >Name of Your Brand</label>
            <input ng-value="box.brand_name" ng-modal="box.brand_name" type="text" class="form-control" style="font-size:22px;height:50px;font-weight:400;background-color: #F5F3F2;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
          </div>
          <div class="col-md-6">
            <label class="light" >Name Your Box</label>
            <input ng-value="box.box_name" ng-modal="box.box_name" type="text" class="form-control" style="font-size:22px;height:50px;font-weight:400;background-color: #F5F3F2;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
          </div>
        </div>
        <br>
          <div class="row" style="font-size:22px;color:#adadad;font-weight:300;">
            <div class="col-md-6">
              <label class="light" >Choose a font</label>
              <select name="cars" class="form-control" style="font-size:22px;height:50px;font-weight:400;background-color: #F5F3F2;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
                <option value="volvo" style="font-family: 'Oregano', cursive;">Beauty & The Blondie</option>
                <option value="saab" style="font-family: 'Kaushan Script', cursive;">Beauty & The Blondie</option>
                <option value="fiat" style="font-family: 'Petit Formal Script', cursive;">Beauty & The Blondie</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="light" >Upload a Logo (optional)</label>

              <div class="box" style="margin-top:10px;">
                <div class="box__input">
                  <input class="box__file" type="file" name="file[]" id="file" data-multiple-caption="{count} files selected" multiple="" />
                </div>
              </div>
            </div>
        </div>

      <br><br>

      <!-- Choose your box design -->
      <h3 style="color:#8d8d8d;">2. Select a <strong>box style</strong></h3>
      <hr class="line">

      <div class="carousel" data-flickity='{ "initialIndex": 1 }'>

      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/box.png" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">Solid Color</h5>

            </div>



          </div>
      </div>

      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/box-multi.png" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">Multi Color</h5>

            </div>



          </div>
      </div>

      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/box-patterned.png" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">Patterned</h5>

            </div>



          </div>
      </div>

      </div>
      <!-- end of box design -->

      <br><br><br>


      <!-- Choose your box packaging -->
      <h3 style="color:#8d8d8d;">3. Select your <strong>packaging material</strong></h3>
      <hr class="line">


      <div class="carousel" data-flickity='{ "initialIndex": 1 }'>

      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:80%;padding:10px;"  src="/static/img/packaging/white.jpg" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">White Shredded Paper</h5>

            </div>



          </div>
      </div>

      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/box.png" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">Multi Color</h5>

            </div>



          </div>
      </div>

      <div class="carousel-cell item-box">
        <div class="thumbnail" style="height:100%;width:100%">


          <div class="content" style="cursor:pointer;width:100%;height:100%;">


                <img class="product-img" style="width:100%;padding:10px;"  src="/static/img/packaging/box.png" alt="">

                <img src="../static/img/selectmark.svg" class="selectmark" style="display:none;">

              <h5 class="title" style="font-size:25px;bottom:30px;color:#999;">Patterned</h5>

            </div>



          </div>
      </div>

      </div>
      <!-- end of box packaging -->

      <br><br><br>

  </div>

  <div class="col-md-4">

    {% include('builder/summary.html') %}

    <button id="next-btn4" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">Next Step: details</button>

  </div>



</div>

  <br><br><br>

    <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>
