<div id="step3" class="steps container" style="margin-top:30px;display:none;">



  <div class="row">
    <div class="col-md-8" style="padding-right:40px;">

      <div class="explain-step" style="padding-left:0px;">
        <h3 class="subtitle">How will your packaging look?</h3>
        <i class="light" style="font-weight:300;">
          the mailer box and packaging material is what your products will ship in
        </i>
        <i class="light" style="font-weight:300;"><a style="font-weight:100;" href="#" id="viewExample_2" passed-step="Box" data-toggle="modal" data-target="#view-example">View Example</a></i>

      </div>

      <!-- Choose your box design -->
      <h4 style="color:#8d8d8d;">1. Select a
        <strong>box style</strong>
      </h4>


      <!--new version-->
      <div class="carousel" data-flickity='{ "initialIndex": 1, prevNextButtons: false  }'>

        <div class="carousel-cell item-box">
          <div class="thumbnail clickable" style="height:100%;width:100%;padding:10px;">


            <div
            data-ga-click-event-category="Step 2" data-ga-click-event-action="Box Selection" data-ga-click-event-label="Plain White Box"
            class="content" ng-click="toggleStyle({name:'Plain White',variation:'Plain White',img:'plain-white.png'})" style="cursor:pointer;width:100%;height:100%;">


              <img class="product-img" style="width:100%;" src="/static/img/packaging/plain-white.png" alt="">

              <span ng-if="box.style.name=='Plain White'">
                <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
              </span>

              <h5 class="title" style="font-size:18px;bottom:30px;color:#999;">Plain White</h5>

            </div>



          </div>
        </div>

        <div class="carousel-cell item-box">
          <div class="thumbnail clickable" style="height:100%;width:100%;padding:10px;">


            <div
            data-ga-click-event-category="Step 2" data-ga-click-event-action="Box Selection" data-ga-click-event-label="Solid Color"
            class="content" data-toggle="modal" data-target="#box-color-modal" style="cursor:pointer;width:100%;height:100%;">


              <img class="product-img" style="width:100%;" src="/static/img/packaging/colored-box.png" alt="">

              <span ng-if="box.style.name=='Solid Color'">
                <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
              </span>

              <h5 class="title" style="font-size:18px;bottom:30px;color:#999;">Premade Designs</h5>

            </div>

            <!--price-->
            <span class="cost">+$5</span>
            <img class="color-palette" src="/static/img/color-palette.svg">

          </div>
        </div>

        <div class="carousel-cell item-box" style="position:relative;">
          <div class="popular-product-label"><i class="fa fa-star" aria-hidden="true"></i> Most Popular!</div>
          <div
          data-ga-click-event-category="Step 2" data-ga-click-event-action="Box Selection" data-ga-click-event-label="Design Your Own"
          class="thumbnail clickable" style="height:100%;width:100%;padding:10px;">



            <div class="content" onclick="$('#box-designer').css('visibility', 'visible');$('.artwork-editor').css('visibility', 'visible');" style="cursor:pointer;width:100%;height:100%;">



              <img class="product-img" style="width:100%;" src="/static/img/packaging/professional-box.png" alt="">

              <span ng-if="box.style.name=='Custom Design'">
                <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
              </span>

              <h5 class="title" style="font-size:18px;bottom:30px;color:#999;">Make Your Own</h5>

            </div>

            <!--price-->
            <span class="cost">+$5</span>

          </div>
        </div>


      </div>
      <!-- end of box design -->

      <br>


      <!-- Choose your box packaging -->
      <h4 style="color:#8d8d8d;">2. Select a
        <strong>packaging material</strong>
      </h4>

      <div class="carousel" data-flickity='{ "initialIndex": 1,prevNextButtons: false }'>


        {% for p in packaging %}
        <div class="carousel-cell item-box">

          <div
          data-ga-click-event-category="Step 2" data-ga-click-event-action="Packaging" data-ga-click-event-label="{{p.name}}"
          class="thumbnail clickable" style="height:100%;width:100%;padding:10px;">

            <div class="content" data-toggle="modal" data-target="#modal-{{p.sku}}" style="cursor:pointer;width:100%;height:100%;">


              <img class="product-img" style="width:100%;padding:10px;" src="/static/img/packaging/{{p.item_num}}.png" alt="">

              <span ng-if="box.material.name=='{{p.name}}'">
                <img src="../static/img/selectmark.svg" class="selectmark" style="display:block;">
              </span>

              <h5 class="title" style="font-size:18px;bottom:30px;color:#999;">{{p.name}}</h5>

            </div>

            <img class="color-palette" src="/static/img/color-palette.svg">

          </div>
        </div>


        <div class="modal fade variations-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-{{p.sku}}">

          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding:30px;padding-bottom:16px;min-width:1000px;height:100%;overflow-y:auto;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <h3 class="subtitle" style="text-align:center;margin-bottom:5px;color:#adadad;font-weight:200;">Choose a {{p.name}} Color!</h3>
              <hr>

              <div style="text-align:center;">


                {% for v in p.variation %}
                <!--start of option-->
                <div
                data-ga-click-event-category="Step 2" data-ga-click-event-action="Packaging Variation" data-ga-click-event-label="{{v.name}}"
                class="clickable" style="display:inline-block;padding:0px 25px;text-align:center;" ng-click="toggleMaterial({ name:'{{p.name}}',variation:'{{v.name}}', img:'{{p.item_num + '-' + v.item_num}}.png' })" data-dismiss="modal">
                  <img width="160px" class="lazy_load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/static/img/packaging/{{p.item_num + '-' + v.item_num}}.png">
                  <p class="light">{{v.name}}</p>

                </div>
                <!-- end of option 1 -->
                {% endfor %}


              </div>


            </div>
          </div>
        </div>

        {% endfor %}




      </div>
      <!-- end of box design -->

      <br>
      <br>
      <br>



    </div>

    <div class="col-md-4">

      {% include('builder/summary.html') %}

      <button
      data-ga-click-event-category="Step 2" data-ga-click-event-action="Next Step 2" data-ga-click-event-label="Step 2: Packaging -> Step 3: Labeling "
      id="next-btn4" ng-click="step_3()" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">Next Step <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

    </div>



  </div>

  <br>
  <br>
  <br>

  <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>


<!--VARIATIONS MODAL -->
<div class="modal fade variations-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="box-color-modal">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding:30px;padding-bottom:16px;min-width:1000px;height:100%;overflow-y:auto;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h3 class="subtitle" style="text-align:center;margin-bottom:5px;color:#adadad;font-weight:200;">Choose a Box Color!</h3>
      <hr>

      <div style="text-align:center;">


        {% for style in styles %}
        <!--start of option-->
        <div
        data-ga-click-event-category="builder" data-ga-click-event-action="Premade Box Styles" data-ga-click-event-label="User selected style {{style.name}} of Premade Boxes"
        class="clickable" style="display:inline-block;padding:0px 25px;text-align:center;" ng-click="toggleStyle({ name:'Solid Color',variation:'{{style.name}}',img:'{{style.img}}' })" data-dismiss="modal">
          <img width="160px" class="lazy_load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/static/img/packaging/{{style.img}}">
          <p class="light">{{style.name}}</p>

        </div>
        <!-- end of option 1 -->
        {% endfor %}


      </div>


    </div>
  </div>
</div>








<!-- PROFESSIONAL DESIGN VERIFY MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="professional-design-verify">

  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-content2" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <br>

      <div class="row">
        <div class="col-md-4">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box.png" alt="">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box2.png" alt="">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box.png" alt="">
          <img class="product-img" style="width:100%;margin-top:-60px;" src="/static/img/packaging/professional-box2.png" alt="">
        </div>
        <div class="col-md-8">
          <h4>Professional Box Design Services</h4>
          <hr>
          <p>Stand out from other campaigns with a custom designed mailer box.</p>
          <p>Fandemic has a team of certified graphic designers who can make you something beautiful!</p>

          <br>

          <div class="well">
            <p>
              <strong>One Time Fee:</strong>
              <span style="color:#25CB68;">Free - Special</span>
              <br>
              <strong>Turn Around Time:</strong> 2 Days</p>
          </div>
          <br>
              <!-- <strong>But first we need something to work off...</strong>
              <br>
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-9">
                    <input style="width:100%" type="" class="form-control" id="" placeholder="Upload your own design, logo or inspiration">
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Browse</button>
                  </div>
              </div>
              </form> -->
        </div>
      </div>

      <div style="text-align:right;">
        <a ng-click="toggleStyle({name:'Professional Design',img:'professional-box.png'})" data-dismiss="modal" style="background-color:green" class="btn btn-primary">I Agree</a>
      </div>

    </div>
  </div>
</div>
