<div id="step5" class="steps container" style="padding-top:30px;padding-bottom:60px;display:none;">

  <section class="row">


    <!-- START OF LEFT SIDE PANEL -->
    <div class="col-md-8" style="padding-left:40px;padding-right:40px;">


      <h3 class="subtitle" style="font-family: 'Caveat', cursive;font-size:34px;font-weight:400;">Looking good! Time to launch your official store.</h3>
      <br>

        <div class="row">

          <div class="col-md-12">
          <!-- Choose your box design -->
          <h4 style="color:#8d8d8d;">Name</h4>
          <!--<i class="light" style="font-weight:300;"><a style="font-weight:100;" href="#" id="viewExample_4" passed-step="Name" data-toggle="modal" data-target="#view-example">View Example</a></i>-->


          <div style="position:relative;">
          <div style="height:40px;width:40px;position:absolute;top:10px;left:10px;">
            <img  width="100%" src="/static/img/avatar.svg">
          </div>
          <input
            data-ga-click-event-category="Step 3" data-ga-click-event-action="Product Label Text" data-ga-click-event-label="Box Name"
            id="your-box-input"
            ng-model="box.star.name"
            ng-change="validate_name(box.star.name)"
            ng-model-options="{debounce: 750}"
            type="text" class="form-control form-control-lg" style="font-family: 'Caveat', cursive;padding-left:65px;width:100%;font-size:26px;height:60px;font-weight:600;border-radius:2px;">


            <img class="validation ng-hide" ng-show="validation.name=='valid'" src="/static/img/success2.svg">
            <img class="validation ng-hide" ng-show="validation.name=='invalid'" src="/static/img/close.svg">
            </div>
            </div>


            <div class="col-md-12" style="margin-top:20px;">
              <!-- Choose your box design -->
              <h4 style="color:#8d8d8d;">Email

              </h4>


              <div style="position:relative;">
              <div style="height:40px;width:40px;position:absolute;top:10px;left:10px;">
                <img  width="100%" src="/static/img/mail.svg">
              </div>


                <!--<label class="light" style="font-weight:300;">Box Name</label>-->
                <input
                data-ga-click-event-category="Step 3" data-ga-click-event-action="Product Label Text" data-ga-click-event-label="Box Name"
                id="your-box-input"
                ng-model="box.star.email"
                ng-change="validate_email(box.star.email)"
                ng-model-options="{debounce: 750}"
                type="email" class="form-control form-control-lg" style="font-family: 'Caveat', cursive;padding-left:65px;width:100%;font-size:26px;height:60px;font-weight:600;border-radius:2px;">

                <img class="validation ng-hide" ng-show="validation.email=='valid'" src="/static/img/success2.svg">
                <img class="validation ng-hide" ng-show="validation.email=='invalid'" src="/static/img/close.svg">

                </div>
              </div>

            <div class="col-md-6" style="margin-top:30px;">
              <!-- Choose your box design -->
              <h4 style="color:#8d8d8d;">Instagram Username
              </h4>


              <div style="position:relative;">
              <div style="height:40px;width:40px;position:absolute;top:10px;left:10px;">
                <img  width="100%" src="/static/img/instagram.svg">
              </div>


                <!--<label class="light" style="font-weight:300;">Box Name</label>-->
                <input
                data-ga-click-event-category="Step 3" data-ga-click-event-action="Product Label Text" data-ga-click-event-label="Box Name"
                id="your-box-input"
                ng-model="box.star.instagram"
                ng-change="validate_instagram(box.star.instagram)"
                ng-model-options="{debounce: 750}"
                type="text" class="form-control form-control-lg" style="font-family: 'Caveat', cursive;padding-left:65px;width:100%;font-size:26px;height:60px;font-weight:600;border-radius:2px;">

                <img class="validation ng-hide" ng-show="validation.instagram=='valid'" src="/static/img/success2.svg">
                <img class="validation ng-hide" ng-show="validation.instagram=='invalid'" src="/static/img/close.svg">
                <img class="validation ng-hide" ng-show="validation.instagram=='loading'" src="/static/img/loader.gif">

                </div>
              </div>



                <div class="col-md-6" style="margin-top:30px;">
                  <!-- Choose your box design -->
                  <h4 style="color:#8d8d8d;">Password
                  </h4>


                  <div style="position:relative;">
                  <div style="height:40px;width:40px;position:absolute;top:10px;left:10px;">
                    <img  width="100%" src="/static/img/key.svg">
                  </div>


                    <!--<label class="light" style="font-weight:300;">Box Name</label>-->
                    <input
                    data-ga-click-event-category="Step 3" data-ga-click-event-action="Product Label Text" data-ga-click-event-label="Box Name"
                    id="your-box-input"
                    ng-model="box.star.password"
                    ng-change="validate_password(box.star.password)"
                    ng-model-options="{debounce: 750}"
                    type="password" class="form-control form-control-lg" style="font-family: 'Caveat', cursive;padding-left:65px;width:100%;font-size:26px;height:60px;font-weight:600;border-radius:2px;">

                    <img class="validation ng-hide" ng-show="validation.password=='valid'" src="/static/img/success2.svg">
                    <img class="validation ng-hide" ng-show="validation.password=='invalid'" src="/static/img/close.svg">

                    </div>
                  </div>


          </div>

          <button
          data-ga-click-event-category="Step 4" data-ga-click-event-action="Next Step 4" data-ga-click-event-label="Step 4: Finish"
          id="finish-last-step" style="margin-top:40px;" ng-click="finish_last_step()" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                      {% if cat == 'beauty' %}btn-beauty{% endif %}">Finished, Lets Get Started!</button>

      </div>

      <!--START OF RIGHT SIDE SUMMARY PANEL -->
      <div class="col-md-4">
        {% include('builder/summary.html') %}

      </div>








 </section>

</div>

<script>
var slider = document.getElementById('rangeslider');

var range_all_sliders = {
	'min': [     10, 1 ],
	'30%': [   25,  1 ],
	'50%': [  50, 1 ],
  '70%': [  100, 1 ],
  '90%': [  400, 1 ],
	'max': [ 1000 ]
};

noUiSlider.create(slider, {
	start: 25,
  connect: [true, false],
  tooltips: wNumb({ decimals: 0 }),
  range: range_all_sliders,
  pips: {
		mode: 'range',
		density: 100
	},
  format: wNumb({
		decimals: 0
	})
});

//angular update goal function
function change(goal) {
    var appElement = document.querySelector('[ng-app=app]');
    var $scope = angular.element(appElement).scope();
    $scope = $scope.$$childHead; // add this and it will work
    $scope.$apply(function() {
        if (goal < 10){
          goal = 10;
        }
        else if (goal > 1000){
          goal = 1000;
        }
        $scope.box.goal = goal;
    });
}

//update when clicking off of goal input
$('#goal_qty').on('blur', function() {
    var goal = $(this).val();
    if (goal < 10){
      goal = 10;
    }
    else if (goal > 1000){
      goal = 1000;
    }
    slider.noUiSlider.set(goal);
    $('#goal_qty').val(goal);
    change(goal);
});

//update when hitting enter on goal input
$('#goal_qty').keyup(function(e){
    if(e.keyCode == 13)
    {
      var goal = $(this).val();
      if (goal < 10){
        goal = 10;
      }
      else if (goal > 1000){
        goal = 1000;
      }
      slider.noUiSlider.set(goal);
      $('#goal_qty').val(goal);
      change(goal);
    }
});

slider.noUiSlider.on('slide', function(){
	change(slider.noUiSlider.get());
  $('#goal_qty').val(slider.noUiSlider.get());
});

//console.log(slider.noUiSlider.get());

$('.noUi-tooltip').hide();

$( ".noUi-handle" ).hover(
  function() {
    $('.noUi-tooltip').show();
  }, function() {
    $('.noUi-tooltip').hide();
  }
);


//RETAIL PRICE JS

//angular update goal function
function change_retail_price(goal) {
    var appElement = document.querySelector('[ng-app=app]');
    var $scope = angular.element(appElement).scope();
    $scope = $scope.$$childHead; // add this and it will work
    $scope.$apply(function() {

        $scope.box.price = goal;
    });
}

//update when clicking off of goal input
$('#retail_price').on('blur', function() {
    var newPrice = $(this).val();
    newPrice = newPrice.replace('$',''); //if user includes $ sign

    if (isNumber(newPrice)){
      change_retail_price(newPrice);
      $('#retail_price').val('$'+parseFloat(newPrice).toFixed(2).toString());
    }

});

//update when hitting enter on goal input
$('#retail_price').keyup(function(e){
    if(e.keyCode == 13)
    {
      var newPrice = $(this).val();
      newPrice = newPrice.replace('$',''); //if user includes $ sign

      if (isNumber(newPrice)){
        change_retail_price(newPrice);
        $('#retail_price').val('$'+parseFloat(newPrice).toFixed(2).toString());
      }

    }
});

//function that validates number
function isNumber(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}

// $('#finish-last-step').click(function(){
//   if ($("#box-description-textarea").val() == null){
//     BootstrapDialog.show({
//      title: 'Alert!',
//        message: 'Please enter a box description! &#128516;',
//        buttons: [{
//          cssClass: 'btn-success',
//          label: 'OK',
//            action: function(dialog) {
//              dialog.close();
//            }
//        }]
//     });
//   }
//   else {
//     $('#launch-store-modal').modal('show');
//   }
// });



</script>

<style>
.noUi-handle:hover {
  cursor: pointer;
}
#mceu_11-body{
  display: none;
}

</style>
