<div id="step4" class="steps container" style="margin-top:60px;display:none;">



    <div class="row">
    <div class="col-md-8">

      <div class="explain-step" style="padding-left:0px;">
        <h3 class="subtitle">How will your product label look?</h3>
        <div class="alert alert-warning fade in" style="width:80%;" >
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <i class="light" style="font-weight:300;">create a simple label that will be printed on each product and your mailer box
          </i>
        </div>
      </div>

        <div class="row" style="font-size:22px;color:#adadad;font-weight:300;">
          <div class="col-md-12">

            <div class="row">
            <div class="col-md-3">
            <label class="light" style="font-weight:300;">Brand Name</label>
            <input ng-value="box.brand_name" ng-model="box.brand_name" type="text" class="form-control" style="font-size:16px;height:40px;font-weight:400;-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
            </div>

            <div class="col-md-3">
            <label class="light" style="font-weight:300;">Box Name</label>
            <input ng-value="box.box_name" ng-model="box.box_name" type="text" class="form-control" style="font-size:16px;height:40px;font-weight:400;;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
          </div>

          <div class="col-md-3">
            <label class="light" style="font-weight:300;">Primary Font</label>
            <select name="cars" class="form-control" ng-model="box.font1" style="font-size:16px;height:40px;font-weight:400;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
              <option value="font-family: 'Roboto';" style="font-family: 'Roboto';" selected>Roboto</option>
              <option value="font-family: 'Oregano', cursive;" style="font-family: 'Oregano', cursive;">Oregano</option>
              <option value="font-family: 'Kaushan Script', cursive;" style="font-family: 'Kaushan Script', cursive;">Kaushan Script</option>
              <option value="font-family: 'Petit Formal Script', cursive;" style="font-family: 'Petit Formal Script', cursive;">Petit Formal Script</option>
              <option value="font-family: 'Slabo 27px';" style="font-family: 'Slabo 27px'">Slabo</option>
              <option value="font-family: 'Indie Flower';" style="font-family: 'Indie Flower'">Indie Flower</option>
              <option value="font-family: 'Lobster';" style="font-family: 'Lobster'">Lobster</option>
              <option value="font-family: 'Pacifico';" style="font-family: 'Pacifico'">Pacifico</option>
              <option value="font-family: 'Yellowtail';" style="font-family: 'Yellowtail'">Yellowtail</option>
              <option value="font-family: 'Dancing Script';" style="font-family: 'Dancing Script'">Dancing Script</option>
            </select>
          </div>


          <div class="col-md-3">
            <label class="light" style="font-weight:300;">Secondary Font</label>
            <select name="cars" class="form-control" ng-model="box.font2" style="font-size:16px;height:40px;font-weight:400;box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #F5F3F2, 0 1px 0 #F5F3F2;">
              <option selected="selected" value="font-family: 'Roboto';" style="font-family: 'Roboto';">Roboto</option>
              <option value="font-family: 'Courgette', cursive;" style="font-family: 'Courgette', cursive;">Courgette</option>
              <option value="font-family: 'Calligraffitti', cursive;" style="font-family: 'Calligraffitti', cursive;">Calligraffitti</option>
              <option value="font-family: 'Niconne', cursive;" style="font-family: 'Niconne', cursive;">Niconne</option>
              <option value="font-family: 'Slabo 27px';" style="font-family: 'Slabo 27px'">Slabo</option>
              <option value="font-family: 'Indie Flower';" style="font-family: 'Indie Flower'">Indie Flower</option>
              <option value="font-family: 'Lobster';" style="font-family: 'Lobster'">Lobster</option>
              <option value="font-family: 'Pacifico';" style="font-family: 'Pacifico'">Pacifico</option>
              <option value="font-family: 'Yellowtail';" style="font-family: 'Yellowtail'">Yellowtail</option>
              <option value="font-family: 'Dancing Script';" style="font-family: 'Dancing Script'">Dancing Script</option>
            </select>
          </div>

          </div>
          <hr>
          <div class="col-md-12">


            <div class="row">
              <div class="col-md-4">
                <div class="sticker" style="width:200px;height:200px;margin:0 auto;margin-top:50px;border-radius:50%;background:#1d1d1d;display:table;">
                  <div class="label">
                    <span class="box-brand" ng-bind="box.brand_name" style="{a box.font1 a}"></span>
                    <span class="box-name" ng-bind="box.box_name" style="{a box.font2 a}"></span>
                  </div>
                  </div>
                  <p class = "label-indicator" style="margin-top:3em">This will be on your products</p>
                  <p class="light" style="font-weight:300;font-size:10px;text-align:center;"><br>*label is heat transfered directly to products</p>

                </div>


              <div class="col-md-8">
                <div class="label2">
                  <span class="box-brand" ng-bind="box.brand_name" style="{a box.font1 a}"></span>
                  <span class="box-name" ng-bind="box.box_name" style="{a box.font2 a}"></span>
                </div>
                <img style="width: 70%;display:block;margin: 0 auto;" src="/static/img/packaging/{a box.style.img a}">
                <p class = "label-indicator">This will be how your mailer box will look</p>

              </div>

            </div>

          </div>
        </div>
      </div>


      <br><br><br>

  </div>

  <div class="col-md-4">

    {% include('builder/summary.html') %}

    <button id="next-btn4" class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} next-btn">NEXT STEP: Pricing</button>

  </div>



</div>

  <br><br><br>

    <!--<button class="btn btn-primary btn-lg btn btn-primary btn-lg btn-nav
                    {% if cat == 'beauty' %}btn-beauty{% endif %} prev"><i  class="fa fa-angle-double-left arrow" aria-hidden="true"></i> Go Back</button>-->


</div>
