<div id="step6" class="steps container" style="margin-top:60px;display:none;text-align:center;">

  <h1 style="text-align:center;margin-top:20px;">Congrats! You finished your beauty box!</h1>
  <hr>
  <h3 class="subtitle2">Select one of the options below</h3>
  <div class="row" style="width:70%;float:center;margin: 0 auto;">
    <div class="col-xs-5">
      <div id="custom" class="option sample-order" data-dismiss="modal" href="#">
        <h3>ORDER A SAMPLE</h3>
         <img src="../static/img/box.svg">
         <p class="light">2 Day Free Delivery (US only)</p>
         <img src="../static/img/selectmark.svg" class="selectmark" style="width:30% !important;"></span>
      </div>
    </div>
    <div class="col-xs-2 or">
      <strong>or</strong>
    </div>
    <div class="col-xs-5">
      <div id="premade" class="option">
        <h3>LAUNCH CAMPAIGN</h3>
         <img src="../static/img/rocket.svg">
         <p class="light">7 days to sell pre-sell your box!</p>
         <img src="../static/img/selectmark.svg" class="selectmark" style="width:30% !important;"></span>
      </div>
    </div>
  </div>

  <div style="width:50%;float:center;margin: 50px auto;margin-top:50px;padding:10px;">{% include('builder/summary.html') %}</div>

</div>
