<div id="step1" class="steps container" style="text-align:center;">



  <h1 style="text-align:center;padding-bottom:2em;margin-top:40px;font-weight:200;color:#2d2d2d;">Let's Make a <strong ng-bind="box.star.name" style="font-family: 'Finger Paint', cursive;color:purple;font-size:29px;color:#BA82AA;"></strong> Beauty Box!</h1>

<div class="row">
          <div class="col-sm-4">
            <img style="width: 40%;" width="150px" src="../static/img/makeup.jpg" alt="benefits of product">
            <h4>1. Select Products <br> <span class="light">new selections every month</span></h4>
            <!-- <p>Select what items to put in your box from our huge catalog of customizable items!</p> -->
            <span class="arrow-icon">&nbsp;</span>
          </div>
          <div class="col-sm-4">
            <img style="width: 40%;" width="150px" src="../static/img/box.jpg" alt="benefits of product">
            <h4>2. Design Packaging <br> <span class="light">customize branding & colors</span></h4>
            <!-- <p>You have 7 days to <strong>pre-sell</strong> your boxes, if you sell more than 10 you get paid! -->
            <span class="arrow-icon">&nbsp;</span>
          </p></div>
          <div class="col-sm-4">
            <img style="width: 40%;border-radius:50%;" src="/static/img/profile.png" ng-src="{a box.star.img_url a}" alt="benefits of product">
            <h4>3. You Make Money <br> <span class="light">7 day pre-order campaign</span></h4>
            <!-- <p>Earn larger cash bonuses as you pre-sell more boxes!</p> -->

            <!--<span class="arrow-icon">&nbsp;</span>-->
          </div>
  </div>
  <div class="row">

    <div class="col-xs-12" style="text-align:center;">

        <button class="btn btn-primary btn-lg next-btn btn-nav btn-beauty button" style="background-color:#2eba40 !important;margin-top:3em; font-weight:800;padding: 10px 15px;width:18em;border-radius:4px;">
          DESIGN A BOX
          <p style="color:rgba(0,79,114,.8);margin:0px;padding:0px;font-size:14px;font-weight:600;">click here to get started</p>
          <img width="40px" src="/static/img/right-arrow.svg" style="position:absolute;right:10px;">
        </button>
        <p style="padding-top:1em;font-size: 13px;">You may request a <strong>sample</strong> or launch a free <strong>store</strong> in the final step of the builder!</p>


        <!--<img width="400px" src="/static/img/fandemicbox.png" style="position:absolute;right: 10px;top:-100px;">-->
    </div>


  </div>



</div>
