<div class="panel panel-default panel-summary" style="width:100%;border-radius: 0px;">
 <div class="panel-heading" style="background-color:#939598;color:#fff;border-radius:0px;text-align:center;font-size:30px;font-weight:500;font-family: 'Caveat', cursive;">Store Overview</div>
 <div class="panel-body" style="min-height:350px;max-height:500px;">

   <div ng-if="box.products.length == 0" style="text-align:center;">
           <br><br>
           <img width="40%" src="../static/img/shop.svg">
           <h3 style="color:#E8E8E8 !important;">Your Store is Empty!<h3>
           <h4 style="color:#E8E8E8 !important;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Try clicking a product</h4>
   </div>

   <div ng-if="box.products.length > 0">
           <h4 style="width:100%;">Products  <span style="float:right">{a box.products.length a}/6</span><!--<span class="light" style="text-align:right !important;float:right;">Total Box Cost: ${a box.cost a}</span>--></h4>
           <hr>

           <div class="row">
             <div class="col-xs-12" style="" ng-repeat="product in box.products">

                  <div>
                    <img width="60px" src="https://res.cloudinary.com/fandemic/w_120,h_120,c_pad/products/{a product.item_num a}.png" style="float:left;padding-right:10px;">
                    <p class="light" style="margin-top:5px;"><strong>{a product.name a}</strong>
                      <br>
                      <span style="color:#25CB68;">Store Price:
                      ${a 1*product.price + 1*box.profit + 1*box.charity a}
                      </span>
                      <br> <span style="font-size:.8em">{a product.variation a}</span>

                      </p>
                    <!--<a ng-click="toggle_product({name:product.name,item_num:product.item_num,cost:product.cost })">
                      <i style="position:absolute;top:10px;right:40px;color:#ba82aa;font-size:20px;cursor:pointer;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>-->
                    <a
                    data-ga-click-event-category="Box Summary" data-ga-click-event-action="Remove Item" data-ga-click-event-label="{a product.name a} Removed"
                    ng-click="toggle_product({name:product.name,item_num:product.item_num,cost:product.cost,variation:product.variation })">
                      <i style="position:absolute;top:10px;right:10px;color:#f66262;font-size:20px;cursor:pointer;" class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>

             </div>

           </div>


           <span ng-if="box.charity!= 0" style="color:#CFA7C3;font-weight:600;">
             <br>
             Charity: ${a box.charity a}
           </span>
           <span ng-if="box.profit!= 0" style="color:#9c9c9c;font-weight:600;">
             <hr>
             <span ng-if="box.charity == 0">
               <br>
             </span>
             <div style="text-align:center;">
             You will make <span style="color:#25CB68;">${a box.profit a}</span> for each product sold!
             </div>
           </span>

   </div>



 </div>

</div>

<div style="text-align:center;">
<span style="margin: 0 auto;font-weight:400;font-size:12px;color:#c9c9c9;">*Products can be purchased for review at the end</span>
</div>
