<!DOCTYPE html>
<html lang="en">

<title>About Us</title>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fandemic's Story</title>
  <meta name="description" content="A fundraising platform for social media stars and organizations">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/landing-page/main.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
</head>

<style>
.brand-logo-image {
  width:15em;
}
h1.title{
  font-size:4em;
}
.row h3{
  color:#4c4c4c;
}
.team-details p{
  color:#4c4c4c;
}
.team-details img{
  width: 70%;
  border-radius: 50%;
}
.team .container{
  background-color: #4D9BD3;
  width: 100%;
  padding: 2em;
  margin-bottom: -6em;
}
.team .title {
  color: white;
}
.team .team-info{
  color: white ;
}
.team h4, .team h5, .team p{
  color: white !important;
}
.team-details {
  width:80%;
}
.nav a{
  font-weight: 600;
}

@media only screen
  and (max-device-width: 960px) {
    .container.about{
      padding:5em;
    }
  }

</style>

<body>

  <!--navigation-->

  <div class="sticky-wrapper" style="height: 74px;">
    <nav class="navbar navbar-default stuck">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../#home">
            <img class="logo-nav" alt="logo" src="../static/img/logo-nav_fullsize_wordart.png" style="padding-top:5px" width="124" height="45">
            <img class="logo-head" width="200px" alt="logo" src="../static/img/logo_head_fullsize.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav nav-left">
            <li><a style="font-weight:600;" href="/about">About</a></li>
            <li><a style="font-weight:600;" href="/partners">Partners</a></li>
            <li><a style="font-weight:600;" href="/benefits">Benefits</a></li>
            <li><a style="font-weight:600;" href="/faq">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/builder" class="btn">Build a Box</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('../../static/img/about-us.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Our Story</h1>
            <hr class="small">
            <span class="subheading">how we got started. why we care. who we are.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div style="color:#4c4c4c" class="container about">
    <br>
        <div class="row">
          <h1 class="title">Founding</h1>
          <h3>How did we get started?</h3>
          <p>
            Fandemic was founded by Brandon Walsh and Ethan Steininger after attending a fitness expo in 2016.
            <br><br>
            They got to speaking with some of the YouTube and Instagram celebrities at the conference
            and noticed a trend: <br> some of the stars had really bad merchandise and they also lacked an online store!
            Many of them traveled consistently or were busy in general. <br>This made it difficult for them to manage a product line.
            It is also very expensive for to purchase and wharehouse inventory!
            <br></br>
            Brandon and Ethan set out to create a platform that allows these stars to quickly create their own product boxes and
            easily launch an online store. They wanted to help these individuals by taking care of the production, sales, and distribution
            process!
            <br><br>
            Fandemic has now been conceptualized and is helping people launch their own product boxes every day!
          </p>

          <br>
          <hr>
          <br>

          <h1 class="title">Mission Statement & Vision</h1>
          <h3>What keeps us up at night?</h3>
          <p>
            Our mission is to create a fun and easy platform for social media stars to create their own custom branded boxes to sell to their fans with zero risk.
            <br><br>
            We turn and grow social media stars into full fledged businesses by creating products to give back to their fans!
            <br><br>
            We want to be as transparent as possible with our revenue model, pricing, manufacturers and hiring so if there is anything you want to know <a href="mailto:sarah@fandemic.co">just ask</a>.
            <br>
          </p>



        </div>
      </div>

        <section class="team section-spacing text-center" id="team" >
          <div class="container" style="  background: url('/static/img/blue_bg.png');">
            <header class="section-header">
              <h1 class="title">The Crew</h1>
              <h3>Who even are we?</h3>
            </header>
            <div class="row">
              <div class="col-sm-4">
                <div class="team-details">
                  <figure>
                    <img src="../static/img/brandon2.jpg" alt="Team Member">
                  </figure>
                  <div class="team-info">
                    <h4>Brandon Walsh</h4>
                    <h5>Technical Lead</h5>
                    <hr>
                    <p>A web development expert, Brandon leads the design & development team for the Fandemic platform!</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-details">
                  <figure>
                    <img src="../static/img/sarah.png" alt="Team Member">

                  </figure>
                  <div class="team-info">
                    <h4>Sarah Sharpe</h4>
                    <h5>Marketing Guru</h5>
                    <hr>
                    <p>A marketing expert, Sarah is on the ball with Fandemic's client communications to keep you informed!</p>
                  </div>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="team-details">
                  <figure>
                    <img src="../static/img/ethan2.jpg" alt="Team Member">
                  </figure>
                  <div class="team-info">
                    <h4>Ethan Steininger</h4>
                    <h5>Business Lead</h5>
                    <hr>
                    <p>A business expert, Ethan handles the marketing and distribution in order to deliver the best Fandemic experience possible!</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>



</body>

<script src="../static/js/jquery-1.12.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints.min.js"></script> -->
<script src="../static/js/landing-page/jquery.animateNumber.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints-sticky.min.js"></script> -->
<script src="../static/js/landing-page/retina.min.js"></script>
<script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="../static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/landing-page/main.js"></script>
<script src="../static/js/landing-page/lightslider.js"></script>

{% include 'footer.html' %}

</html>


<!--site-footer end-->


  {% include 'analytics.html' %}
