<!DOCTYPE html>
<html lang="en">

<title>Benefits</title>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fandemic's Benefits</title>
  <meta name="description" content="A fundraising platform for social media stars and organizations">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/landing-page/main.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
</head>

<style>
.brand-logo-image {
  width:15em;
}
h1.title{
  font-size:3em;
  margin-bottom:1em;
}
.row h3{
  color:#4c4c4c;
  font-size: 1.3em;
}
.benefits {

}
.benefits img{
  width: 6em;
  margin-left: 20%
}
.container.benefits {
  padding-bottom:4em;
}
.container{
  padding:3em;
}
</style>

<body>

  <!--navigation-->

  <div class="sticky-wrapper" style="height: 74px;">
    <nav class="navbar navbar-default stuck">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../#home">
            <img class="logo-nav" alt="logo" src="../static/img/logo-nav_fullsize_wordart.png" style="padding-top:5px" width="124" height="45">
            <img class="logo-head" width="200px" alt="logo" src="../static/img/logo_head_fullsize.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav nav-left">
            <li><a href="/about">About</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/benefits">Benefits</a></li>
            <li><a href="/faq">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/builder" class="btn">Build a Box</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('../../static/img/bg6.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Benefits & Services</h1>
            <hr class="small">
            <span class="subheading">Why should you even work with us?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container benefits">
    <div class="row">
      <h1 class="title">Make Money</h1>
      <div class="col-md-4">
        <img src="../../static/img/icons/money.svg">
      </div>
      <div class="col-md-8">
        <h3>You have 7 days to get as many pre-orders as possible, following the 7 days we pay you for every single box you pre-sold, which you set the price of!</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <h1 class="title">Get More Fans</h1>
      <div class="col-md-4">
        <img src="../../static/img/icons/grow.svg">
      </div>
      <div class="col-md-8">
        <h3>Each box that your fans receive, has a call to action: "Share your unboxing experience with your social media for the oportunity to win a free exclusive box!" Imagine how many more people will discover you!</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <h1 class="title">Zero Risk</h1>
      <div class="col-md-4">
        <img src="../../static/img/icons/norisk.svg">
      </div>
      <div class="col-md-8">
        <h3>If you get less than 10 pre-orders by day 7, then we issue your fans a 100% refund. There is no inventory holding and we only purchase what your fans order!</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <h1 class="title">Support Charities</h1>
      <div class="col-md-4">
        <img src="../../static/img/icons/charity.svg">
      </div>
      <div class="col-md-8">
        <h3>You can even select a charity to donate your earnings to, we have several vetted charities that we partner with!</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <h1 class="title">Highest Quality</h1>
      <div class="col-md-4">
        <img src="../../static/img/icons/quality.svg">
      </div>
      <div class="col-md-8">
        <h3>All of the manufacturers we work with our the best in the industry, and that's what you will get!</h3>
      </div>
    </div>
  </div>


</body>

<script src="../static/js/jquery-1.12.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints.min.js"></script> -->
<script src="../static/js/landing-page/jquery.animateNumber.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints-sticky.min.js"></script> -->
<script src="../static/js/landing-page/retina.min.js"></script>
<script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="../static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/landing-page/main.js"></script>
<script src="../static/js/landing-page/lightslider.js"></script>

{% include 'footer.html' %}

</html>


<!--site-footer end-->


  {% include 'analytics.html' %}
