<!DOCTYPE html>
<html lang="en">
<title>{{title}}</title>

{% include 'header.html' %}

<style>
  span.money {
    color: green;
    font-weight: bold;
  }
  .post-preview>a {
    color: #337ab7;
  }
  blockquote{
    padding-left:5em;
  }
  .video-iframe{
    width: 100%;
    height: 25em;
  }
  }
</style>

<body>

  <!--navigation-->

  <div class="sticky-wrapper" style="height: 74px;">
    {% include 'header-nav.html' %}
  </div>


  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('../../static/img/bg6.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>{{title}}</h1>
            <hr class="small">
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            {{content|safe}}
          <!-- <h3 class="post-subtitle"></h3> -->
          <br><br>
          <div class="col-md-4">
            <img style="float: right;border-radius: 25px; max-width:34%;"src="../static/img/team/{{author.lower()}}.png">
          </div>
        </div class="col-md-8">
          <p style="float:left" class="post-meta">Posted by {{author}} on {{date}}</p>
        </div>
        </div>
        <!-- Pager -->
        <!-- Write some blog posts first son -->
        <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
      </div>
    </div>
  </div>

  <hr>

</body>

{% include 'footer.html' %}
