
<!DOCTYPE html>
<html lang="en">
<title>Fandemic Blog</title>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fandemic Blog</title>
  <meta name="description" content="A fundraising platform for social media stars and organizations">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/landing-page/main.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Caveat|Source+Sans+Pro|Montserrat|Sue+Ellen+Francisco|Josefin+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

    <!--navigation-->

    <div class="sticky-wrapper" style="height: 74px;">
      {% include 'header-nav.html' %}
    </div>


    <section class="title-section">
      <div class="overlayy">
        <div class="container">
          <div class="title">Blog</div>
        </div>
      </div>
    </section>

    <!-- Main Content -->
    <div class="container">
      {% for post in posts|sort(reverse=True)%}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="blog/{{post.url}}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <p class="preview post-subtitle">
                            {{post.summary}}
                        </p>
                    </a>
                    <p class="post-meta">Posted by {{post.author}} on {{post.date}}</p>
                </div>
                <!-- Pager -->
                <!-- Write some blog posts first son -->
                <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
      {% endfor %}
    </div>

    <hr>

  </body>

  {% include 'footer.html' %}
