<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fandemic Box Builder</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.1/jquery.bootstrap-touchspin.min.js"></script>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/slider.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/cs-select.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/cs-skin-elastic.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.15/jquery.zoom.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <link rel="stylesheet" href="/static/css/builder.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css" media="screen">
  <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">



   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="/static/js/sticker.min.js"></script>



  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300i|Bilbo+Swash+Caps|Calligraffitti|Caveat|Courgette|Knewave|Marck+Script|Niconne" rel="stylesheet">

</head>

<body ng-controller="builder">

  {% include('builder/nav.html') %}





      <form action="/builder/submit" id="form" method="post" enctype="multipart/form-data" style="background-color:#f5f3f2;">

        {% include('builder/crumbs.html') %}

        <div style="min-height:800px;">


          {% include('builder/step1_type.html') %}

          {% include('builder/step2_products.html') %}

          {% include('builder/step3_design.html') %}

          {% include('builder/step3a_label.html') %}

          {% include('builder/step4_pricing.html') %}

          {% include('builder/step6_submit.html') %}


        </div>


  <!-- Footer -->
  <footer class="footer">
    <p style="text-align:center;color:#4d4d4d"><small>© 2016 Fandemic Inc. | All Rights Reserved</small></p>
  </footer>

</body>

</html>

{% include 'howfandemicworks-modal.html' %}

{% include 'launch-store-modal.html' %}

{% if box_items|length != 0 %}
  <script>
  $('#collapse2').collapse("show");
  </script>
{% endif %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slider.js"></script>
<script src="/static/js/builder.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/selectFx.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
