<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />

  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fandemic Store Builder</title>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/cs-select.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" href="/static/css/builder.css?v=1.4">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.min.css">

  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Josefin+Sans:300,400,600,800|Sue+Ellen+Francisco" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js"></script>-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'analytics.html' %}

</head>

<style>
.light {
    color: #8d8d8d;
    font-size: 14px;
}

.bootstrap-dialog.type-primary .modal-header {
    background: linear-gradient(to left, #e96443 , #e258b0) !important;
}
.btn-success {
    color: #fff;
    font-size: 18px;
    background-color: #E258B0;
    border-color: #E258B0;
}



@media only screen and (max-width: 900px) {
  .modal-dialog {
    vertical-align: top !important;
  }

  .modal-content{
    width: 100%;
    border: none;
    overflow-y: auto;
    height: 100%;
  }

  .btn-submit{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  .bootstrap-dialog .modal-header {
    border-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .modal-dialog, .modal-content, .modal-header{
    border-radius: 0px;
  }

  .modal-footer .btn{
    width: 100% !important;
    border-radius: 0px;
  }

  .next-btn{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    border-radius: 0px;
  }

  .subtitle {
    font-size: 22px !important;
    text-align: center !important;
    margin-top:10px;
    margin-bottom:10px;
}

.panel-summary{
  margin-top: 30px;
}

.navbar-default .navbar-collapse{
  width:115% !important;
}
}
.title{
  font-family: 'Josefin Sans', sans-serif !important;
  color: #A39D9D !important;
}
.subtitle{
  font-family: 'Josefin Sans', sans-serif;
  font-size:28px;
  text-align: center;
}
p,span,button,h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;
}
.btn{
  border-radius: 2px !important;
}
.bootstrap-dialog-header .close{
  left: initial;
  right:20px;
}
</style>


<img width="150px" id="big-loader" src="/static/img/loader.gif" style="position:fixed;z-index:99999;top:40%;left:45%;display:none;">

<body ng-controller="builder" style="background-color:#fff;">

  <!--<section id="coin-alert" style="cursor:pointer;z-index:1000;position:fixed;top:0px;left:0px;width:100%;height:30px;text-align:center;background: linear-gradient(to left, #e96443 , #e258b0);color:#fff;"
           data-toggle="modal" data-target="#coin-modal">
    <img height="20px" src="/static/img/builder/coin.svg">
    <span style="font-size:12px;">Get a free coin after signing up! <i class="fa fa-question-circle" aria-hidden="true"></i></span>

  </section>-->

  {% include('builder/nav.html') %}


      <section class="image" id="form" style="background-color:#fff;">

        {% include('builder/crumbs.html') %}

        <div class="builder-container" style="min-height:560px;margin-top:10px;">

          {% include('builder/step1_products.html') %}

          {% include('builder/step2_design.html') %}

          {% include('builder/step4_finish.html') %}

          {% include('builder/step5_confirm.html') %}



        </div>

      </section>

      <!--
      <div class="campaigns-header" style="padding-top: 25px;
    text-align: center;border-bottom:0px;">
                 <h3 style="font-weight:300;color:#adadad;border-bottom:0px;font-weight:300 !important;"> <i class="fa fa-fire" aria-hidden="true"></i> Trending Stores</h3>
     </div>
   -->
   <!--
      <div class="gallery" style="border-top:none;">


        {% for star in stars %}

        <div class="product-photo" style="padding:20px;position:relative;">

          <a href="/{{star.id}}" target="_blank">
          <div class="thumbnail" style="width:100%;height:100%;">
          <div style="width:100%;height:30%;background-image:url('https://res.cloudinary.com/fandemic/stars/{{star.id}}/bg.jpg');">

          </div>

            {% if star.image %}

              {% if star.image.logo %}
              <img src="https://res.cloudinary.com/fandemic/w_100,c_scale/stars/{{star.id}}/logo.png" style="height:30px;position:absolute;bottom:5px;left:5px;opacity:.6;">
              {% endif %}

              {% if star.image.profile %}
              <img width="200px" height="200px" src="https://res.cloudinary.com/fandemic/w_150,c_scale/stars/{{star.id}}/profile.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
              {% else %}
              <img width="200px" height="200px" src="/static/img/user.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
              {% endif %}





           {% elif star.campaigns[0].style.name == 'Plain White' %}
           <img width="200px" height="200px" src="/static/img/user.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
           {% elif star.campaigns[0].style.name == 'Solid Color' %}
           <img width="200px" height="200px" src="/static/img/user.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
           {% else %}
           <img width="200px" height="200px" src="/static/img/user.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
           {% endif %}




              <p style="width: 200px;position:absolute;top:70px;left:130px;font-size:14px;font-weight:800;color:#6d6d6d;text-overflow: ellipsis;
              white-space: nowrap;">{{star.name}}
                <br><span style="font-weight:400;font-size:14px; overflow: hidden;">{{star.campaigns.0.box_name}}</span>
                <br><span style="color:#25CB68;">{{star.campaigns.0.num_orders}} orders</span></p>

                <i class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
        </a>

        </div>

        {% endfor %}
    </div>
  -->


  <!-- Footer -->
  <footer class="footer" style="margin-top:2px;">
    <div class="row">

      <p style="text-align:center;color:#4d4d4d; font-size:16px;"><small>All products are <strong>cruelty free</strong> and <strong>not tested on animals</strong>.</small></p>

    </div>
    <div class="row">
      <p style="text-align:center;color:#4d4d4d"><small>© 2017 Fandemic Inc. | All Rights Reserved | <a href="../terms">Terms & Conditions</a></small></p>
    </div>
  </footer>

</body>

</html>


{% include 'builder/faq-modal.html' %}

{% if box_items|length != 0 %}
  <script>
  $('#collapse2').collapse("show");
  </script>
{% endif %}

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/builder.js?v=1.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>


<script>
$('.variations-modal').on("show.bs.modal", function () {
    $(this).find('.lazy_load').each(function(){
        var img = $(this);
        img.attr('src', img.data('src'));
    });
});
</script>


<!-- View Example Modal -->

<div class="modal fade" id="view-example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="
    padding-bottom: 16px;
    min-width: 1000px;
    max-height: 100%;
    overflow-y: auto;">
      <div class="modal-header">
        <h3 class="subtitle" style="text-align:center;margin-bottom:5px;color:#adadad;font-weight:200;" id="exampleModalLabel">This is where your <span id="swapped-title"> </span> will appear on your store:</h5>
        <button id="clear-content" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="swapped-picture"></div>
      </div>

    </div>
  </div>
</div>


<!-- sample order success modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="sample-order-modal-success">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2 class="modal-title"><img src="../static/img/success.svg" style="width:10%"> Order Successful!</h2>
      <br>
      <p class="light"> You should receive confirmation email shortly!</p>
      <br>
      <p>Your confirmation code is: <span ng-bind="box.confirmation_code"></span></p>
      <br>
      <i>Questions? Please email <strong>sarah@fandemic.co</strong> :)</i>

      <hr>
      <button data-dismiss="modal" class="btn btn-primary btn-submit" style="width" >Awesome!</button>
    </div>
  </div>
</div>


<!--coin info modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="coin-modal">
  <div class="modal-dialog" role="document" style="height:auto;">
    <div class="modal-content" style="height:auto;">
      <div class="modal-header" style="color:white;background: linear-gradient(to left, #e96443 , #e258b0);">
        <h4 style="text-align: center;color:white;font-family: caveat;font-size:28px;font-weight:400;" class="modal-title">Introducing Fandemic Coins!</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" style="text-align:center;padding-top:40px;">
        <div class="row">
          <div class="col-md-12" >
            <img width="50px" src="/static/img/builder/coin.svg">
          </div>
          <div class="col-md-12">
            <p style="margin-top: 15px;font-size:20px;">Use a coin to order a <strong>free</strong> product.<br>
               Review the product to get a new coin</p>
          </div>
        </div>
        <br>
        <p style="font-size:17px">Your coin will be sent via <strong>email</strong> after you sign up!</p>
        <span class="light" style="font-size:13px">*Must have 5k or more Instagram followers to participate.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-beauty" data-dismiss="modal" style="width:100%;font-size:18px;font-weight:600;">Close Window</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
//launch coin modal on page load
$(window).load(function(){
  //  setTimeout(function(){
  //$('#coin-modal').modal('show');
  //  }, 800);
});

$('#viewExample_1, #viewExample_2, #viewExample_3, #viewExample_4, #viewExample_5, #viewExample_6').on('click', function(e) {
  var modalContent = $(this).attr("passed-step");
  var newImageSource = '<img style="width:61em" src="../static/img/examples/' + modalContent + '.png">';
  console.log(modalContent)
  $('#swapped-picture').append(newImageSource);
  $('#swapped-title').append(modalContent);
});
$('#clear-content').on('click', function(e) {
  $('#swapped-picture').empty();
  $('#swapped-title').empty();
})
$('#view-example').on('hidden.bs.modal', function () {
  $('#swapped-picture').empty();
  $('#swapped-title').empty();
})

</script>


<script>
$(document).ready(function(){

  $(".dropdown-select").click( function(e) {
   $(this).closest(".dropdown-container").find('.dropdown').slideToggle("fast");
   //e.stopPropagation();
   });

   $('.dropdown-select').click(function(e) {
       //check if dropdown is hidden or not
       e.stopPropagation();
   });

   $("body").click( function(e) {
       $(".dropdown").slideUp("fast");
   });
});
</script>
