<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fandemic Box Builder</title>

  <!-- Bootstrap Core CSS -->
  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <link rel="stylesheet" href="../static/css/rangeslider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.1/jquery.bootstrap-touchspin.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/slider.css">
  <link rel="stylesheet" href="../static/css/builder.css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!--navigation-->

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../" style="margin-top:-15px">
          <img class="logo-nav" alt="logo" src="../static/img/logo-nav_fullsize_wordart.png" style="padding-top:5px" width="124" height="45">

        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../" class="btn">Home</a></li>
          <li><a href="../faq" class="btn">FAQ</a></li>
          <li><a href="mailto:sarah@fandemic.co" class="btn">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--navigation end-->


  <!-- Page Content -->
  <div class="container" style="margin-top:50px;">

    <!-- Page Header -->

    <!-- row -->

    <div class="row">

      <div class="col-md-9">
        <!-- Projects Row -->

        <!-- category dropdown -->
        <ul class="nav nav-pills">
          <!--<li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apparel
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/builder/t-shirt" class="active">Shirts</a></li>
                  <li><a href="/builder/tank">Tanks</a></li>
                </ul>
              </li>-->
          <li {% if cat=='shirt' %}class="active" {% endif %}><a href="/builder/shirt">Shirts</a></li>
          <li {% if cat=='tank' %}class="active" {% endif %}><a href="/builder/tank">Tanks</a></li>
          <li {% if cat=='hat' %}class="active" {% endif %}><a href="/builder/hat">Hats</a></li>
          <li {% if cat=='bags' %}class="active" {% endif %}><a href="/builder/bags">Bags</a></li>
          <li {% if cat=='accessories' %}class="active" {% endif %}><a href="/builder/accessories">Accessories</a></li>
          <li {% if cat=='gaming' %}class="active" {% endif %}><a href="/builder/gaming">Gaming</a></li>
          <li {% if cat=='beauty' %}class="active" {% endif %}><a href="/builder/beauty">Beauty</a></li>
          <li {% if cat=='promo' %}class="active" {% endif %}><a href="/builder/promo">Promo</a></li>
          <li {% if cat=='charity' %}class="active" {% endif %}><a href="/builder/charity">Charity</a></li>
        </ul>

        <br> {% for item in items %} {% if loop.index == 0 %}
        <div class="row">
          {% endif %} {% if loop.index % 3 == 1 %}
          <div class="row">
            {% endif %}


            <div class="col-md-4 product">
              <a href="/builder/{{cat}}/add/{{item.sku}}" data-toggle="popover" title="<strong>{{item.name}}</strong>" data-content="{{item.sku}}<br>{{item.description}}<hr><strong style='color:green'>Cost: {{item.cost}}</strong>">
                <img style="max-width: 15em;overflow: hidden;" class="img-responsive" src="{{item.img_url}}" alt="">
              </a>
            </div>

            {% if loop.index % 3 == 0 %}
          </div>
          {% endif %} {% if loop.index == items.count() %}
        </div>
        {% endif %} {% endfor %}
        <!-- /.row -->
      </div>

      <form action="/builder/submit" id="form" method="post" enctype="multipart/form-data">
        <!-- right panel -->
        <div class="col-md-3">


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">1. Build Box
                <img height="25px" style="margin-top: -5px;float:right" src="../static/img/box.png">
              </h3>
            </div>
            <div class="panel-body">


              {% if box_items|length == 0 %} Your box is empty. Click a product to add to box. {% else %} {% for item in box_items %}

              <img height="40px" src="{{item.img_url}}">
              <span style="display: inline-block;
                      width: 70%;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;">
                {{item.name}}</span>
              <a href="/builder/{{cat}}/remove/{{item.sku}}" <i class="fa fa-trash" aria-hidden="true"></i>
              </a>


              <br> {% endfor %} {% endif %}

            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse2" style="cursor:pointer;">
              <h3 class="panel-title">2. Set Retail Price</h3>
            </div>

            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">

                <div class="form-horizontal pull-center" role="form" style="text-align:center">
                  <div class="form-group" style="width:60%;margin: 0 auto;">
                    <input style="font-size:18px;" id="demo2" type="text" name="price" class="col-md-8 form-control">
                  </div>
                  <br>
                  <i style="font-size:15px; color:#8d8d8d">Your profit is <span class="money" id="newProfit"></span> each!</i>
                  <br>
                  <i style="font-size:12px; color:#8d8d8d">*Your margins increase as more boxes are pre-sold</i>
                  <br>
                  <a href="#" data-toggle="popover" title="Pricing Breakdown" data-content='<table class="table table-condensed"> <strong>If I sell...</strong><thead> <tr> <th>Qty</th> <th>Cost</th> <th>Profit</th> </tr> </thead> <tbody> <tr> <td>10</td> <td>$20</td> <td>$10</td> </tr> <tr> <td>25</td> <td>$21</td> <td>$11</td> </tr> <tr> <td>50</td> <td>$20</td> <td>$12</td> </tr> <tr> <td>100</td> <td>$19</td> <td>$13</td> </tr> <tr> <td>150</td> <td>$18</td> <td>$14</td> </tr> <tr> <td>250</td> <td>$17</td> <td>$15</td> </tr> <tr> <td>500</td> <td>$16</td> <td>$16</td> </tr> <tr> <td>1000</td> <td>$15</td> <td>$17</td> </tr> </tbody> </table> <!--end of table-->'>Sample Profit Margins</a>

                </div>



                <script>
                  var boxCost = 2.50;

                  $("input[name='price']").TouchSpin({
                    min: {
                      {
                        (box_items | sum(attribute = 'cost'))
                      }
                    } + 5 + boxCost,
                    max: 100.00,
                    initval: {
                      {
                        (box_items | sum(attribute = 'cost') * 2)
                      }
                    },
                    stepinterval: 1,
                    decimals: 2,
                    maxboostedstep: 1
                      //prefix: '$'
                  });


                  function precise_round(num, decimals) {
                    return Math.round(num * Math.pow(10, decimals)) / Math.pow(10, decimals);
                  }

                  function retailPricing() {
                    var retailVal = parseInt($('#demo2').val());
                    var newProfit = precise_round(retailVal - (boxCost + {
                      {
                        (box_items | sum(attribute = 'cost'))
                      }
                    } + 5), 2);
                    $('#newProfit').html(newProfit);
                  };
                  //build profit on slider click
                  $(".bootstrap-touchspin").click(function() {
                    retailPricing();
                  });
                  //build profit on page load
                  $(document).ready(function() {
                    retailPricing();
                  })

                  $(document).keydown(function(e) {
                    switch (e.which) {
                      case 37: // left
                        retailPricing();
                        break;

                      case 38: // up
                        retailPricing();
                        break;

                      case 39: // right
                        retailPricing();
                        break;

                      case 40: // down
                        retailPricing();
                        break;

                      case 55: // down
                        retailPricing();
                        break;

                      default:
                        return; // exit this handler for other keys
                    }
                  });
                </script>
              </div>
            </div>
          </div>

          <!--
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Campaign Duration</h3>
              </div>
              <div class="panel-body">

              <form class="form-horizontal pull-center" role="form" style="width:80%;margin: 0 auto;">
                <div class="form-group">
                  <input type="range" min="50" max="2000" step="50" value="1000" data-rangeslider>
                </div>
                <i style="color:#8d8d8d">Suggested Duration: 7 days</i>
              </form>


              </div>
            </div>
            -->




          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse3" style="cursor:pointer;">
              <h3 class="panel-title">3. Upload Design</h3>
            </div>

            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">



                Upload any relevant images (png,jpg,ai,psd,pdf)
                <br>
                <br>
                <div class="box">
                  <div class="box__input">
                    <input class="box__file" type="file" name="file[]" id="file" data-multiple-caption="{count} files selected" multiple="" />
                  </div>
                </div>

                <hr>

                <div class="form-group">
                  <label for="comment">Additional Design Info:</label>
                  <textarea placeholder="Tell us about designs you like, products you want to see, logos you have, etc" class="form-control" rows="5" id="comment" name="info"></textarea>
                </div>

              </div>
            </div>
          </div>

          <a data-toggle="modal" data-target="#info-modal" class="btn btn-lg btn-success" style="width:100%">Finish Box</a>

        </div>

        <!--information modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="info-modal">
          <div class="modal-dialog modal-md">
            <div class="modal-content" style="padding:30px">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title" id="myModalLabel">Just One More Thing!</h3>
              <hr>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Name</span>
                <input type="text" class="form-control" placeholder="Name" name="name" aria-describedby="sizing-addon1">
              </div>
              <br>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Email</span>
                <input type="text" class="form-control" placeholder="Email" name="email" aria-describedby="sizing-addon1">
              </div>

              <hr>
              <p>A custom design and free store will be sent to the email provided within 24 hours!</p>
              <br>
              <p>Questions or concerns? Email us at
                <strong>support@fandemic.co</strong> and we will respond within a few hours. Thanks!</p>

              <hr>
              <button onclick="form_submit()" type="submit" value="Send" class="btn btn-lg btn-success center-block">Submit for Design!</button>
            </div>

            <script type="text/javascript">
              function form_submit() {
                document.getElementById("form").submit();
              }
            </script>

          </div>
        </div>




        <br>
        <br>
    </div>







    <!-- /.row -->


    <div class="gallery">
      <div class="product-photo">
        <img src="../static/img/showcase_stores/rain-banner.png">
      </div>
      <div class="product-photo">
        <img src="../static/img/showcase_stores/temperrr-banner.png">
      </div>
      <div class="product-photo">
        <img src="../static/img/showcase_stores/adapt-banner.png">
      </div>
      <div class="product-photo">
        <img src="../static/img/showcase_stores/danielle-marie.png">
      </div>
    </div>
    <p class="store-disclaimer" style="text-align: center; margin-top: 10px;font-size: 12px;">Logos are each star's trademark and property.</p>
    <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © Fandemic Inc 2016</p>
                    </div>
                </div>
                <!-- /.row -->
    </footer>
    <!-- Footer -->
    <!-- <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="copyright">
              <a href="#home" class="ft-logo" title="Fandemic - Modern Start Up Landing Page">
                <img src="../static/img/logo-nav_fullsize.png" width="160px" alt="Fandemic">
              </a>
              <div class=""> <a href="mailto:sarah@fandemic.co" title="Contact Us">Contact Us</a> - Baltimore, MD
                <br>

                <small>© 2016 Fandemic Inc. | All Rights Reserved</small>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 style="font-size:20px">Read This</h2>
            <ul>
              <li><a href="/blog">Blog</a></li>
            </ul>
            <ul>
              <li><a href="/faq">FAQ</a></li>
            </ul>
            <ul>
              <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
            <ul>
              <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 style="font-size:20px">Example Stores</h2>
            <ul>
              <li><a href="/zac-smith-fitness">Zac Smith Fitness</a></li>
            </ul>
            <ul>
              <li><a href="/team-dna-fitness">Team DNA Fitness</a></li>
            </ul>
            <ul>
              <li><a href="/jen-seidel">Jen Seidel: Paint it Forward</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="ft-social">
              <div class="social">
                <ul>
                  <li><a class="tip" data-toggle="tooltip" href="https://twitter.com/The_Fandemic" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="tip" data-toggle="tooltip" href="https://instagram.com/Fandemic" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="tip" data-toggle="tooltip" href="https://www.linkedin.com/company/10566554" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a class="tip" data-toggle="tooltip" href="https://angel.co/fandemic-1" title="Angel List"><i class="fa fa-angellist"></i></a></li>
                  <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer> -->

  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <script src="/static/js/slider.js"></script>

</body>


</html>

<!-- Pricing Slider -->
<!--<div style="width:100%;position:fixed;bottom:0px;background-color:#f1f1f1;">
<div class="range-holder">

        <div id="pr-slider" class="dragdealer">
                <div class="stripe">

                <div id="green-highlight"></div>
                <div id="orange-highlight"></div>
                <div id="blue-highlight"></div>

                <div class="handle">
                  <div class="infobox">
                    <div class="titlebar"><span id="plan-holder"></span> <span id="device-holder"></span></div>
                    <div class="innerbox">

                        <div class="info-price"></div>
                        <div class="annual-label">Total Profit:</div>
                        <div class="annual-price"></div>


                    </div>
                  </div>
            <div class="square">
              <span class="value"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
              <span class="menu-line"></span>
            </div>
          </div>

              </div>
        </div>
      </div>
    </div>-->

<script>
  $('a').popover({
    'trigger': 'hover',
    'container': 'body',
    'html': true
  });
</script>
