<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="demonstration-video">

  <div class="modal-dialog modal-md" style="width:43em;">
    <div class="modal-content" style="padding:30px">
      <div class="modal-header">
         <button type="button" id="demo-modal-close" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <h4 class="modal-title">{{star.name}}'s {{star.campaigns.0.box_name}} Box</h4>
       </div>
      <br>





      <iframe class="video-iframe" src="//player.vimeo.com/video/{{star.campaigns[0].campaign_video}}?api=1&player_id=vimeoplayer&title=0&amp;byline=0&amp;portrait=0" name="vimeoplayer" id="nofocusvideo" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    </div>
  </div>
</div>

<style>
.video-iframe{
  width:615px;
  height:346px;
}


.modal-content {
  width:42em;
}

.step{
  color: #4E9CD4;
}

.steps{
  margin-bottom: 0px;
  color: #1d1d1d;
  font-weight: 600;
}

.light{
  color: #8d8d8d;
  font-size:14px;
}

.col-xs-9{
  padding:20px;
  padding-top: 0px;
}

.icon{
  opacity:.8;
}

.list{
  padding-left: 30px;
  color: #4d4d4d;
}

.stub{
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #eeeeee;
}

.listt li {
    list-style-type: circle;
 }


.img-responsive.icon {
  width: 5em;
  margin-left: 10em;

}

.row.modalSteps {
  text-align:center;
}

.invisible {
  display:none;
}


</style>


<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<script>
var iframe = $('#nofocusvideo')[0];
// $f == Froogaloop
var player = $f(iframe)

$('#how-fandemic-works').on('hidden.bs.modal', function () {
player.api('pause');
})

$('#how-fandemic-works').on('shown.bs.modal', function () {
player.api('play');
})

var pageURL = window.location.href;
if( pageURL.indexOf('builder') >= 0){
  $('.videoButtonCTA').addClass('invisible');
}

$( "#demo-modal-close" ).click(function() {
  var $frame = $('iframe#nofocusvideo');
  var vidsrc = $frame.attr('src');  // saves the current iframe source
  $frame.attr('src','');  // sets the source to nothing, stopping the video
  $frame.attr('src', vidsrc);  // sets it back to the correct link so that it reloads immediately on the next window open
});



</script>
