<head>
  <meta name="robots" content="noindex" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
</head>

<style>
a{
  cursor: pointer !important;
}
</style>

<html>
<div class="container">
  <h2>Fandemic email Poster</h2>

<!--FORM FOR ADDING AN EMAIL -->
<form id="email-post-form" action="/email-post-submit-form" method="post" role="form">
  <select id="category" name="category">
    {% for category in emailCategories %}
    <option>{{category}}</option>
    {% endfor %}
  </select>
  <input id="order" name="order" class="form-control" type="number" placeholder="Order Number">
  <input id="subject" name="subject" class="form-control" type="text" placeholder="Subject">
  <textarea id="body" name="body"></textarea>
</form>
<button class="btn btn-primary btn-nav btn-beauty" style="width:30%;" id="email-post-form-submit">Add Email</button>
<!-- end of FORM FOR ADDING EMAIL -->

<hr>

<div class="row">
  <strong>
    <div class="col-md-2">Category</div>
    <div class="col-md-1">Order</div>
    <div class="col-md-2">Subject</div>
    <div class="col-md-5">Body</div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
  </strong>
</div>
<hr>

  {% for email in emails | sort(attribute='category') %}
  <form class="email-update-form" action="/email-update-form" method="post" role="form">
      <div class="row">
          <div class="col-md-2">{{email.category}}</div>
          <div class="col-md-1">{{email.order}}</div>
          <div class="col-md-2"><input class="subject" name="subject" class="form-control" type="text" placeholder="Subject" value="{{email.subject}}"></div>
          <div class="col-md-5"><textarea name="body">{{email.body | safe}}</textarea></div>
          <div class="col-md-1"><a class="update">Update</a></div>
          <div class="col-md-1"><a class="delete">Delete</a></div>
          <input type="hidden" name="id" value="{{email._id}}">
      </div>
    </form>
    <hr>
  {% endfor %}


</div>
</html>
<script>
tinymce.init({
  selector: 'textarea',
  height: 250,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css',

});


//FUNCTION FOR ADDING AN EMAIL
$("#email-post-form-submit").click(function(e) {
  $('#email-post-form-submit').replaceWith('<p id="email-post-form-submit" style="text-align:center">Updating...</p>')
  $('#' + 'body').html( tinymce.get('body').getContent() );
    $.ajax({
      url: "/email-post-submit-form",
      data: $('#email-post-form').serialize(),
      type: 'POST',
      success: function(response) {
          console.log(response);
          $('#email-post-form-submit').replaceWith('<p style="text-align:center">Awesome! We just posted it!</p>')
      },
      error: function(error) {
          console.log(error);
          $('#email-post-form-submit').replaceWith('<p style="text-align:center">Error!</p>')
      }
    });
});
//end of FUNCTION FOR ADDING AN EMAIL


//FUNCTION FOR UPDATING AN EMAIL
$(document).on('click', ".update", function() {
  tinyMCE.triggerSave();
  var form = $(this).closest('form');
  $.ajax({
    url: "/email-update-form",
    data: form.serialize(),
    type: 'POST',
    success: function(response) {
        console.log(response);
    },
    error: function(error) {
        console.log(error);
    }
  });

});
// end of FUNCTION FOR UPDATING AN EMAIL
$(document).on('click', ".delete", function() {
  tinyMCE.triggerSave();
  var form = $(this).closest('form');
  $.ajax({
    url: "/email-delete-form",
    data: form.serialize(),
    type: 'POST',
    success: function(response) {
        console.log(response);
        form.hide();
    },
    error: function(error) {
        console.log(error);
    }
  });

});

//FUNCTION FOR DELETING AN EMAIL
</script>
