<!DOCTYPE html>
<html lang="en">



<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create & Sell Custom Merchandise</title>
  <meta name="description" content="A fundraising platform for social media stars and organizations">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/landing-page/main.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
</head>
<body>

  <!--navigation-->

  <div class="sticky-wrapper" style="height: 74px;"><nav class="navbar navbar-default stuck">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../#home">
            <img class="logo-nav" alt="logo" src="../static/img/logo-nav_fullsize_wordart.png" style="padding-top:5px" width="124" height="45">
            <img class="logo-head" width="200px" alt="logo" src="../static/img/logo_head_fullsize.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav nav-left">
            <li><a href="../#works">How it Works </a></li>
            <li><a href="../#features">Features</a></li>
            <li><a href="../#activestores">Example Stores</a></li>
            <!-- <li><a href="#reviews">Reviews</a></li> -->
            <!-- <li><a href="#pricing">Pricing</a></li> -->
            <!-- <li><a href="#team">Team</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" data-target="#myModal" class="btn">ACTIVATE STORE</a></li>
          </ul>
        </div>
      </div>
    </nav></div>


  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('../../static/img/bg6.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>FAQ</h1>
            <hr class="small">
            <span class="subheading">Frequently Asked Questions</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <!-- Tab panes -->
    <div class="tab-content faq-cat-content">
      <hr>
      <h2>Store</h2>
            <div class="panel-group" id="accordion-cat-1">
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                            <h4 class="panel-title">
                                What products are available for my box?
                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          You may add any of the products on your store to your customized Fandemic Box.
                        </div>
                </div>
            </div>
          </div>
            <div class="panel-group" id="accordion-cat-2">
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                            <h4 class="panel-title">
                              What if I already have a store?
                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          Contact our <a href="mailto:sarah@fandemic.co">support staff</a> and we will work on integrating your current store with your Fandemic store!
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion-cat-3">
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                            <h4 class="panel-title">
                              How do I know you all are not a scam?
                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          Check out our <a href="/blog">Blog</a> to see what previous customers have said.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion-cat-4">
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1">
                            <h4 class="panel-title">
                              I want to see the items for myself, how do I do this?
                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          Our team will send one custom box to you, free of charge when you order so that you can show off and promote the box yourself.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion-cat-5">
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1">
                            <h4 class="panel-title">
                              Where do you get your products from?
                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          Our team has interviewed and visited a number of manufacturers across the entire world and have found a handful to partner with.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion-cat-13">
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion-cat-13" href="#faq-cat-13-sub-1">
                            <h4 class="panel-title">
                              Who have you worked with in the past?
                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-cat-13-sub-1" class="panel-collapse collapse">
                        <div class="panel-body">
                          Check out our <a href="/blog">blog</a> to read some case studies on other stars that we have worked with in the past.
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        <h2>Shipping</h2>
        <div class="panel-group" id="accordion-cat-6">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-1">
                        <h4 class="panel-title">
                          How long does shipping take?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-6-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      It really varies on your location, but shipping could range from 5-7 business days.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-cat-7">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-1">
                        <h4 class="panel-title">
                          Where do you ship to?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-7-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      We can ship anywhere! However, shipping cost will vary based on location, to be determined at time of checkout.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>Profits</h2>
        <div class="panel-group" id="accordion-cat-8">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-1">
                        <h4 class="panel-title">
                          What are your profit rates? How about mine?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-8-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      We want to be as transparent as possible, and are happy to share this information with you!
                      <br>
                      The Fandemic team orders the items that you select for your box from our trusted suppliers all over the world.
                      <br>
                      The price of these items varies based on how many boxes you want (the more you order the higher your profit - this is reflected in your box creation wizard in the store).
                      <br>
                      We then divide the retail cost (what your fans pay) in half, where you get half, and the cost of the products is subtracted from our half.
                      <br>
                      For example, if your box is $30 and all of the products cost $10, then you get $15 and we get $5 ($15-$10).
                      Happy to answer any other questions regarding this, please <a href="mailto:sarah@fandemic.co">email us.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-cat-9">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-9" href="#faq-cat-9-sub-1">
                        <h4 class="panel-title">
                          Does this cost any money?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-9-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      In order to allow your fans to receive the items instantly, we are working with
                      a distribution center to ship the items immediately as they are ordered.
                      In order to do this, we request a <strong>reimbursable</strong> stocking fee.
                      This stocking fee is determined based on the quantity and products,
                      which is determined when you create the box in your store wizard.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-cat-10">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-10" href="#faq-cat-10-sub-1">
                        <h4 class="panel-title">
                          How do I get paid?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-10-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      We will send you a payment of your total weekly revenue every week <strong>in addition to</strong>
                      a calculated percentage of your reimbursable stocking fee based on the number of products sold.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>Customer Service</h2>
        <div class="panel-group" id="accordion-cat-11">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-11" href="#faq-cat-11-sub-1">
                        <h4 class="panel-title">
                          What if my fans have questions? I don't want to get bombardded with emails!
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-11-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      We have a professional support staff and have contractors that speak all of the most popular languages that will handle all support questions.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>Refund and Returns</h2>
        <div class="panel-group" id="accordion-cat-12">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-12" href="#faq-cat-12-sub-1">
                        <h4 class="panel-title">
                          How do you handle refund and return requests?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-12-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      You have 24 hours to inspect your purchase and to determine if it does not meet the expectations laid forth.
                      In the event that you wish to receive a refund, Fandemic will issue you a refund and ask you to specify how the product failed to live up to expectations.
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>Misc</h2>
        <div class="panel-group" id="accordion-cat-14">
            <div class="panel panel-default panel-faq">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion-cat-14" href="#faq-cat-14-sub-1">
                        <h4 class="panel-title">
                          Do you have a flyer or something I can share in person?
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </h4>
                    </a>
                </div>
                <div id="faq-cat-14-sub-1" class="panel-collapse collapse">
                    <div class="panel-body">
                      We actually made a <a href="../static/misc/Fandemic_Box_Progress.pdf">flyer</a> for this exact reason.
                      Feel free to share with anyone.
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <hr>

</body>

<script src="../static/js/jquery-1.12.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints.min.js"></script> -->
<script src="../static/js/landing-page/jquery.animateNumber.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints-sticky.min.js"></script> -->
<script src="../static/js/landing-page/retina.min.js"></script>
<script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="../static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/landing-page/main.js"></script>
<script src="../static/js/landing-page/lightslider.js"></script>

<!--site-footer-->

<!--site-footer-->
<section id="updates" class="sub-form section-spacing text-center">
    <div class="container">
      <header class="section-header">
        <h2>Get Updates from Us</h2>
        <h3>Enter your email to get new discounts and coupons for your Fandemic campaign </h3>
      </header>
      <div class="row">
        <div class="col-md-6 center-block col-sm-11">
          <form id="mc-form" novalidate="true">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email Address" required="" id="mc-email" name="EMAIL">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">SUBSCRIBE <i class="fa fa-envelope"></i> </button>
              </span>
            </div>
            <label for="mc-email" id="mc-notification"></label>
          </form>
        </div>
      </div>
    </div>
  </section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="copyright">
          <a href="#home" class="ft-logo" title="Fandemic - Modern Start Up Landing Page">
            <img src="../static/img/logo-nav_fullsize.png" width="160px" alt="Fandemic">
          </a>
          <div class=""> <a href="mailto:sarah@fandemic.co" title="Contact Us">Contact Us</a> - Baltimore, MD
            <br>

            <small>© 2016 Fandemic Inc. | All Rights Reserved</small>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h2 style="font-size:20px">Read This</h2>
        <ul>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <ul>
          <li><a href="/blog">Blog</a></li>
        </ul>
        <ul>
          <li><a href="/terms">Terms and Conditions</a></li>
        </ul>
        <ul>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2 style="font-size:20px">Example Stores</h2>
        <ul>
          <li><a href="/team-dna-fitness">Team DNA Fitness</a></li>
        </ul>
        <ul>
          <li><a href="/rxmuscle">RX Muscle</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="ft-social">
          <div class="social">
            <ul>
              <li><a class="tip" data-toggle="tooltip" href="https://twitter.com/The_Fandemic" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="https://instagram.com/Fandemic" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="https://www.linkedin.com/company/10566554" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="https://angel.co/fandemic-1" title="Angel List"><i class="fa fa-angellist"></i></a></li>
              <!--<li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Google plus"><i class="fa fa-google-plus"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>


<!--site-footer end-->

<!-- MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Get Started!</h2>
      <p>Fill out the form below and we will contact you within 24 hours</p>
      <hr>
      <form id="activate-store-modal-form" action="/activate" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input id="activate_firstname" name="firstname" type="text" class="form-control" placeholder="Name" required/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input id="activate_email" name="email" type="email" class="form-control" placeholder="Email" required/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="activate_phone" name="phone" type="tel" class="form-control" placeholder="Phone" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
              <input id="activate_youtube" name="youtube" type="url" class="form-control" placeholder="Youtube Channel URL" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
              <input id="activate_instagram" name="instagram" type="text" class="form-control" placeholder="Instagram Username" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-official"></i></span>
              <input id="activate_facebook" name="facebook" type="text" class="form-control" placeholder="Facebook Fan Page URL" />
            </div>
          </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary center btn-submit" id="activate-store-button">Submit</button>
        <p id="activate-store-notification"></p>
      </form>
    </div>
  </div>

  {% include 'analytics.html' %}
