<!--site-footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="copyright">
          <a href="#home" class="ft-logo" title="Fandemic - Modern Start Up Landing Page">
            <img src="../static/img/logo-nav_fullsize.png" width="160px" alt="Fandemic">
          </a>
          <div class=""> <a href="mailto:sample@sample.com" title="Contact Us">Contact Us</a> - Baltimore, MD
            <br>
            <small>© 2014 Your Awesome Company | All Rights Reserved</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Navigation link 1 </li>
          <li>Navigation link 2</li>
          <li>Navigation link 3</li>
          <li>Navigation link 4</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="ft-social">
          <div class="social">
            <ul>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>


<!--site-footer end-->

<script src="../static/js/jquery-2.1.4.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.animateNumber.min.js"></script>
<script src="../static/js/waypoints-sticky.min.js"></script>
<script src="../static/js/retina.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/main.js"></script>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-75519719-1', 'auto');
  ga('send', 'pageview');
</script>
