<script src="../static/js/jquery-1.12.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/landing-page/waypoints.min.js"></script>
<script src="../static/js/landing-page/jquery.animateNumber.min.js"></script>
<script src="../static/js/landing-page/waypoints-sticky.min.js"></script>
<script src="../static/js/landing-page/retina.min.js"></script>
<script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="../static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/landing-page/main.js"></script>
<script src="../static/js/landing-page/lightslider.js"></script>

<!--site-footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="copyright">
          <a href="#home" class="ft-logo" title="Fandemic - Modern Start Up Landing Page">
            <img src="../static/img/logo-nav_fullsize.png" width="160px" alt="Fandemic">
          </a>
          <div class=""> <a href="mailto:ethan@fandemic.co" title="Contact Us">Contact Us</a> - Baltimore, MD
            <br>

            <small>© 2016 Fandemic Inc. | All Rights Reserved</small>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2 style="font-size:20px">Active Stores</h2>
        <ul>
          <li><a href="/xtremefitness">Xtreme Fitness</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="ft-social">
          <div class="social">
            <ul>
              <li><a class="tip" data-toggle="tooltip" href="https://twitter.com/The_Fandemic" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="https://instagram.com/Fandemic" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="https://www.linkedin.com/company/10566554" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <!--<li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Google plus"><i class="fa fa-google-plus"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>


<!--site-footer end-->

<!-- MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Get Started!</h2>
      <p>Fill out the form below and we will contact you within 24 hours</p>
      <hr>
      <form id="activate-store-modal-form" action="/activate" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input id="activate_firstname" name="firstname" type="text" class="form-control" placeholder="Name" required/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input id="activate_email" name="email" type="email" class="form-control" placeholder="Email" required/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="activate_phone" name="phone" type="tel" class="form-control" placeholder="Phone" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
              <input id="activate_youtube" name="youtube" type="url" class="form-control" placeholder="Youtube Channel URL" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
              <input id="activate_instagram" name="instagram" type="text" class="form-control" placeholder="Instagram Username" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-official"></i></span>
              <input id="activate_facebook" name="facebook" type="text" class="form-control" placeholder="Facebook Fan Page URL" />
            </div>
          </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary center btn-submit" id="activate-store-button">Submit</button>
        <p id="activate-store-notification"></p>
      </form>
    </div>
  </div>

  {% include 'analytics.html' %}
