<!--site-footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="copyright">
          <a href="#home" class="ft-logo" title="Fandemic - Modern Start Up Landing Page">
            <img src="../static/img/logo-nav_fullsize.png" width="160px" alt="Fandemic">
          </a>
          <div class=""> <a href="mailto:ethan@fandemic.co" title="Contact Us">Contact Us</a> - Baltimore, MD
            <br>
            <small>© 2014 Your Awesome Company | All Rights Reserved</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ul>
          <!-- <li>Navigation link 1 </li>
          <li>Navigation link 2</li>
          <li>Navigation link 3</li>
          <li>Navigation link 4</li> -->
        </ul>
      </div>
      <div class="col-md-3">
        <div class="ft-social">
          <div class="social">
            <ul>
              <li><a class="tip" data-toggle="tooltip" href="https://twitter.com/The_Fandemic" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="https://instagram.com/Fandemic" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <!-- <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a class="tip" data-toggle="tooltip" href="javascript:void(0);" title="Google plus"><i class="fa fa-google-plus"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>


<!--site-footer end-->

<!-- MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Get Started!</h2>
      <p>Fill out the form below and we will contact you within 24 hours</p>

      <hr>
      <form action="/activate" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input id="activate_firstname" name="firstname" type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input id="activate_email" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="activate_phone" type="text" class="form-control" placeholder="Phone" aria-describedby="sizing-addon1">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
              <input id="activate_youtube" type="text" class="form-control" placeholder="Youtube Channel URL" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
              <input id="activate_instagram" type="text" class="form-control" placeholder="Instagram Username" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-official"></i></span>
              <input id="activate_facebook" type="text" class="form-control" placeholder="Facebook Fan Page URL" aria-describedby="sizing-addon1">
            </div>
          </div>
        </div>
      </form>
      <hr>
      <button class="btn btn-primary center btn-submit" id="activate-store-button">Submit</button>
      <p id="activate-store-notification"></p>

    </div>
  </div>


  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-75519719-1', 'auto');
    ga('send', 'pageview');
  </script>
