

<nav class="navbar navbar-default stuck">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="logo-nav" alt="logo" src="../static/img/fandemic_logo_pink.png" style="padding-top:0px;margin-top:3px;"  width="120px">
        <img class="logo-head" width="120px" alt="logo" src="../static/img/logowhite.png">
        <!--<h1 style="font-family: 'Cookie', cursive;">Livloo</h1>-->
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav nav-left" style="padding-left:1em;">
        <li><a style="font-weight:500;font-size:16px;" href="/faq">HOW IT WORKS</a></li>
        <li><a style="font-weight:500;font-size:16px;" href="/influencers">INFLUENCERS</a></li>
        <li><a style="font-weight:500;font-size:16px;" href="/brands">BRANDS</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="influencers"><a href="/get-started" class="btn">GET STARTED</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="partners"><a href="http://admin.fandemic.co">lOG IN</a></li>
      </ul>
    </div>
  </div>
</nav>

<style>
h1, h2, h3, h4 {
  font-family: 'Caveat', cursive !important;
}
p {
  font-family: 'Josefin Sans', sans-serif !important;
}
.navbar-right .partners {
  margin-right:1em;
  border: none !important;
}
.navbar-right .partners a {
  border: none !important;
  font-weight: 800;
  color: #E72D9E !important;
}
.navbar-right .partners a:focus {
  border: none !important;
  background-color: transparent !important;
  color: #E72D9E;
}
.navbar-right .influencers {
  background-color:transparent !important;
  border: none !important;
}
.navbar-right .influencers a{
  color: white !important;
  border-color: transparent !important;
  background-color: #E72D9E !important;
}

.navbar-default.stuck .navbar-nav .influencers .btn {
  border-color: #CA1488 !important;
  border-radius: 0px;
}

</style>
