<!DOCTYPE html>

<html>

{% include 'header.html' %}
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Caveat|Source+Sans+Pro|Montserrat|Sue+Ellen+Francisco|Josefin+Sans' rel='stylesheet' type='text/css'>


<style>
.team-details p{
  color:#4c4c4c;
}
.team-details img{
  width: 10em;
  border-radius: 5em;
}
[data-words]{
  vertical-align: top;
  position: static;
}
[data-words] > span{
  position: absolute;
  color: #fff;
}
.benefits p{
  padding-left: 3em;
  padding-right: 3em;
}
a{
  color: #E72D9E;
}
.iphone-text{
  margin-top:180px;
}
@media only screen and (max-width: 900px) {
  .iphone-text{
    margin-top:0px;
  }
}
</style>
<body style="background-color:#fff;">

  <!--hero section-->

  <header class="" style="width:100%;background: url('/static/img/how-it-works/header-bg-4.jpg');background-position: top;
  background-repeat: no-repeat;
  background-size: cover;margin-top:-40px;">

    <!--navigation-->
    {% include 'header-nav.html' %}

    <!--navigation end-->

    <!--welcome message-->

    <section class="container text-center welcome-message" style="position:relative;">


      <div class="row">

        <div class="col-md-12">

          <!--explainer paragraph -->
          <section class="container text-block" style="margin-top:5px;margin-bottom:5px;text-align:center;">
          <span style="font-weight:400 !important;font-size:16px;">
          With Fandemic, influencers are able to create their own <strong>shopping experience</strong>.
          We provide you a custom storefront so you can sell your favorite products.
          </span>
          <br><br><br>
          <strong>Here's how it Works</strong>
          <br>
          <img width="40px" src="/static/img/how-it-works/down-arrow.svg">
          <br class="visible-xs"><br class="visible-xs">
          <br class="visible-xs"><br class="visible-xs">
          </section>


          <section class="container text-block" style="margin-top:-40px;">
            <span style="float:left;font-family:willow;font-size:60px;font-weight:400;line-height: 55px;position:relative;bottom: 0px;margin-right:20px;">1</span>
            <span style="display: block;
    margin-left: 40px;"><a href="/get-started">Signup here</a> using your instagram username.
              <i style="font-size:14px;color:#a5e9a5;">
                <br>
                <i class="fa fa-clock-o" aria-hidden="true"></i> less than 1 minute</i></span>
            <hr style="margin: 30px 0px;">
            <span style="float:left;font-family:willow;font-size:60px;font-weight:400;line-height: 55px;position:relative;bottom: 0px;margin-right:20px;">2</span>
            <span style="display: block;
    margin-left: 40px;">Login and receive your first <strong>free</strong> product.
    <br>
    <span class="light" style="font-size:10px;">*This is a full sized product of your choosing. Only applies to instagram accounts with 5000+ followers.</span>
    <br>
    <i style="font-size:14px;color:#a5e9a5;"><i class="fa fa-clock-o" aria-hidden="true"></i> Shipped to your doorstep within 3 days</i>
            </span>
            <hr style="margin: 30px 0px;">
            <span style="float:left;font-family:willow;font-size:60px;font-weight:400;line-height: 55px;position:relative;bottom: 0px;margin-right:20px;">3</span>
            <span style="display: block;
    margin-left: 40px;">Provide feedback about the product you receive.
    <br>
    <i style="font-size:14px;color:#a5e9a5;"><i class="fa fa-clock-o" aria-hidden="true"></i> less than 5 minutes</i>
            </span>
            <hr style="margin: 30px 0px;">
            <span style="float:left;font-family:willow;font-size:60px;font-weight:400;line-height: 55px;position:relative;bottom: 0px;margin-right:20px;">4</span>
            <span style="display: block;
    margin-left: 40px;">Like the product? <br> Share it on your storefront to earn money via <a href="https://venmo.com" target="_blank">Venmo</a>!
    <br> <i style="font-size:14px;color:#a5e9a5;"><i class="fa fa-clock-o" aria-hidden="true"></i> less than 2 minutes</i>
          </span>
           <hr style="margin: 30px 0px;">
            <span style="float:left;font-family:willow;font-size:60px;font-weight:400;line-height: 55px;position:relative;bottom: 0px;margin-right:20px;">5</span>
            <span style="display: block;
    margin-left: 40px;">
            Continue to review products and grow your store!
            <br> <a href="/get-started" style="font-size:14px;color:#E72D9E;">Get Started Here</a>
          </span>
          </section>


          <br>

          <!--
          <hr>
          <br>
          <img width="100px" style="margin-right:20px;" src="/static/img/how-it-works/present2.svg"><br><br>
          <span style="color:#a9a9a9;"><br class="visible-xs"><br class="visible-xs">Have over 5000 instagram followers? <br class="visible-xs"> You're eligible for a free product!<br> <a href="/get-started" style="color:#E72D9E;font-weight:600;font-size:22px;">Get Started Here</a></span>
        -->




      </div>
    </div>




    <!--welcome message end-->

  </header>

  <section class="" style="width:100%;text-align:left;color:#727272;font-size:20px;
                                          padding-top:40px;min-height:200px;background-color:#E72D9E;
                                          background: url('/static/img/how-it-works/bg.jpg');
                                          background-attachment: fixed;
                                          background-position: center;
                                          background-repeat: no-repeat;
                                          background-size: cover;">

    <div class="container">
    <div class="row">

      <div class="col-md-4" style="text-align:center;">

        <div class="iphone-text" >
          <h1 style="color:#fff;text-align:center;">The Finished Product?</h1>
          <p style="color:#fff;">A mobile shopping experience for your followers!</p>
          <br>
          <a href="/get-started"><button class="btn" style="background:transparent;border:1px solid #fff;color: #fff;">Get Started</button></a>
          <br class="visible-xs"><br class="visible-xs">
        </div>
      </div>
      <div class="col-md-8">
        <img style="width:100%;" src="/static/img/how-it-works/iphone1.png">
      </div>
    </div>
    </div>

  </section>

  <!--hero section end-->

  <section class="container" style="text-align:center;">

    <br><br>
    <img width="100px" style="margin-right:20px;" src="/static/img/how-it-works/present2.svg"><br class="hidden-xs"><br class="hidden-xs">
    <span style="color:#a9a9a9;"><br class="visible-xs"><br class="visible-xs">Have over 5000 instagram followers? <br class="visible-xs"> You're eligible to try free products!<br> <a href="/get-started" style="color:#E72D9E;font-weight:600;font-size:22px;">Get Started Here</a></span>
    <br><br><br>
  </section>




</body>

{% include 'footer.html' %}



<script>

/* ==========================================================================
   Number animation
   ========================================================================== */

$('.welcome-message').waypoint(function() {

  var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');

  $('.total-number-1').animateNumber({
    number: {{storeCount}}+1241, //change value here
    numberStep: comma_separator_number_step
  }, 6000);

}, {
  offset: '80%'

});

  $("a[href='#home']").click(function() {
    $("html, body").animate({
      scrollTop: 0
    }, "slow");
    return false;
  });

$(document).ready(function() {
    if (window.location.href.indexOf("#video") != -1){
       $('.litebox-hero').click()
     }

var autoplaySlider = $('#content-slider').lightSlider({
    auto:false,
    loop:true,
    pauseOnHover: true,
    onBeforeSlide: function (el) {
        $('#current').text(el.getCurrentSlideCount());
    }
});
});


$(function() { // DOM ready

  $("[data-words]").attr("data-words", function(i, d){
    var $self  = $(this),
        $words = d.split("|"),
        tot    = $words.length,
        c      = 0;

    // CREATE SPANS INSIDE SPAN
    for(var i=0; i<tot; i++) $self.append($('<span/>',{text:$words[i]}));

    // COLLECT WORDS AND HIDE
    $words = $self.find("span").hide();

    // ANIMATE AND LOOP
    (function loop(){
      $self.animate({ width: $words.eq( c ).width() });
      $words.stop().fadeOut().eq(c).fadeIn().delay(1000).show(0, loop);
      c = ++c % tot;
    }());

  });
});


$('.block').hover(function () {
    $(this).addClass('hover');
}, function () {
    $(this).removeClass('hover');
});

</script>
