<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="how-fandemic-works">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">How <img height="45px" style="margin-top:-5px;opacity:.8;" src="../static/img/logo-nav_fullsize_wordart.png"> Works</h2>
      <i class="light">A high quality unboxing experience for your fans at <strong>zero risk</strong></i>
      <hr>

      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive icon" src="../static/img/howitworks/packing.svg">
        </div>
        <div class="col-xs-9">
          <h3 class="steps"><span class="step">Step 1:</span> Build Your Box</h3>
          <i class="light">Pick the items that go in your box</i>
          <hr class="stub">
          <ul class="list">
            <li>1. Choose from 100+ items</li>
            <li>2. Set the sale price of the box</li>
            <li>3. Upload a design or specify design details</li>
          </ul>
        </div>
      </div>
      <br><br>


      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive icon" src="../static/img/howitworks/design.svg">
        </div>
        <div class="col-xs-9">
          <h3 class="steps"><span class="step">Step 2:</span> Get a Free Design</h3>
          <i class="light">We send you a free professional box design.</i>
          <hr class="stub">
          <ul class="list">
            <li>1. Get Your design via email within 24 hours</li>
            <li>2. Approve your free design</li>
          </ul>
        </div>
      </div>
      <br><br>


      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive icon" src="../static/img/howitworks/launch.svg">
        </div>
        <div class="col-xs-9">
          <h3 class="steps"><span class="step">Step 3:</span> Launch Campaign</h3>
          <i class="light">It's time to start taking preorders!</i>
          <hr class="stub">
          <ul class="list listt">
            <li>Your campaign will last for 7 days</li>
            <li>Get paid if you sell more than 10 boxes</li>
            <li>Receive cash bonuses for larger sales!</li>
            <li>Boxes ship within 5 days</li>
          </ul>
        </div>
      </div>
      <br><br>

    </div>
  </div>
</div>

<style>

.step{
  color: #4E9CD4;
}

.steps{
  margin-bottom: 0px;
}

.light{
  color: #8d8d8d;
  font-size:14px;
}

.col-xs-9{
  padding:20px;
  padding-top: 0px;
}

.icon{
  opacity:.8;
}

.list{
  padding-left: 30px;
  color: #4d4d4d;
}

.stub{
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #eeeeee;
}

.listt li {
    list-style-type: circle;
 }
</style>
