<!DOCTYPE html>

<html>

{% include 'header.html' %}

<body>

  <!--hero section-->

  <header class="hero-section">

    <!--navigation-->

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
            <img class="logo-nav" alt="logo" src="../static/img/logo-nav_fullsize.png" style="padding-top:5px" width="124" height="45">
            <img class="logo-head" width="200px" alt="logo" src="../static/img/logo_head_fullsize.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav nav-left">
            <li><a href="#works">How it Works </a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#team">Team</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
            <li><a href="#" class="btn">ACTIVATE STORE</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--navigation end-->

    <!--welcome message-->

    <section class="container text-center welcome-message">
      <div class="row">
        <div class="col-md-12">
          <h1>Give Back to Your Fans Today!</h1>
          <h2>We work with you to create products for your fans. </h2>
          <div class="play-btn">
            <a href="https://vimeo.com/109054393" class="play litebox-hero">
              <img src="../static/img/play-btn.png" alt="play">
            </a>
          </div>
          <div class="cta-btn">
            <p><span class="total-number-1">70</span>K Stores Already!</p>
            <a href="#" class="btn">ACTIVATE STORE</a>
          </div>
        </div>
      </div>
    </section>

    <!--welcome message end-->

  </header>

  <!--hero section end-->




  <!--benefits-->

  <section class="benefits section-spacing text-center" id="works">
    <div class="container">
      <header class="section-header">
        <h2>How Does Fandemic.co Work?</h2>
        <h3>The fundraising epidemic in a nutshell:</h3>
      </header>
      <div class="row">
        <div class="col-sm-3">
          <img src="../static/img/benefits-2.png" alt="benefits of product">
          <h4>We Design</h4>
          <p>We work together to create a logo, designs, and products that represent your channel and are instantly recognizable.</p>
          <span class="arrow-icon">&nbsp;</span>
        </div>
        <div class="col-sm-3">
          <img src="../static/img/hand.png" alt="benefits of product">
          <h4>You Pick</h4>
          <p>Pick the designed products, list them in your Fandemic.co shopping page and set a minimum order requirement.</p>
          <span class="arrow-icon">&nbsp;</span>
        </div>
        <div class="col-sm-3">
          <img src="../static/img/benefits-4.png" alt="benefits of product">
          <h4>You Promote</h4>
          <p>Share the Fandemic fundraising campaign to your fans in order to meet the minimum order requirement. </p>
          <span class="arrow-icon">&nbsp;</span>
        </div>
        <div class="col-sm-3">
          <img src="../static/img/benefits-3.png" alt="benefits of product">
          <h4>We Ship</h4>
          <p>Once the minimum order is met, the Fandemic team will begin shipping off to your eager fans. </p>
        </div>
      </div>
    </div>
  </section>

  <!--benefits end-->

  <!--Features-->
  <section id="features">
    <div class="features section-spacing">
      <div class="container">

        <!--feature 1-->

        <div class="row" style="padding-right:15%">
          <div class="col-md-7 col-md-push-5 text-center">
            <img src="../static/img/feature-1.png" alt="feature"> </div>
          <div class="col-md-5 col-md-pull-7">
            <article>
              <h2>Product Design Consultation</h2>
              <p></p>
              <ul>
                <li>Schedule a free call with our design professionals</li>
                <li>Choose from the team's design options</li>
                <li>Select your plan and get started!</li>
              </ul>
            </article>
          </div>
        </div>

        <!--feature 1 end-->

        <!--feature 2-->
        <div class="row" style="padding-left:25%">
          <div class="col-md-7 text-center">
            <img src="../static/img/feature-2.png" alt="feature"> </div>
          <div class="col-md-5">
            <article>
              <h2>Product Store Interface</h2>
              <p></p>
              <ul>
                <li>Add products to your store</li>
                <li>Set a minimum order quantity</li>
                <li>Share links to your campaign page</li>
              </ul>
            </article>
          </div>
        </div>
        <!--feature 2 end-->

        <!--feature 3-->
        <div class="row" style="padding-right:15%">
          <div class="col-md-7 col-md-push-5 text-center">
            <img src="../static/img/feature-3.png" alt="feature"> </div>
          <div class="col-md-5 col-md-pull-7">
            <article>
              <h2>Campaign Dashboard Monitoring</h2>
              <p></p>
              <ul>
                <li>Monitor fan traffic and watch progress</li>
                <li>Promote, promote, promote!</li>
                <li>If it succeeds, we will ship the products to your fans!</li>
              </ul>
            </article>
          </div>
        </div>
        <!--feature 3 end-->
      </div>
    </div>
  </section>

  <!--Features end-->


  <!--Tour-->

  <section class="cta-section section-spacing text-center">
      <div class="container">
        <header class="section-header">
          <h2>Try Fandemic Today!</h2>
          <h3>There is
            <strong>no inventory</strong> and
            <strong>no stocking</strong>. If your campaign fails, nothing happens. There is virtually no risk!</h3>
        </header>
        <div class="row">
          <div class="col-md-12"> <a href="" class="btn">ACTIVATE STORE</a>
            <p>Have a question? <a href="mailto:ethan@fandemic.co"> Shoot us an email </a></p>
          </div>
        </div>
      </div>
    </section>

  <!--Tour end-->

  <!--reviews-->

  <section class="reviews section-spacing" id="reviews">
    <div class="container">
      <header class="section-header text-center">
        <h2>People that have used Fandemic</h2>
        <!-- <h3>What our users are saying about the product</h3> -->
      </header>
      <div class="row">
        <div class="col-sm-4">

          <!--review 1-->

          <figure class="text-center">
            <img src="../static/img/review-1.jpg" alt="face" class="img-circle"> </figure>
          <blockquote>
            <p>The Fandemic team was professional and courteous throughout the product design process. They are affordable and convenient, we built an awesome product for six thousand of my followers. </p>
            <cite>— Jen Seidel, CEO Jen Seidel Body Painting</cite>
          </blockquote>

          <!--review 1 end-->

        </div>
        <div class="col-sm-4">

          <!--review 2-->

          <figure class="text-center">
            <img src="../static/img/review-2.jpg" alt="face" class="img-circle"> </figure>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, repellat, voluptatem eveniet et illum itaque excepturi repudiandae officiis quibusdam deleniti. </p>
            <cite>— John Doe, CEO Abc Organisation</cite>
          </blockquote>

          <!--review 2 end-->

        </div>
        <div class="col-sm-4">

          <!--review 3-->

          <figure class="text-center">
            <img src="../static/img/review-3.jpg" alt="face" class="img-circle"> </figure>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, repellat, voluptatem eveniet et illum itaque excepturi repudiandae officiis quibusdam deleniti. </p>
            <cite>— Michael Doe, CEO Xyz Organisation</cite>
          </blockquote>

          <!--review 3 end-->

        </div>
      </div>
    </div>
  </section>

  <!--reviews end-->

  <!--Pricing-->

  <section class="pricing section-spacing text-center" id="pricing">
    <div class="container">
      <header class="section-header">
        <h2>The different Fandemic.co Plans</h2>
        <h3>Free signup. No credit card required.</h3>
      </header>
      <div class="row">
        <div class="col-md-12">

          <!--PRICE TABLE-->
          <div class="plan">
            <div class="plan-details">
              <div class="header">
                <h4>BASIC</h4>
              </div>
              <div class="price">
                <span class="currency">$</span>
                <span class="price-amount">0</span>
              </div>
              <ul class="plan-features">
                <li>
                  <span>Logo</span> Design<i class="fa fa-times"></i>
                </li>
                <li>
                  <span>Free</span> Samples<i class="fa fa-times"></i>
                </li>
                <li>
                  <span>Product</span> Consultation<i class="fa fa-check"></i>
                </li>
                <li>
                  <span>24/7</span> Support<i class="fa fa-check"></i>
                </li>
                <li>
                  <span>5%</span> Per Order Taken<i class="fa fa-check"></i>
                </li>
              </ul>
            </div>
            <div class="buy-button"><a class="btn" href="#">SIGNUP</a>
              <p>Most Popular!</p>
            </div>
          </div>
          <!--PRICE TABLE END-->

          <!--PRICE TABLE-->
          <div class="plan">
            <div class="plan-details">
              <div class="header">
                <h4>SUPERSTAR</h4>
              </div>
              <div class="price">
                <span class="currency">$</span>
                <span class="price-amount">400</span>
              </div>
              <ul class="plan-features">
                <li>
                  <span>Logo</span> Design<i class="fa fa-check"></i>
                </li>
                <li>
                  <span>Free</span> Samples<i class="fa fa-check"></i>
                </li>
                <li>
                  <span>Product</span> Consultation<i class="fa fa-check"></i>
                </li>
                <li>
                  <span>24/7</span> Support<i class="fa fa-check"></i>
                </li>
                <li>
                  <span>2%</span> Per Order Taken<i class="fa fa-check"></i>
                </li>
              </ul>
            </div>
            <div class="buy-button"><a class="btn" href="#">SIGNUP</a>
              <p>Limited Slots Available!</p>
            </div>
          </div>
          <!--PRICE TABLE END-->

        </div>
      </div>
    </div>
  </section>

  <!--Pricing end-->

  <!--cta section-->

  <section class="cta-section section-spacing text-center">
    <div class="container">
      <header class="section-header">
        <h2>Fandemic Free Trial!</h2>
        <h3>There is
          <strong>no cost</strong> and
          <strong>no risk</strong>. Only pay if you need a design, <strong>free</strong> otherwise!</h3>
      </header>
      <div class="row">
        <div class="col-md-12"> <a href="" class="btn">ACTIVATE STORE</a>
          <p>Have a question? <a href="mailto:ethan@fandemic.co"> Shoot us an email </a></p>
        </div>
      </div>
    </div>
  </section>

  <!--cta section end-->

  <!--Team-->

  <section class="team section-spacing text-center" id="team">
    <div class="container">
      <header class="section-header">
        <h2>Meet The Team</h2>
        <h3>Folks who created this awesome product</h3>
      </header>
      <div class="row">
        <div class="col-sm-6">
          <div class="team-details">
            <figure>
              <img src="../static/img/team-1.jpg" alt="Team Member">
              <figcaption>
                <div>
                  <p>A full stack software engineer and fitness model, Brandon is well-versed in web development best practices in order to create a sleek fundraising platform for you!
                    <p>

                      <!--social-->

                      <ul class="social">
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      </ul>

                      <!--social end-->

                </div>
              </figcaption>
            </figure>
            <div class="team-info">
              <h4>Brandon Walsh</h4>
              <h5>Software Guy</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="team-details">
            <figure>
              <img src="../static/img/team-2.jpg" alt="Team Member">
              <figcaption>
                <div>
                  <p>A systems engineer and management consultant, Ethan is experienced in supply chain management in order to ensure top notch quality products for you!</p>

                  <!--social-->

                  <ul class="social">
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  </ul>

                  <!--social end-->

                </div>
              </figcaption>
            </figure>
            <div class="team-info">
              <h4>Ethan Steininger</h4>
              <h5>Business Guy</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Team end-->

  <!--contact us end-->

  <!--sub-form-->
  <section class="sub-form section-spacing text-center">
    <div class="container">
      <header class="section-header">
        <h2>Subscribe To Our Newsletter</h2>
        <h3>Subscribe to get monthly products updates and exclusive offers </h3>
      </header>
      <div class="row">
        <div class="col-md-6 center-block col-sm-11">
          <form id="mc-form">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email Address" required id="mc-email">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">SUBSCRIBE <i class="fa fa-envelope"></i> </button>
              </span>
            </div>
            <label for="mc-email" id="mc-notification"></label>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--sub-form end-->

  <!--Featured on-->

  <section class="featured-on section-spacing text-center">
    <div class="container">
      <header class="section-header">
        <h2>Seen in:</h2>
      </header>
      <div class="row">
        <div class="col-md-12">
          <ul class="featured-sites">
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-1.png" alt="site">
              </a>
            </li>
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-2.png" alt="site">
              </a>
            </li>
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-3.png" alt="site">
              </a>
            </li>
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-4.png" alt="site">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>

{% include 'footer.html' %}


<script>
  $("a[href='#home']").click(function() {
    $("html, body").animate({
      scrollTop: 0
    }, "slow");
    return false;
  });
</script>

<!-- Localized -->

<!-- MODAL -->
<!-- <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title" id="myModalLabel">Get Started!</h2>
      <p>Fill out the form below and we will contact you within 24 hours</p>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
            <input type="text" class="form-control" placeholder="Phone" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
            <input type="text" class="form-control" placeholder="Youtube Channel URL" aria-describedby="sizing-addon1">
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
            <input type="text" class="form-control" placeholder="Instagram Username" aria-describedby="sizing-addon1">
          </div>
          <br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-official"></i></span>
            <input type="text" class="form-control" placeholder="Facebook Fan Page URL" aria-describedby="sizing-addon1">
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-primary center">Submit</button>

  </div>
</div> -->
