<!DOCTYPE html>

<html>

{% include 'header.html' %}

<style>
.team-details p{
  color:#4c4c4c;
}
.team-details img{
  width: 10em;
  border-radius: 5em;
}

</style>
<body style="background-color:#F1F1F1;">

  <!--hero section-->

  <header class="hero-section">

    <!--navigation-->
    {% include 'header-nav.html' %}

    <!--navigation end-->

    <!--welcome message-->

    <section class="container text-center welcome-message">
      <div class="row">
        <div class="col-md-12">
          <h1 style="font-weight:500;">Design Your Own Beauty Kit</h1>

          <h2>Design | Promote | Earn </h2>
          <!-- <div class="play-btn">
            <a href="https://vimeo.com/160944827" class="play litebox-hero">
              <img src="../static/img/play-btn.png" alt="play">
            </a>
          </div> -->
          <div class="cta-btn" style="margin-top:2em">
            <a href="/builder" class="btn" style="font-size:22px;">Start Designing</a>
            <p style="padding-bottom:2em"><span class="total-number-1">0</span> kits already made!</p>
          </div>
        </div>
      </div>
    </section>

    <!--welcome message end-->

  </header>

  <!--hero section end-->




  <!--benefits -->

  <section class="benefits section-spacing text-center" id="works" style="background-color:white;">
    <div class="container">
      <header class="section-header">
        <h2>How Does <img height="25px" style="margin-top:14px;opacity:.8;height:35px;" src="../static/img/logo-pink.png"> Work?</h2>
        <h3 style="color:#1d1d1d;">The Easiest Way to Launch Your Own Makeup Line</h3>
      </header>
      <div class="row">
        <div class="col-sm-4">
          <a href="/builder/beauty">
          <img width="120px" src="../static/img/packing.svg" alt="benefits of product">
          <h4>Design Beauty Kit</h4>
          <!--<p>Select Items, create a brand, and design packaging!</p>-->
          <span class="arrow-icon">&nbsp;</span>
         </a>
        </div>
        <div class="col-sm-4">
          <img width="120px" src="../static/img/megaphone.svg" alt="benefits of product">
          <h4>Promote Campaign</h4>
          <!--<p>You have 7 days to <strong>pre-sell</strong> your kits, if you sell more than 25 you get paid!-->
          <span class="arrow-icon">&nbsp;</span>
        </div>
        <div class="col-sm-4">
          <img width="120px" src="../static/img/get-money.svg" alt="benefits of product">
          <h4>Make Money</h4>
          <!--<p></p>-->

          <!--<span class="arrow-icon">&nbsp;</span>-->
        </div>
        <!-- <div class="col-sm-3">
          <img src="../static/img/benefits-3.png" alt="benefits of product">
          <h4>Get Paid and Grow</h4>
          <p>We produce and ship the boxes to your eager fans, they show off their boxes, and you get paid! </p>
        </div> -->
      </div>
    </div>
  </section>

  <!--benefits end-->

  <!--Features w/ examples start
  <div class="fluid-container">
    <div class="row">

      <div class="col-md-6">
        <div style="padding:80px;font-size:30px">
          <h1 style="color:#4D9BD3;">Step 1: We Design</h1>
          <ul>
            <li><strong>Free</strong> Designers</li>
            <li>1000's of product choices</li>
            <li>Custom Branding Services</li>
            <li>Get a sample in 2 days!</li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <img src="../static/img/rain-banner.png">
      </div>

    </div>
  </div>
   -->


   <header class="campaigns-header">
              <h2 style="font-weight:300;color:#adadad;"> <i class="fa fa-fire" aria-hidden="true"></i> Trending Campaigns</h2>
  </header>

   <div class="gallery">


     {% for star in stars %}

     <div class="product-photo" style="padding:20px;position:relative;">

       <a href="/{{star.id}}" target="_blank">
       <div class="thumbnail" style="width:100%;height:100%;">
       <div style="width:100%;height:30%;background-image:url('/static/img/live/{{star.id}}/bg.jpg');">

       </div>
         <img src="/static/img/live/{{star.id}}/logo.png" style="height:30px;position:absolute;bottom:5px;left:5px;opacity:.6;">
         <img width="200px" height="200px" src="/static/img/live/{{star.id}}/profile.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">


         <img  src="/static/img/live/{{star.id}}/box.png" style="width:150px;height:150px;position:absolute;bottom:-30px;right:0px;">

         {% if star.campaigns.0.status != 'live' %}
         <div style="position:absolute;top:5px;right:5px;font-size:12px;color:#8282dd;font-weight:800;">{{star.campaigns.0.status}}</div>
         {% else %}
         <div style="position:absolute;top:5px;right:5px;font-size:12px;color:green;font-weight:800;">{{star.campaigns.0.status}}</div>
         {% endif %}


           <p style="width: 200px;position:absolute;top:70px;left:130px;font-size:14px;font-weight:800;color:#6d6d6d;text-overflow: ellipsis;
           white-space: nowrap;">{{star.name}}
             <br><span style="font-weight:400;font-size:14px; overflow: hidden;">{{star.campaigns.0.box_name}}</span>
             <br><span style="color:#25CB68;">{{star.campaigns.0.num_orders}} orders</span></p>


       </div>
     </a>

     </div>

     {% endfor %}
 </div>
 <!--<p class="store-disclaimer" style="text-align: center; margin-top: 10px;font-size: 12px;">Logos are each star's trademark and property.</p>-->







<!--
  <section class="cta-section section-spacing text-center">
    <div class="container">
      <header class="section-header">
        <h2>We do all the hard stuff!</h2>
        <h3 style="font-weight:600;">Manufacturing, design, e-commerce, distribution, and customer service. <br><br>All you do is promote your box!</h3>
      </header>
      <div class="row">
        <div class="col-md-12"> <a href="/builder" class="btn">Build a Box</a>
          <p>Have a question? <a href="mailto:sarah@fandemic.co"> Shoot us an email </a></p>
        </div>
      </div>
    </div>
  </section> -->



  <!--Features end-->

  <!--reviews-->



  <!--

  <section class="team section-spacing text-center" id="team">
    <div class="container">
      <header class="section-header">
        <h2>Meet The Team</h2>
        <h3>The folks behind the Fandemic experience:</h3>
      </header>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-details">
            <figure>
              <img src="../static/img/brandon.png" alt="Team Member">
            </figure>
            <div class="team-info">
              <h4>Brandon Walsh</h4>
              <h5>Tech Lord</h5>
              <hr>
              <p>A web development expert, Brandon is an expert in design and will make a sleek store for you!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-details">
            <figure>
              <img src="../static/img/sarah.png" alt="Team Member">

            </figure>
            <div class="team-info">
              <h4>Sarah Sharpe</h4>
              <h5>Marketing Guru</h5>
              <hr>
              <p>A marketing genius, Sarah is on the ball with all of Fandemic's communication to keep you informed!</p>
            </div>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-details">
            <figure>
              <img src="../static/img/ethan.png" alt="Team Member">
            </figure>
            <div class="team-info">
              <h4>Ethan Steininger</h4>
              <h5>Supply Expert</h5>
              <hr>
              <p>A business-oriented guy, Ethan handles the merchandise in order to ensure top notch quality products for you!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  -->

  <!--contact us end-->



  <!--Featured on-->

  <!-- <section class="featured-on section-spacing text-center">
    <div class="container">
      <header class="section-header">
        <h2>Featured in:</h2>
      </header>
      <div class="row">
        <div class="col-md-12">
          <ul class="featured-sites">
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-1.png" alt="site">
              </a>
            </li>
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-2.png" alt="site">
              </a>
            </li>
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-3.png" alt="site">
              </a>
            </li>
            <li>
              <a href="" title="Site Name">
                <img src="../static/img/site-4.png" alt="site">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
</body>

{% include 'howfandemicworks-modal.html' %}

{% include 'footer.html' %}


<script>

/* ==========================================================================
   Number animation
   ========================================================================== */

$('.welcome-message').waypoint(function() {

  var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');

  $('.total-number-1').animateNumber({
    number: {{storeCount}}+1241, //change value here
    numberStep: comma_separator_number_step
  }, 6000);

}, {
  offset: '80%'

});

  $("a[href='#home']").click(function() {
    $("html, body").animate({
      scrollTop: 0
    }, "slow");
    return false;
  });

$(document).ready(function() {
    if (window.location.href.indexOf("#video") != -1){
       $('.litebox-hero').click()
     }

var autoplaySlider = $('#content-slider').lightSlider({
    auto:false,
    loop:true,
    pauseOnHover: true,
    onBeforeSlide: function (el) {
        $('#current').text(el.getCurrentSlideCount());
    }
});
});



</script>
