<!DOCTYPE html>

<html>

{% include 'header.html' %}
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Caveat|Source+Sans+Pro|Montserrat|Sue+Ellen+Francisco|Josefin+Sans' rel='stylesheet' type='text/css'>


<style>
.team-details p{
  color:#4c4c4c;
}
.team-details img{
  width: 10em;
  border-radius: 5em;
}
[data-words]{
  vertical-align: top;
  position: static;
}
[data-words] > span{
  position: absolute;
  color: #fff;
}
.benefits p{
  padding-left: 3em;
  padding-right: 3em;
}
</style>
<body style="background-color:#fff;">

  <!--hero section-->

  <header class="hero-section">

    <!--navigation-->
    {% include 'header-nav.html' %}

    <!--navigation end-->

    <!--welcome message-->

    <section class="container text-center welcome-message" style="position:relative;">


      <div class="row">

        <div class="col-md-12">

          <!--explainer paragraph -->
          <section class="container text-block" >
          <span style="font-family:willow;font-size:60px;font-weight:400;line-height: 30px;position:relative;bottom: 10px;">Hey!</span> We're Fandemic, we help influencers promote beauty products they love,
          and make them a little extra cash along the way. It's simple -- you add your favorite
          products to your online store and share it with your followers across the web as we take care of the rest.
          You will take a portion of each sale and your followers will thank you for
          reccomending amazing products to them!

          </section>


          <section class="container" style="width:100%;text-align:left;color:#727272;font-size:20px;padding:40px 0px;margin-top:20px;">

            <div class="row">
              <div class="col-md-6">

                <a href="/influencers">
                  <div class="block influencer-block">
                    <div class="block-title">
                      i'm an Influencer
                    </div>
                  </div>
                </a>

              </div>

              <a href="/brands">
                <div class="col-md-6">
                  <div class="block brand-block">
                    <div class="block-title">
                      I'm a Brand
                    </div>
                  </div>
                </div>
              </a>

          </section>




        </div>
      </div>


    </section>


    <!--welcome message end-->

  </header>

  <!--hero section end-->




  <!--benefits -->
<!--
  <section class="benefits section-spacing text-center" id="works" style="background-color:white;">
    <div class="container">
      <header class="section-header">
        <h1 style="font-size:42px;font-weight:400;">Are you an influencer?</h1>
        <h3 style="color:#1d1d1d;font-family: 'Josefin Sans', sans-serif !important;">Sell and review brands you'll love</h3>
      </header>
      <hr class="visible-xs">
      <div class="row">
        <div class="col-sm-4">
          <a data-category="Homepage" data-action="Create box button" data-label="Create your own box button" href="/get-started">
          <img width="120px" style="padding:20px;" src="../static/img/home/step1.svg" alt="benefits of product">
          <h4 style="font-size: 25px;font-family: 'Josefin Sans', sans-serif !important;font-weight:400;">Choose Products</h4>
          <p>Select products that interest you.</p>
          <span class="arrow-icon">&nbsp;</span>
         </a>
        </div>
        <hr class="visible-xs">
        <div class="col-sm-4">
          <img width="120px" style="padding:20px;" src="../static/img/home/step2_2.svg" alt="benefits of product">
          <h4 style="font-size: 25px;font-family: 'Josefin Sans', sans-serif !important;font-weight:400;">Review Products</h4>
          <p>Get a free product for review.</p>
          <span class="arrow-icon">&nbsp;</span>
        </div>
        <hr class="visible-xs">
        <div class="col-sm-4">
          <img width="120px" style="padding:20px;" src="../static/img/home/step3_3.svg" alt="benefits of product">
          <h4 style="font-size: 25px;font-family: 'Josefin Sans', sans-serif !important;font-weight:400;">Sell Products</h4>
          <p>Like the product? <br>Sell it your own Fandemic store!</p>

          <span class="arrow-icon">&nbsp;</span>
        </div>
      <div class="col-sm-3">
          <img src="../static/img/benefits-3.png" alt="benefits of product">
          <h4>Get Paid and Grow</h4>
          <p>We produce and ship the boxes to your eager fans, they show off their boxes, and you get paid! </p>
        </div>
      </div>
    </div>
  </section>
-->

  <!--benefits end-->

  <!--Features w/ examples start
  <div class="fluid-container">
    <div class="row">

      <div class="col-md-6">
        <div style="padding:80px;font-size:30px">
          <h1 style="color:#4D9BD3;">Step 1: We Design</h1>
          <ul>
            <li><strong>Free</strong> Designers</li>
            <li>1000's of product choices</li>
            <li>Custom Branding Services</li>
            <li>Get a sample in 2 days!</li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <img src="../static/img/rain-banner.png">
      </div>

    </div>
  </div>
   -->


   <header class="campaigns-header" style="margin-top:270px;">
     <hr>
              <h2 style="font-weight:300;color:#717171;">Who Uses Fandemic?</h2>
              <br>

  </header>

   <div class="users container" style="margin-bottom:60px;">

     <div class="row">

       <div class="col-md-2 col-xs-6">
         <a href="/lifeoflanie">
           <img src="/static/img/home/lanie.jpg" style="width:100%">
        </a>
       </div>

       <div class="col-md-2 col-xs-6">
         <a href="/caci-twins">
          <img src="/static/img/home/cacitwins.jpg" style="width:100%">
         </a>
      </div>

      <div class="col-md-2 col-xs-6">
        <a href="/sarah-victor-beauty">
          <img src="/static/img/home/sarahvictor.jpg" style="width:100%">
        </a>
      </div>

      <div class="col-md-2 col-xs-6">
        <a href="/brunatxavier">
          <img src="/static/img/home/bruna2.jpg" style="width:100%">
        </a>
      </div>

        <div class="col-md-2 col-xs-6">
          <a href="/emglamguru">
            <img src="/static/img/home/emily.jpg" style="width:100%">
          </a>
        </div>

        <div class="col-md-2 col-xs-6">
          <a href="/glaminaa">
            <img src="/static/img/home/glaminaa.jpg" style="width:100%">
          </a>
        </div>



      </div>
   </div>



<!--
   <header class="campaigns-header" style="">
              <h2 style="font-weight:300;color:#717171;">Fandemic's Partners</h2>
              <hr>
  </header>

   <div class="users container" style="margin-bottom:60px;">

     <div class="row">

       <div class="col-md-2 col-xs-6">
         <a href="/lifeoflanie">
           <img src="/static/img/home/lanie.jpg" style="width:100%">
        </a>
       </div>

       <div class="col-md-2 col-xs-6">
         <a href="/caci-twins">
          <img src="/static/img/home/cacitwins.jpg" style="width:100%">
         </a>
      </div>

      <div class="col-md-2 col-xs-6">
        <a href="/sarah-victor-beauty">
          <img src="/static/img/home/sarahvictor.jpg" style="width:100%">
        </a>
      </div>

      <div class="col-md-2 col-xs-6">
        <a href="/brunatxavier">
          <img src="/static/img/home/bruna2.jpg" style="width:100%">
        </a>
      </div>

        <div class="col-md-2 col-xs-6">
          <a href="/emglamguru">
            <img src="/static/img/home/emily.jpg" style="width:100%">
          </a>
        </div>

        <div class="col-md-2 col-xs-6">
          <a href="/glaminaa">
            <img src="/static/img/home/glaminaa.jpg" style="width:100%">
          </a>
        </div>



      </div>
   </div>
 -->



     <!--
     {% for star in stars %}

     <div class="product-photo" style="padding:20px;position:relative;">

       <a href="/{{star.id}}" target="_blank">
       <div class="thumbnail" style="width:100%;height:100%;">
       <div style="width:100%;height:30%;background-image:url('https://res.cloudinary.com/fandemic/stars/{{star.id}}/bg.jpg');">

       </div>

         {% if star.image %}

           {% if star.image.logo %}
           <img src="https://res.cloudinary.com/fandemic/w_100,c_scale/stars/{{star.id}}/logo.png" style="height:30px;position:absolute;bottom:5px;left:5px;opacity:.6;">
           {% endif %}

           {% if star.image.profile %}
           <img width="200px" height="200px" src="https://res.cloudinary.com/fandemic/w_150,c_scale/stars/{{star.id}}/profile.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
           {% else %}
           <img width="200px" height="200px" src="/static/img/user.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
           {% endif %}



        {% else %}
        <img width="200px" height="200px" src="/static/img/user.png" style="width:100px;height:100px;position:absolute;top:15px;left:15px;border-radius:50%;">
        {% endif %}

         {% if star.campaigns.0.status != 'live' %}
         <div style="position:absolute;top:5px;right:5px;font-size:12px;color:#8282dd;font-weight:800;">{{star.campaigns.0.status}}</div>
         {% else %}
         <div style="position:absolute;top:5px;right:5px;font-size:12px;color:green;font-weight:800;">{{star.campaigns.0.status}}</div>
         {% endif %}


           <p style="width: 200px;position:absolute;top:70px;left:130px;font-size:14px;font-weight:800;color:#6d6d6d;text-overflow: ellipsis;
           white-space: nowrap;">{{star.name}}
             <br><span style="font-weight:400;font-size:14px; overflow: hidden;">{{star.campaigns.0.box_name}}</span>
             <br><span style="color:#25CB68;">{{star.campaigns.0.num_orders}} orders</span></p>


       </div>
     </a>

     </div>

     {% endfor %}
   -->
 </div>



</body>

{% include 'howfandemicworks-modal.html' %}

{% include 'footer.html' %}



<script>

/* ==========================================================================
   Number animation
   ========================================================================== */

$('.welcome-message').waypoint(function() {

  var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');

  $('.total-number-1').animateNumber({
    number: {{storeCount}}+1241, //change value here
    numberStep: comma_separator_number_step
  }, 6000);

}, {
  offset: '80%'

});

  $("a[href='#home']").click(function() {
    $("html, body").animate({
      scrollTop: 0
    }, "slow");
    return false;
  });

$(document).ready(function() {
    if (window.location.href.indexOf("#video") != -1){
       $('.litebox-hero').click()
     }

var autoplaySlider = $('#content-slider').lightSlider({
    auto:false,
    loop:true,
    pauseOnHover: true,
    onBeforeSlide: function (el) {
        $('#current').text(el.getCurrentSlideCount());
    }
});
});


$(function() { // DOM ready

  $("[data-words]").attr("data-words", function(i, d){
    var $self  = $(this),
        $words = d.split("|"),
        tot    = $words.length,
        c      = 0;

    // CREATE SPANS INSIDE SPAN
    for(var i=0; i<tot; i++) $self.append($('<span/>',{text:$words[i]}));

    // COLLECT WORDS AND HIDE
    $words = $self.find("span").hide();

    // ANIMATE AND LOOP
    (function loop(){
      $self.animate({ width: $words.eq( c ).width() });
      $words.stop().fadeOut().eq(c).fadeIn().delay(1000).show(0, loop);
      c = ++c % tot;
    }());

  });
});


$('.block').hover(function () {
    $(this).addClass('hover');
}, function () {
    $(this).removeClass('hover');
});

</script>
