<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="launch-store-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Complete Your Box!</h2>
      <p class="light" style="margin-bottom:0px">fill out the form below and receive a free store</p>
      <p class="light">you will also have the option to order a sample</p>
      <hr>
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input
              data-ga-click-event-category="Launch Store Modal" data-ga-click-event-action="Full Name" data-ga-click-event-label="Full Name"
              id="launch_fullname" name="name" type="text" class="form-control" placeholder="full name" ng-model="box.star.name" required/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input
              data-ga-click-event-category="Launch Store Modal" data-ga-click-event-action="Email" data-ga-click-event-label="Email"
              id="launch_email" name="email" type="email" class="form-control" placeholder="email" ng-model="box.star.email" required/>
            </div>
            <br>
            <!--
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="launch_phone" name="phone" type="tel" class="form-control" placeholder="phone" ng-model="box.star.phone" style="z-index:0 !important;" required/>
            </div>
          -->
          </div>
        </div>

        <button
        data-ga-click-event-category="Launch Store Modal" data-ga-click-event-action="Submit Store" data-ga-click-event-label="Submit Store"
        class="btn btn-primary btn-nav btn-beauty" style="width:100%;" id="launch-store-button" ng-click="launch_store()">
          <img id="loader" width="20px" src="/static/img/loader.gif"> Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="launch-store-modal-success">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2 class="modal-title"><img src="../static/img/success.svg" style="width:10%">Wonderful!</h2>
      <br>
      <p class="light"> You should receive an email that contains the next steps!</p>
      <br>
      <p>Your confirmation code is: <span ng-bind="box.confirmation_code"></span></p>

      <hr>
      <button data-dismiss="modal" class="btn btn-primary btn-submit" style="width" >Awesome!</button>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="sample-order-modal-success">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2 class="modal-title"><img src="../static/img/success.svg" style="width:10%"> Order Successful!</h2>
      <br>
      <p class="light"> You should receive confirmation email shortly!</p>
      <br>
      <p>Your confirmation code is: <span ng-bind="box.confirmation_code"></span></p>
      <br>
      <i>Questions? Please email <strong>sarah@fandemic.co</strong> :)</i>

      <hr>
      <button data-dismiss="modal" class="btn btn-primary btn-submit" style="width" >Awesome!</button>
    </div>
  </div>
</div>


<!-- Make JQuery toggle between contents of each modal -->

<script>
  /*$("#launch-store-button").click(function() {
    $('#launch-store-modal').modal('hide');
    $( "#conf-code" ).text(randomString(12));
    $('#launch-store-modal-success').modal('show');
  });
  $("#close-success-screen").click(function() {
    $('#launch-store-modal-success').modal('hide');
  });*/

</script>
