<!DOCTYPE html>
<html lang="en">

<title>Partners</title>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fandemic's Partners</title>
  <meta name="description" content="A fundraising platform for social media stars and organizations">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/landing-page/main.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
</head>

<style>
.brand-logo-image {
  width:12em;
}
h1.title{
  font-size:4em;
}
.row h3{
  color:#4c4c4c;
}
.join-us .btn{
  margin-top:2em;
}
.join-us .btn{
  background-color: #FDC844;
}
.nav a{
  font-weight: 600;
}

@media only screen
  and (max-device-width: 960px) {
    .container.partners{
      padding:5em;
    }
  }
</style>

<body>

  <!--navigation-->

  <div class="sticky-wrapper" style="height: 74px;">
    {% include 'header-nav.html' %}
  </div>


  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('../../static/img/partners.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Our Partners</h1>
            <hr class="small">
            <span class="subheading">Where do your products come from?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container partners">
    <div class="row">
      <h2 class="title">Customizable Beauty Products</h2>
      <h5>These products allow for customized branding and unlimited color selection</h5>
      <hr><br>
      <img class="brand-logo-image" src="../static/img/logo-pink.png">
      <p>
        Fandemic produces a non-branded line of high quality products and skincare which are sold without any company name or logo. Where appropriate, only the proper product name, ingredients, color name, and net weight,
        will be found on the products.
        <br>
        <br> All products manufactured by Fandemic are done so in accordance with Good Manufacturing Procedure (GMP). They follow the recommendations of the FDA and their facilities are set up in accordance with PCPC Quality Assurance Guidelines. All formulas
        are in compliance with global requirements. All of their products are not tested on animals, and they are a listed manufacturer on the PETA safe list.
      </p>
      <img class="brand-logo-image" src="../static/img/partners/monave.png">
      <p>
        Their manufacturing is done without any animal testing at all. The only animal by-product that is used ia beeswax, in their potted, and liquid gloss.
        95% of Monave products are actually vegan. Paper, glass, and plastics are recycled in their warehouses, and they ask that their customers do the same.
        They hire locally, live within walking distance of their warehouse in Baltimore, MD, and try to always source out local suppliers.
        They print on paper that has the highest recycled content available, and use low-watt light bulbs..
        <br><br>
        They provide a pleasant, clean and healthy working environment for their staff, as well as competitive pay. They are multi-cultural, and no one is ever mistreated or discriminated against.
      </p>
    </div>
</div>
<div class="container join-us" style="text-align:center; background-color: #4D9BD3;width: 100%;padding: 5em">
  <h1 style="color:white" class="title">Want to Join Us?</h1>
  <h3 style="color:white">Interested in including your products in the Stars' boxes?</h3>
  <a href="mailto:sarah@fandemic.co?=I want to be a Fandemic Manufacturer" class="btn">Inquire</a>

</div>

</body>

<script src="../static/js/jquery-1.12.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints.min.js"></script> -->
<script src="../static/js/landing-page/jquery.animateNumber.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints-sticky.min.js"></script> -->
<script src="../static/js/landing-page/retina.min.js"></script>
<script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="../static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/landing-page/main.js"></script>
<script src="../static/js/landing-page/lightslider.js"></script>

{% include 'footer.html' %}

</html>


<!--site-footer end-->


  {% include 'analytics.html' %}
