<!DOCTYPE html>
<html lang="en">

<title>Partners</title>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fandemic's Partners</title>
  <meta name="description" content="A fundraising platform for social media stars and organizations">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/landing-page/main.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
</head>

<style>
  .checking {
    width:20px;
    height:20px;
  }

  .input-group{
    padding-bottom:10px;
  }
  #partner-form .modal-content{
    /*height: 80vh;
    overflow-y: scroll;*/
  }
  .brand-logo-image {
    width: 12em;
  }

  h1.title {
    font-size: 4em;
  }

  h2.title {
    text-align: center;
    font-size: 41px;
  }

  .card-text {
    text-align: center;
  }
  h3.subtitle {
    text-align: center;
    padding-bottom: 1.2em;
    font-weight: 200;
    font-size: 21px;
    padding-left: 5em;
    padding-right: 5em;
  }

  .row h3 {
    color: #4c4c4c;
  }

  .join-us .btn {
    margin-top: 2em;
    font-size: 22px;
    font-weight: 400;
    background-color:#ca1488;
    border-radius:10em;
  }

  .nav a {
    font-weight: 600;
  }

  @media only screen and (max-device-width: 960px) {
    .container.partners {
      padding: 5em;
    }
  }
</style>

<body>

  <!--navigation-->

  <div class="sticky-wrapper" style="height: 74px;">
    {% include 'header-nav.html' %}
  </div>


  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('../../static/img/partners.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Our Partners</h1>
            <hr class="small">
            <span class="subheading">Want to join the Fandemic revolution?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container partners">
    <div class="row">
      <h2 class="title">We will handle the...</h2>
      <div class="col-md-3">
        <div class="card">
          <p class="card-text" style="font-size: 26px;font-weight:600; ">Marketing</p>
          <img style="height: 180px; width: 100%; display: block;" src="../../static/img/partners/marketing.svg">
            <p class="card-text" style="text-align:left">Let us connect the most popular influencers with your brand which will increase your brand's sales and awareness.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <p class="card-text"style="font-size: 26px;font-weight:600; ">Technology</p>
          <img style="height: 180px; width: 100%; display: block;" src="../../static/img/partners/technology.svg">
            <p class="card-text" style="text-align:left">Our secure, intuitive, and simplistic interface will allow anybody to pick and choose which of your products to sell for you.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <p class="card-text"style="font-size: 26px;font-weight:600; ">Shipping</p>
          <img style="height: 180px; width: 100%; display: block;" src="../../static/img/partners/shipping.svg">
            <p class="card-text" style="text-align:left">We provide shipping labels for you to send the bulk orders to us once a campaign ends.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <p class="card-text"style="font-size: 26px;font-weight:600; ">Customer Service</p>
          <img style="height: 180px; width: 100%; display: block;" src="../../static/img/partners/customersupport.svg">
            <p class="card-text" style="text-align:left">If any customers experience any issues, we got it, and will only escalate to you as a last resort!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container join-us" style="text-align:center; background-color: #4D9BD3;width: 100%;padding: 3em;margin-top: 2em;">
    <h2 class="title" style="color:white" class="title">Let's get your brand in front of everyone!</h2>
    <a data-toggle="modal" data-target="#partner-form" class="btn">Try it out</a>

  </div>
  <div class="row">
    <h2 class="title">Existing Partners</h2>
    <div class="col-md-6" style="text-align: center;">
      <img class="brand-logo-image" src="../static/img/partners/logo-pink.png">
    </div>
    <div class="col-md-6" style="text-align: center;">
      <img class="brand-logo-image" src="../static/img/partners/monave.png">
    </div>
  </div>

</body>

<script src="../static/js/jquery-1.12.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints.min.js"></script> -->
<script src="../static/js/landing-page/jquery.animateNumber.min.js"></script>
<!-- <script src="../static/js/landing-page/waypoints-sticky.min.js"></script> -->
<script src="../static/js/landing-page/retina.min.js"></script>
<script src="../static/js/landing-page/jquery.magnific-popup.min.js"></script>
<script src="../static/js/landing-page/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/landing-page/main.js"></script>
<script src="../static/js/landing-page/lightslider.js"></script>

{% include 'footer.html' %}

</html>


<!--site-footer end-->


{% include 'analytics.html' %}

<div id="partner-form" class="modal fade">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="padding:30px">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">We need some info!</h2>
      <p class="light" style="margin-bottom:0px">Fill out the form below and someone on our team will reach out.</p>
      <hr>
      <div>
        <div class="row">
          <div class="col-md-12">
            <form id="partners-form" action="/partner-submit-form" method="post" role="form">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-building"></i></span>
                <input id="companyname" name="companyname" class="form-control" type="text" placeholder="Company Name">
              </div>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-desktop"></i></span>
                <input id="companywebsite" name="companywebsite" class="form-control" type="text" placeholder="Company Website">
              </div>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
                <input id="name" name="name" class="form-control" type="text" placeholder="Your Name">
              </div>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
                <input id="email" name="email" class="form-control" type="text" placeholder="Email">
              </div>
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone"></i></span>
                <input id="phone" name="phone" class="form-control" type="text" placeholder="Phone Number">
              </div>
          </form>

          </div>
        </div>
        <br>

        <button class="btn btn-primary btn-nav btn-beauty" style="width:100%;" id="partners-form-submit">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>


// this is the id of the form
$("#partners-form-submit").click(function(e) {
    $.ajax({
      url: "/partner-submit-form",
      data: $('form').serialize(),
      type: 'POST',
      success: function(response) {
          console.log(response);
          $('#partners-form-submit').replaceWith('<p style="text-align:center">Awesome! We will get back to you ASAP!</p>')
          // setTimeout(function() { $('#partner-form').modal('hide'); }, 2000);
      },
      error: function(error) {
          console.log(error);
          $('#partners-form-submit').replaceWith('<p style="text-align:center">Awesome! We will get back to you ASAP!</p>')
      }
    });

});

</script>
