<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{star.name}} Official Store</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
  <script src="../static/js/vibrant.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/shop.css">

  <meta property="og:image" content="{{star.image.profile}}">

</head>

<body>

<script>
var img = document.createElement('img');
img.crossOrigin = "Anonymous";
img.setAttribute('src', '{{star.image.profile}}')

img.addEventListener('load', function() {
  var vibrant = new Vibrant(img);
  var swatches = vibrant.swatches();
  console.log('Vibrant', swatches['Vibrant'].getHex());
  var btn = document.getElementById('activate-store');

  //$("#activate-store").css("background-color", swatches['DarkVibrant'].getHex());
  //$("#pay").css("background-color", swatches['DarkVibrant'].getHex());
  //$(".rangeslider__fill").css("background", swatches['DarkVibrant'].getHex());

//$("a").mouseover(function() {
//    $(this).css("color",swatches['DarkMuted'].getHex())
//}).mouseout(function() {
//    $(this).css("color",'#858585')
//});
//$(".btn-view").mouseover(function() {
//    $(this).css("background-color",swatches['LightVibrant'].getHex())
//}).mouseout(function() {
//    $(this).css("background-color",'transparent')
//});
//$(".btn-add").mouseover(function() {
//    $(this).css("background-color",swatches['LightVibrant'].getHex())
//}).mouseout(function() {
 //   $(this).css("background-color",'transparent')
//});

});
</script>

<style>
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>

<div id="loading"> Please Wait.. Order Processing...</div>
<script> $('#loading').hide();</script>

<!-- CART MENU -->
<div id="cart-menu">


  <div class="cart-and-total">
      <h2 class="title">Cart</h2>
       <span class="money" style="font-size:16px;">Total: $<span class="total-cost">0.00</span></span>
  </div>

  {% if star.stage == 'live' %}
  <div id="cart" class="cart" class="well" style="max-height:70%;overflow:auto;padding:5px;margin-top:20px;">
      <span id="alert-cart-empty"><br><br>The cart is empty!<br>Add a product to the cart by clicking
        <button class="btn btn-primary btn-add demo" role="button"><i class="fa fa-cart-plus"></i></button>
        <br>
                                    on a product card.</span>
  </div>
  {% else %}
  <br><br>
  This is a mock store. <br>The cart is currently inactive.
  {% endif %}

  <button class="btn btn-primary btn-checkout customButton" id="customButton"><i class="fa fa-check-circle-o"></i> Checkout</button>

</div>


<!-- SIDE PANEL -->
<div id="side-panel" class="side-panel">

  <button type="button" class="btn btn-primary btn-xs btn-toggle" data-toggle="offcanvas"><i class="fa fa-shopping-cart" style="font-size: 25px;"></i> $<span id="total-cost">0.00</span></button>
  <div class="profile-img-container">
    <img class="profile-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{star.image.profile}}">
  </div>

  {% if star.name != "Fandemic" %}
  <h2>{{star.name}}</h2>
  {% else %}
  <h2></h2><br>
  {% endif %}

  <div id="social-media">
    <a class="link" target="_blank" href="{{star.url.youtube}}"><i class="fa fa-youtube"></i></a>
    <a class="link" target="_blank" href="{{star.url.instagram}}"><i class="fa fa-instagram"></i></a>
    <a class="link" target="_blank" href="{{star.url.facebook}}"><i class="fa fa-facebook"></i></a>
    <a class="link" target="_blank" href="{{star.url.twitter}}"><i class="fa fa-twitter"></i></a>
  </div>



  {% if star.stage != 'live' %}
  <div style="padding:1px;">
    <hr>
    <p style="padding:10px;">Your Customized Fandemic store lets you sell custom fan boxes.</p>
    <h5>Charity Contributions
      <i class="fa fa-question-circle" aria-hidden="true" data-toggle="popover"
         data-content="A publicly visible indicator of how much of your profit has gone to Fandemic partnered charities."></i>
    </h5>
    <h4>$0.00</h4>

  </div>
  <button id="activate-store" href="#" data-toggle="modal" data-target="#activateStoreModal" class="btn btn-success btn-activate">Create Your Box</button>

  {% else %}
  <div style="padding: 0px 10px 0px 10px;">
  <strong>Welcome to {{star.name}}'s <br>Official Fandemic store!</strong>
  <hr>
  If you need help, click the "help" button at the top and the
  Fandemic team will help you right away!

{% if star.video_url != '' %}
{{star.name}} decided to make a video for you all! Check it out below:
  <!-- <span style="font-size:35px;color:#adadad;"><i class="fa fa-arrow-down"></i></span> -->
  </div>
  <a href="{{star.video_url}}">
    <i class="fa fa-play-circle button" aria-hidden="true" style="color:#7d7d7d; font-size: 3.5em; padding-top:.3em"></i>
  </a>

{% endif %}

  {% endif %}

  <div class="footer">
    <p class="copyright text-muted small">Copyright &copy; Fandemic. 2016. All Rights Reserved. &nbsp;
      <strong>Patent Pending</strong>
  </div>
</div>



<div class="controls">
  <!--<input style="float:left" type="text" class="form-control filtr-search" name="filtr-search" placeholder="Product Search" data-search>-->


    {% if star.image.logo is defined %}
    <img style="position:absolute;height:60px;top:5px;" src="../static/img/{{star.stage}}/{{star.id}}/logo.png">
    {% else %}
    <span style="position:absolute;height:60px;top:15px;font-size:25px;color:#c7c7c7;"> {{star.name}} Logo </span>
    {% endif %}

    {% if star.stage != 'live' %}
    <div style="text-align:center">
      <span style="text-align:center;color:#b7b7b7;">Questions on how to stock your store? Call 443-536-4110 to speak to a representative!</span>
    </div>
    {% else %}
    <div></div>
    {% endif %}
    <div class="btns">
      <a href="/" class="button"><i class="fa fa-home" aria-hidden="true"></i></a>
      <i data-toggle="modal" data-target="#customerServiceModal" class="fa fa-question button" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart cart-button button"><span class="num-items"></span></i>
    </div>


</div>


<!-- CENTER PANEL -->
<div id="center-panel" class="container-fluid">

  <!--<div class="row">-->


{% if star.stage != 'live' %}
 <!-- SAMPLE PRODUCTS VERSION INACTIVE -->
  {% set count = 1 %}
  {% for p in products %}
  {% if count == 1 %}<div class="row">
    {% endif %}
  <div class="col-md-6 col-lg-4"
       data-category="{% for id in p.subcatID %}{{id}}{% if not loop.last %}, {% endif %}{% endfor %}"
       data-sort="" style="padding: 25px;padding-top:10px;padding-bottom:10px;">

    <div class="thumbnail">


        <span class="product-id">{{p.sku}}</span>

        <div class="card-header">

          <img width="30px" class="shipping-icon" style="opacity:.5;" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/shipping-icon.png">
          <div class="progress">
            <span class="progress-text" style="color:#9d9d9d;">0 Items Remaining! - <a href="#" data-toggle="modal" data-target="#activateStoreModal">Create Your Box</a></span>
            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100" style="100%">

            </div>
          </div>
        </div>

        <img width="500px" height="500px"
             data-toggle="modal"
             data-target="#modal-{{p.sku}}"
             class="product-picture"
             src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}"
         >


        <div class="row variations">
            <div
              class="{% if p.variations.color is defined %}
                        col-md-6
                     {% else %}
                        col-md-12
                     {% endif %}
                        variation1">
              <div class="name"><span>Shirt Size</span></div>
              <select class="form-control">
                {% for s in p.variations.size %}
                <option>{{s}}</option>
                {% endfor %}
              </select>
            </div>
            {% if p.variations.color is defined %}
            <div class="col-md-6 variation2">
              <div class="name"><span>color</span></div>
              <select class="form-control">
                  {% for c in p.variations.color %}
                  <option>{{c.name}}</option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
        </div>

        <div class="caption">
          <h3 class="title">{{p.name}}</h3>
          <span class="money">$<span class="price">{{p.price}}</span></span>
          <!--<button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>-->
          <button class="btn btn-primary btn-view" role="button"
                  data-toggle="modal" data-target="#modal-{{p.sku}}"
                  style="right:20px;"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
    </div>
  </div>


  <!-- Product Description Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">{{p.name}} Description</h2>
        <hr>
        <div class="row">
        <div class="col-md-8">
          <img width="500px" height="500px"
               class="product-picture img-responsive"
               src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}"
               >
        </div>
        <div class="col-md-4">
          <div class="product-description">
              <p>
                {{p.description | safe}}
              </p>
          </div>


          {% for img in p.default_img %}
          <div class="product-sample-view">
            <img width="50px" height="50px"
                 src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                 data-src="../static/img/{{star.stage}}/{{star.id}}/{{img}}"
            >
          </div>
          {% endfor %}

        </div>
      </div>
      <button class="btn btn-lg btn-success" style="float:right;" data-toggle="modal" data-target="#activateStoreModal"  data-dismiss="modal">Create Your Box</button>
      </div>
    </div>
  </div>
  {% if count % 3 == 0 %}</div><div class="row">
  {% endif %}
  {% set count = count + 1 %}
  {% endfor %}

{% else %}
 <!-- ACTIVE STORE PRODUCTS VERSION -->
  {% for p in products %}
  <div class="col-md-6 col-lg-4"
       data-category="{% for id in p.subcatID %}{{id}}{% if not loop.last %}, {% endif %}{% endfor %}"
       data-sort="Create Your Own" style="padding: 25px;padding-top:10px;padding-bottom:10px;">

    <div class="thumbnail">


        <span class="product-id">{{p.sku}}</span>
        <div class="card-header">

          <img width="30px" class="shipping-icon" style="opacity:.5;" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/shipping-icon.png">
          <div class="progress">
            <span class="progress-text" style="color:#9d9d9d;">{{(p.minQty - p.currentQty)|round|int}} Boxes Remaining!</span>
            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{p.currentQty}}"
            aria-valuemin="0" aria-valuemax="{{p.minQty}}" style="width:{{p.currentQty + 1}}%">

            </div>
          </div>
        </div>
        <img width="500px" height="500px"
             data-toggle="modal" data-target="#modal-{{p.sku}}"
             class="product-picture"
             src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}">

        <div class="row variations">
            <div class="col-lg-12 variation1">
              <div class="name"><span>Shirt Size</span></div>
              <select class="form-control">
                {% for s in p.variations.size %}
                <option>{{s}}</option>
                {% endfor %}
              </select>
            </div>
        </div>

        <div class="caption">
          <h3 class="title">{{p.name}}</h3>
          <span class="money">$<span class="price">{{p.price}}</span></span>
          <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>
          <button class="btn btn-primary btn-view" role="button" data-toggle="modal" data-target="#modal-{{p.sku}}"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
    </div>
  </div>


  <!-- Product Description Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">{{p.name}} Description</h2>
        <hr>
        <div class="row">
        <div class="col-md-8">
          <img width="500px" height="500px"
               class="product-picture img-responsive"
               src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="../static/img/{{star.stage}}/{{star.id}}/{{p.default_img[0]}}"
               >
        </div>
        <div class="col-md-4">
          <div class="product-description">
              <h2>Description:</h2>
                <p>{{p.description | safe}}</p>
          </div>
          {% for v in p.variations.color %}
          {% for i in v.img %}
          <div class="product-sample-view">
            <img width="50px" height="50px"
                 src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                 data-src="../static/img/{{star.stage}}/{{star.id}}/{{i}}"
                 >
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}

</div>
</div>

  <!-- Deferred Image Loading for Products -->
  <script>
  function init() {
  var imgDefer = document.getElementsByTagName('img');
  for (var i=0; i<imgDefer.length; i++) {
  if(imgDefer[i].getAttribute('data-src')) {
  imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
  } } }
  window.onload = init;
  </script>

  </body>

</html>

<!-- STORE STOCKER MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="activateStoreModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="modal-header">
      <h3 class="modal-title" id="myModalLabel">Create Your Box!</h3>
      <p>Virtually stock your store with boxes! We handle orders, shipping, and customer service!</p>
    </div>

      <div class="row" style="padding:20px;">

        <div class="col-md-4">

          <h4>Box Items</h4>


          <!-- Generate item checklists and give attributes -->
          <div class="btn-group btn-group" data-toggle="buttons">
         {% for p in pricing %}
         {% if p.name != 'Box' %}
           <label class="btn active">
             <input type="checkbox" class="box-item"
                    value="{{p.name}}" checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span>{{p.name}}</span></label>
         {% endif %}
         {% endfor %}
         </div>

         <hr>

         <img class="img-responsive" src="../static/img/custom/zac-smith-fitness/box-male.png">
         <span class="money"
         style="font-size:15px; cursor:pointer;"
         aria-hidden="true"
         data-toggle="popover"
         data-html="true"
         data-content="Our suggested retail price for this specific box."
         >$<span id="box-retail-price">39.99</span> Retail Price</span>

        </div>

        <div class="col-md-8" style="padding-left:40px;">

          <div class="row" style="text-align:center;">
            <div class="col-md-12" >
              <div class="alert alert-info">
                <strong>Free professional design</strong> with every stocking order.
              </div>
          </div>

          </div>
          <br>
          <h4>Quantity</span>

          <span>x<span id="quantity"></span>
          </h4>
          <br>
          <input type="range" min="50" max="2000" step="50" value="1000" data-rangeslider>

          <br><br><br><br>

          <div style="text-align:center;color:#5d5d5d;">
            <h3 style="margin:0px">
              Pay <span class="money"
                        style=" border-bottom: 1px dashed #999;text-decoration: none;cursor:pointer"
                        aria-hidden="true"
                        data-toggle="popover"
                        data-html="true"
                        data-content="You pay this fee so Fandemic can manufacturer and stock the boxes for you.<br>
                                      We make no money from this fee and <strong>you get it back</strong> when the boxes sell!">
                                   $<span id="box-stocking-fee">15.00</span></span> per box
            </h3> <br>

            <h3 style="margin:0px;color:#e6e6e6;"><i class="fa fa-arrow-down" aria-hidden="true"></i></h3> <br>

            <h3 style="margin:0px">Get Paid <span class="money"
            style=" border-bottom: 1px dashed #999;text-decoration: none;cursor:pointer"
            aria-hidden="true"
            data-toggle="popover"
            data-html="true"
            data-content="How much money you will make from each and every box sale!<br>
                          Fandemic only takes a small $5 fee from every box, this helps us keep the lights on!">
            $<span id="box-revenue-per-item">20.00</span></span> per sale</h3>

            <br>

            <h3 style="margin:0px;color:#e6e6e6;"><i class="fa fa-arrow-down" aria-hidden="true"></i></h3> <br>

            <h3 style="margin:0px">Make <span class="money"
            style=" border-bottom: 1px dashed #999;text-decoration: none;cursor:pointer"
            aria-hidden="true"
            data-toggle="popover"
            data-html="true"
            data-content="Total profit once all boxes are sold. This is pure profit, and does not include the reimbursed stocking fee.">
            $<span id="stocking-fee">20.00</span></span> in total profit!</h3>

          </div>


        </div>

      </div>

      <div class="modal-footer">
        <p style="float:left;"><strong>Questions?</strong> Check out the <a href="../faq">FAQ</a> or Call <a href="tel:443-536-4110">443-536-4110</a> for Customer Service.</p>
        <button id="pay" data-dismiss="modal" class="btn btn-success payStockingButton">Next</button>
      </div>


    </div>
  </div>
</div>

<!-- Customer Service Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="customerServiceModal">
  <div class="modal-dialog modal-lg">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    <div class="modal-content" style="overflow:auto">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Customer Service</h2><br>
      <p>Fandemic manages {{star.name}}'s official store<br>
         If you have any questions or issues with the platform please use the tools below</p>
      <br>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <!-- <li role="presentation" class="active"><a href="#howitworks" aria-controls="howitworks" role="tab" data-toggle="tab">How It Works</a></li> -->
          <li role="presentation" class="active"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">FAQ</a></li>
          <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
          <li role="presentation"><a href="#sizing" aria-controls="sizing" role="tab" data-toggle="tab">Clothing Measurements</a></li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- <div role="tabpanel" class="tab-pane fade in active" id="howitworks">
          <div class="row">


            <div class="col-md-5">
              <div class="thumbnail">
                <span class="product-id">hoodie-2</span>
                <div class="card-header">
                  <span class="hours-remaining"><i class="fa fa-clock-o"></i> 14 days</span>
                  <img width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="40" style="width:50%">
                      <span class="progress-text">20 Orders Needed!</span>
                    </div>
                  </div>
                </div>
                <img width="500px" height="500px" class="product-picture" src="../static/img/products/hoodie-2/hoodie-2.png" alt="...">
                <div class="caption">
                  <h3 class="title">Fitness Hoodie</h3>
                  <span class="money">$<span class="price">39.99</span></span>

                </div>
                <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>
              </div>
            </div>

            <div class="col-md-7" style="text-align:left;">
              <p><i class="fa fa-arrow-left"></i> This is a <strong>product card</strong></p>

              <br>
              <div class="well">
                <p>The <strong>timer</strong> shows you how long the product is on sale
                </p>
                <span style="color:red;"><i class="fa fa-clock-o"></i> 14 days</span>
              </div>

              <br>
              <div class="well">
                <p>The <strong>shipping bar</strong> shows you how many orders are needed
                   before the product ships
                </p>
                 <div class="progress" style="width:70%;opacity:1;">
                   <img style="top:0px;right:11px;" width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
                   <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="40" style="width:50%">
                     <span class="progress-text">20 Orders Needed!</span>
                   </div>
                 </div>
              </div>
            </div>
          </div>
        </div> -->

        <div role="tabpanel" class="tab-pane fade in active" id="faq">
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                      <hr>
                      <h2>Store</h2>
                            <div class="panel-group" id="accordion-cat-1">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                            <h4 class="panel-title">
                                                What products are available for my box?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          You may add any of the products on your store to your customized Fandemic Box.
                                        </div>
                                </div>
                            </div>
                          </div>
                          <div class="panel-group" id="accordion-cat-15">
                              <div class="panel panel-default panel-faq">
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#accordion-cat-15" href="#faq-cat-15-sub-1">
                                          <h4 class="panel-title">
                                              What if I only want one item in the store?
                                              <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                          </h4>
                                      </a>
                                  </div>
                                  <div id="faq-cat-15-sub-1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        That is absolutely fine! you can select any items you want in the "Stock Store" wizard.
                                      </div>
                              </div>
                          </div>
                        </div>
                            <div class="panel-group" id="accordion-cat-2">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                            <h4 class="panel-title">
                                              What if I already have a store?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Contact our <a href="mailto:sarah@fandemic.co">support staff</a> and we will work on integrating your Fandemic store and items with your current store seamlessly!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-3">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                                            <h4 class="panel-title">
                                              How do I know you are not a scam?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Check out our <a href="/blog">Blog</a> to see what previous customers that we have worked with have to say about us!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-4">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1">
                                            <h4 class="panel-title">
                                              I want to see the items for myself, how do I do this?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Our team will send one custom box to you, free of charge when you order so that you can show off and promote the box yourself.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-5">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1">
                                            <h4 class="panel-title">
                                              Where do you get your products from?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Our team has interviewed and visited a number of manufacturers across the entire world and have found a handful high quality factories to partner with.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-13">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-13" href="#faq-cat-13-sub-1">
                                            <h4 class="panel-title">
                                              Who have you worked with in the past?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-13-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Check out our <a href="/blog">blog</a> to read some case studies on other stars that we have worked with in the past.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-17">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-17" href="#faq-cat-17-sub-1">
                                            <h4 class="panel-title">
                                              This seems too easy, what do I have to do ??
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-17-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          All you do is continue producing great content for your fans! We handle the design, production, shipping, customer service, and technology!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <hr>
                        <h2>Shipping</h2>
                        <div class="panel-group" id="accordion-cat-6">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-1">
                                        <h4 class="panel-title">
                                          How long does shipping take?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-6-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      It really varies on your location, but shipping could range anywhere from 5-7 business days.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion-cat-7">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-1">
                                        <h4 class="panel-title">
                                          Where do you ship to?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-7-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      We can ship anywhere! However, shipping cost will vary based on location, to be determined at time of checkout.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2>Profits</h2>
                        <div class="panel-group" id="accordion-cat-8">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-1">
                                        <h4 class="panel-title">
                                          What are your profit rates? How about mine?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-8-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      We want to be as transparent as possible, and are happy to share this information with you!
                                      <br>
                                      The Fandemic team orders the items that you select for your box from our trusted suppliers all over the world.
                                      <br>
                                      The price of these items varies based on how many boxes you want (the more you order the higher your profit - this is reflected in your box creation wizard in the store).
                                      <br>
                                      Our team then takes $5 from each order, a fixed fee that allows us to continue providing great service to you!
                                      <br>
                                      Happy to answer any other questions regarding this, please <a href="mailto:sarah@fandemic.co">email us.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion-cat-9">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-9" href="#faq-cat-9-sub-1">
                                        <h4 class="panel-title">
                                          Does this cost any money?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-9-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      In order to allow your fans to receive the items instantly, we are working with
                                      a distribution center to ship the items immediately as they are ordered.
                                      In order to do this, we request a <strong>reimbursable</strong> stocking fee.
                                      This means you get the amount back with each box order.
                                      This stocking fee is determined based on the quantity and products,
                                      which is determined when you create the box in your store wizard.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion-cat-10">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-10" href="#faq-cat-10-sub-1">
                                        <h4 class="panel-title">
                                          How do I get paid?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-10-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      We will send you a payment of your total weekly revenue every week <strong>in addition to</strong>
                                      a calculated percentage of your reimbursable stocking fee based on the number of products sold.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2>Customer Service</h2>
                        <div class="panel-group" id="accordion-cat-11">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-11" href="#faq-cat-11-sub-1">
                                        <h4 class="panel-title">
                                          What if my fans have questions? I don't want to get bombardded with emails!
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-11-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      We have a professional support staff and have contractors that speak all of the most popular languages that will handle all support questions.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2>Refund and Returns</h2>
                        <div class="panel-group" id="accordion-cat-12">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-12" href="#faq-cat-12-sub-1">
                                        <h4 class="panel-title">
                                          How do you handle refund and return requests?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-12-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      You have 24 hours to inspect your purchase and to determine if it does not meet the expectations laid forth.
                                      In the event that you wish to receive a refund, Fandemic will issue you a refund and ask you to specify how the product failed to live up to expectations.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2>Misc</h2>
                        <div class="panel-group" id="accordion-cat-16">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-16" href="#faq-cat-16-sub-1">
                                        <h4 class="panel-title">
                                          I want a cool design for my box, shirts, wristbands etc.
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-16-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      Wonderful! We have expert designers on staff that are ready to hear your requests.
                                      They work with you for free after you pay the <strong>reimbursable</strong> stocking fee!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion-cat-14">
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-cat-14" href="#faq-cat-14-sub-1">
                                        <h4 class="panel-title">
                                          Do you have a flyer or something I can share in person?
                                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-cat-14-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      We actually made a <a href="../static/misc/Fandemic_Box_Progress.pdf">flyer</a> for this exact reason.
                                      Feel free to share with anyone.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="contact">
          <form id="support-contact-form" action="/supportContactForm" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
                        <input id="support_firstname" name="name" type="text" class="form-control" placeholder="Enter your Name">
                      </div>
                      <br>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
                        <input id="support_email" name="email" type="text" class="form-control" placeholder="Enter your Email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group-lg">
                      <input id="support_message" style="height:7em" name="message" type="text" class="form-control" placeholder="Enter your Message">
                    </div>
                    </div>
                  </div>
                  <hr>
                  <button type="submit" style="float:left" class="btn btn-primary center btn-submit" id="support-form-button">Submit</button>
                  <p id="support-form-notification"></p>
                </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sizing">
          <img src="../static/img/measurements.png" style="width:80%">
        </div>
      </div>
    </div>
</div>
  </div>
</div>
</div>

<!-- Payment Success Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="paymentSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Order Successful!</h2>
      <p>You should receive a receipt shortly</p>
      <hr>
      <!-- <p>If the product(s) you ordered do not reach a minimum order you get a full refund.</p>
      <br> -->
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within 24 hours. Thanks!</p>
    </div>
  </div>
</div>

<!-- Payment Success Modal - stocking fee version -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="stockingSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Stocking Order Successful!</h2>
      <p>You should receive an email/receipt shortly</p>
      <hr>
      <p>You have successfully stocked your store! The item(s) will be ready for sale in about 14 days.</p>
      <br>
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within a few hours. Thanks!</p>
    </div>
  </div>
</div>


<script>
var pricing_index = {};
{% for p in pricingjs %}
  var temp = {{p|safe}};
  pricing_index[temp.name] = {};
  pricing_index[temp.name]['mfc'] = temp.pricing;
  pricing_index[temp.name]['retail'] = temp.retail;
{% endfor %}
</script>

  <!-- Kick off Filterizr -->
<link rel="stylesheet" href="../static/css/rangeslider.css">
<script src="../static/js/rangeslider.min.js"></script>
<script src="../static/js/countdown.min.js"></script>
<script src="../static/js/shop.js"></script>
<script src="../static/js/desktop.js"></script>


<script>
$('span').popover({'trigger':'hover'});
</script>

<script>
var handler = StripeCheckout.configure({
{% if star.active == false %}
key: 'pk_test_z1mq9KQ3GyakW5OdduPIX94u',
{% else %}
key: 'pk_live_kyvM71oajfwVWnxBoy7SfqOp',
{% endif %}
image: '{{star.image.profile}}',
locale: 'auto',
token: function(token,args) {

  //gather info from the order
  var info = {};
  info['star'] = "{{star.name}}";
  info['star_id'] = "{{star.id}}";
  info['active'] = "{{star.active}}";
  info['amount'] = Math.round(total_cost * 100);
  info['cart'] = cart;

  //combine all info into one object
  var result={};
  $.extend(result, args, token);
  $.extend(result, result, info);

  $.ajax({
    type: 'POST',
    url: '/charge',
    data: JSON.stringify(result, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(response) {
      $("#paymentSuccessModal").modal()
      resetCart();
    },
    error: function(error) {
      alert("payment error");
    }
  });

}
});

var handler2 = StripeCheckout.configure({
key: 'pk_live_kyvM71oajfwVWnxBoy7SfqOp',
image: '{{star.image.profile}}',
locale: 'auto',
closed: function() {
      $('#activateStoreModal').modal('show');
    },
token: function(token,args) {

  //gather info from the order
  var info = {};
  info['star'] = "{{star.name}}";
  info['star_id'] = "{{star.id}}";
  info['active'] = "{{star.active}}";
  info['quantity'] = box_quantity.toString();
  info['items'] = itemsInBox;
  info['male'] = document.getElementById('male').checked;
  info['female'] = document.getElementById('female').checked;

  info['amount'] = Math.round(stockingFee * 100);

  //combine all info into one object
  var result={};
  $.extend(result, args, token);
  $.extend(result, result, info);

  $.ajax({
    type: 'POST',
    url: '/charge-stocking-fee',
    data: JSON.stringify(result, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(response) {
      $("#stockingSuccessModal").modal();
    },
    error: function(error) {
      alert("payment error");
    }
  });

}
});

$( document ).ajaxStart(function () {
  $('#loading').show();  // show loading indicator
});

$( document ).ajaxStop(function()
{
    $('#loading').hide();  // hide loading indicator
});


$('.payStockingButton').on('click', function(e) {
// Open Checkout with further options
handler2.open({
name: 'Stocking Fee',
description: box_quantity +
             ' boxes X $'+ box_stockingFee.formatMoney(2) +
             ' = $' + stockingFee.formatMoney(2),
allowRememberMe: true,
panelLabel: "Pay",
email: '{{star.email.0}}',
amount: Math.round(stockingFee * 100)
});
e.preventDefault();
});


$('.customButton').on('click', function(e) {
// Open Checkout with further options
handler.open({
name: 'ORDER TOTAL',
description: '$' + total_cost.formatMoney(2),
zipCode: true,
billingAddress: true,
shippingAddress: true,
allowRememberMe: true,
panelLabel: "Pay",
amount: Math.round(total_cost * 100)
});
e.preventDefault();
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
handler.close();
});
</script>

{% include 'analytics.html' %}
