<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{star.name}} Official Store</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/shop.css">

</head>

<body>

<div id="loading"> Please Wait.. Order Processing...</div>
<script> $('#loading').hide();</script>

<!-- CART MENU -->
<div id="cart-menu">

  <div class="cart-and-total">
      <h2 class="title">Cart</h2>
       <span class="money" style="font-size:16px;">Total: $<span class="total-cost">0.00</span></span>
  </div>

  <div id="cart" class="cart" class="well" style="max-height:70%;overflow:auto;padding:5px;margin-top:20px;">
      <span id="alert-cart-empty"><br><br>The cart is empty!<br>Add a product to the cart by clicking
        <button class="btn btn-primary btn-add demo" role="button"><i class="fa fa-cart-plus"></i></button>
        <br>
                                    on a product card.</span>
  </div>

  <button class="btn btn-primary btn-checkout customButton" id="customButton"><i class="fa fa-check-circle-o"></i> Checkout</button>

</div>


<!-- SIDE PANEL -->
<div id="side-panel" class="side-panel">

  <button type="button" class="btn btn-primary btn-xs btn-toggle" data-toggle="offcanvas"><i class="fa fa-shopping-cart" style="font-size: 25px;"></i> $<span id="total-cost">0.00</span></button>
  <div class="profile-img-container">
    <img class="profile-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{star.image.profile}}">
  </div>

  {% if star.name != "Fandemic" %}
  <h2>{{star.name}}</h2>
  {% else %}
  <h2></h2><br>
  {% endif %}

  <div id="social-media">
    <a class="link" target="_blank" href="{{star.url.youtube}}"><i class="fa fa-youtube"></i></a>
    <a class="link" target="_blank" href="{{star.url.instagram}}"><i class="fa fa-instagram"></i></a>
    <a class="link" target="_blank" href="{{star.url.facebook}}"><i class="fa fa-facebook"></i></a>
    <a class="link" target="_blank" href="{{star.url.twitter}}"><i class="fa fa-twitter"></i></a>
  </div>

  <hr>

  {% if star.active == false %}
  <div style="padding:1px;">
    <strong>1. We Design</strong><br>
    <strong>2. You Pick</strong><br>
    <strong>3. You Promote</strong><br>
    <strong>4. We Ship</strong><br>
  <p style="padding-top:10px"> If you are {{star.name}} click the "activate store" button below!</p>

  </div>
  <button data-toggle="modal" data-target="#activateStoreModal" class="btn btn-success btn-activate"><i class="fa fa-power-off"></i> Activate Store</button>

  {% else %}
  <div style="padding: 0px 10px 0px 10px;">
  <strong>Welcome to {{star.name}}'s <br>Official Fandemic store!</strong>
  <hr>
  If you need any help click the "Customer Service" button below and the
  Fandemic team will help you right away!

  <!-- <span style="font-size:35px;color:#adadad;"><i class="fa fa-arrow-down"></i></span> -->
  </div>
  <button href="#" data-toggle="modal" data-target="#customerServiceModal" class="btn btn-info btn-activate"><i class="fa fa-question-circle"></i> Help</button>
  {% endif %}

  <div class="footer">
    <p class="copyright text-muted small">Copyright &copy; Fandemic. 2016. All Rights Reserved. &nbsp;
      <strong>Patent Pending</strong>
  </div>
</div>



<div class="controls">
  <!--<input style="float:left" type="text" class="form-control filtr-search" name="filtr-search" placeholder="Product Search" data-search>-->

    <div class="btns">
      <a href="/" class="button"><i class="fa fa-home" aria-hidden="true"></i></a>
      <i data-toggle="modal" data-target="#customerServiceModal" class="fa fa-info-circle button" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart cart-button button"><span class="num-items"></span></i>
    </div>

  <div class="filter-header" style="height:40px;">
  <div style="color:#1d1d1d;font-size:12px;display:inline-block;float:left;margin-top: 0px;">

    <!-- <span>Filter:</span> -->
    <button class="active btn btn-filter" data-filter="all">All Products</button>

    {% for cat, id in cat.iteritems() %}
    <button class="btn btn-filter" data-filter="{{id}}">{{cat}}</button>
    {% endfor %}

  </div>

  </div>

</div>


<!-- CENTER PANEL -->
<div id="center-panel" class="container-fluid">

  <div class="row">
  <div class="filtr-container">


{% if star.active == false %}
 <!-- SAMPLE PRODUCTS VERSION -->
  {% for p in products %}
  <div class="col-md-6 col-lg-4 filtr-item"
       data-category="{% for id in p.subcatID %}{{id}}{% if not loop.last %}, {% endif %}{% endfor %}"
       data-sort="" style="padding: 25px;padding-top:10px;padding-bottom:10px;">

    <div class="thumbnail">


        <span class="product-id">{{p.sku}}</span>
        <div class="card-header">
          <span class="hours-remaining"><i class="fa fa-clock-o"></i> 14 days</span>
          <img width="30px" class="shipping-icon" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/shipping-icon.png">
          <div class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44"
            aria-valuemin="0" aria-valuemax="{{p.description.minOrderQty}}" style="width:50%">
              <span class="progress-text">{{(p.description.minOrderQty / 2)|round|int}} Orders Needed!</span>
            </div>
          </div>
        </div>
        <img width="500px" height="500px"
             data-toggle="modal"
             data-target="#modal-{{p.sku}}"
             class="product-picture"
             src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             {% if star.samplesUploaded is defined %}
             data-src="../static/img/sample_products/stars/{{star.id}}/{{p.default_img[0]}}"
             {% else %}
             data-src="../static/img/sample_products/{{p.category}}/{{p.default_img[0]}}"
             {% endif %}
             >


        <div class="row variations">
            <div
              class="{% if p.variations.color[0].name is defined %}
                        col-md-6
                     {% else %}
                        col-md-12
                     {% endif %}
                        variation1">
              <div class="name"><span>size</span></div>
              <select class="form-control">
                {% for s in p.variations.size %}
                <option>{{s}}</option>
                {% endfor %}
              </select>
            </div>
            {% if p.variations.color[0].name is defined %}
            <div class="col-md-6 variation2">
              <div class="name"><span>color</span></div>
              <select class="form-control">
                  {% for c in p.variations.color %}
                  <option>{{c.name}}</option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
        </div>

        <div class="caption">
          <h3 class="title">{{p.name}}</h3>
          <span class="money">$<span class="price">{{p.price}}</span></span>
          <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>
          <button class="btn btn-primary btn-view" role="button" data-toggle="modal" data-target="#modal-{{p.sku}}"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
    </div>
  </div>


  <!-- Product Description Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">{{p.name}} Description</h2>
        <hr>
        <div class="row">
        <div class="col-md-8">
          <img width="500px" height="500px"
               class="product-picture img-responsive"
               src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="../static/img/sample_products/{{p.category}}/{{p.default_img[0]}}">
        </div>
        <div class="col-md-4">
          <div class="product-description">
              <h2>Order Requirement</h2>
                <p>This campaign needs atleast <span class="emphasize">{{p.description.minOrderQty}}</span> preorders in order for {{p.name}} to be shipped.</p>
              <h2>Composition</h2>
                <p><strong>Material:</strong> {{p.description.material}}</p>
                <p><strong>Fabric:</strong>  {{p.description.fabric}}</p>
              <h2>Specialty</h2>
                <p><strong>Special:</strong>  {{p.description.special}}</p>
                <p><strong>Design:</strong>  Custom designs, logos, colors, and any modifications can be made, just ask!</p>

          </div>
          {% for img in p.default_img %}
          <div class="product-sample-view">
            <img width="50px" height="50px" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/sample_products/{{p.category}}/{{img}}">
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% else %}
 <!-- ACTIVE STORE PRODUCTS VERSION -->
  {% for p in products %}
  <div class="col-md-6 col-lg-4 filtr-item"
       data-category="{% for id in p.subcatID %}{{id}}{% if not loop.last %}, {% endif %}{% endfor %}"
       data-sort="Create Your Own" style="padding: 25px;padding-top:10px;padding-bottom:10px;">

    <div class="thumbnail">


        <span class="product-id">{{p.sku}}</span>
        <div class="card-header">
          <span class="hours-remaining">
            <i class="fa fa-clock-o"></i>
            <span class="time">{{p.endTime}}</span>
          </span>
          <img width="30px" class="shipping-icon" style="opacity:.5;" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/shipping-icon.png">
          <div class="progress">
            <span class="progress-text" style="color:#9d9d9d;">{{(p.minQty - p.currentQty)|round|int}} Orders Needed!</span>
            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{p.currentQty}}"
            aria-valuemin="0" aria-valuemax="{{p.minQty}}" style="width:{{p.currentQty + 1}}%">

            </div>
          </div>
        </div>
        <img width="500px" height="500px"
             data-toggle="modal" data-target="#modal-{{p.sku}}"
             class="product-picture"
             src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="../static/img/products/{{star.id}}/{{p.default_img[0]}}">

        <div class="row variations">
            <div class="col-lg-6 variation1">
              <div class="name"><span>size</span></div>
              <select class="form-control">
                {% for s in p.variations.size %}
                <option>{{s}}</option>
                {% endfor %}
              </select>
            </div>
            {% if p.variations.color[0].name is defined %}
            <div class="col-lg-6 variation2">
              <div class="name"><span>color</span></div>
              <select class="form-control">
                  {% for c in p.variations.color %}
                  <option
                    data-src="../static/img/products/{{star.id}}/{{c.img[0]}}">
                    {{c.name}}
                  </option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
        </div>

        <div class="caption">
          <h3 class="title">{{p.name}}</h3>
          <span class="money">$<span class="price">{{p.price}}</span></span>
          <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>
          <button class="btn btn-primary btn-view" role="button" data-toggle="modal" data-target="#modal-{{p.sku}}"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
    </div>
  </div>


  <!-- Product Description Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">{{p.name}} Description</h2>
        <hr>
        <div class="row">
        <div class="col-md-8">
          <img width="500px" height="500px"
               class="product-picture img-responsive"
               src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="../static/img/products/{{star.id}}/{{p.default_img[0]}}"
               >
        </div>
        <div class="col-md-4">
          <div class="product-description">
              <h2>Order Requirement</h2>
                <p>This campaign needs atleast <span class="emphasize">{{p.description.minOrderQty}}</span> preorders in order for {{p.name}} to be shipped.</p>
              <h2>Composition</h2>
                <p><strong>Material:</strong> {{p.description.material}}</p>
                <p><strong>Fabric:</strong>  {{p.description.fabric}}</p>
              <h2>Specialty</h2>
                <p><strong>Special:</strong>  {{p.description.special}}</p>
                <p><strong>Design:</strong>  Custom designs, logos, colors, and any modifications can be made, just ask!</p>

          </div>
          {% for v in p.variations.color %}
          {% for i in v.img %}
          <div class="product-sample-view">
            <img width="50px" height="50px"
                 src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                 data-src="../static/img/products/{{star.id}}/{{i}}"
                 >
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}

</div>
</div>
</div>

  <!-- Deferred Image Loading for Products -->
  <script>
  function init() {
  var imgDefer = document.getElementsByTagName('img');
  for (var i=0; i<imgDefer.length; i++) {
  if(imgDefer[i].getAttribute('data-src')) {
  imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
  } } }
  window.onload = init;
  </script>

  </body>

</html>

<!-- MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="activateStoreModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Get Started!</h2>
      <p>Fill out the form below and we will contact you within 24 hours</p>
      <hr>
      <form id="activate-store-modal-form" action="/activateStore" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input id="activate_firstname" name="firstname" type="text" class="form-control" placeholder="Name"/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="activate_phone" name="phone" type="tel" class="form-control" placeholder="Phone" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input id="activate_email" name="email" type="email" class="form-control" placeholder="Email" value="{{star.email[0]}}"/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
              <input id="activate_youtube" name="youtube" type="url" class="form-control" placeholder="Youtube Channel URL" value="{{star.url.youtube}}"/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
              <input id="activate_instagram" name="instagram" type="text" class="form-control" placeholder="Instagram Username" value="{{star.url.instagram}}" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-square"></i></span>
              <input id="activate_facebook" name="facebook" type="text" class="form-control" placeholder="Facebook Fan Page URL" value="{{star.url.facebook}}"/>
            </div>
          </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary center btn-submit" id="activate-store-button">Submit</button>
        <p id="activate-store-notification"></p>
      </form>
    </div>
  </div>
</div>

<!-- Customer Service Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="customerServiceModal">
  <div class="modal-dialog modal-lg">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Customer Service</h2><br>
      <p>Fandemic manages {{star.name}}'s official store<br>
         If you have any questions or issues with the platform please use the tools below</p>
      <br>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#howitworks" aria-controls="howitworks" role="tab" data-toggle="tab">How It Works</a></li>
          <li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">FAQ</a></li>
          <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
          <li role="presentation"><a href="#sizing" aria-controls="sizing" role="tab" data-toggle="tab">Clothing Measurements</a></li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="howitworks">
          <div class="row">


            <div class="col-md-5">
              <div class="thumbnail">
                <span class="product-id">hoodie-2</span>
                <div class="card-header">
                  <span class="hours-remaining"><i class="fa fa-clock-o"></i> 14 days</span>
                  <img width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="40" style="width:50%">
                      <span class="progress-text">20 Orders Needed!</span>
                    </div>
                  </div>
                </div>
                <img width="500px" height="500px" class="product-picture" src="../static/img/products/hoodie-2/hoodie-2.png" alt="...">
                <div class="caption">
                  <h3 class="title">Fitness Hoodie</h3>
                  <span class="money">$<span class="price">39.99</span></span>

                </div>
                <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i></button>
              </div>
            </div>

            <div class="col-md-7" style="text-align:left;">
              <p><i class="fa fa-arrow-left"></i> This is a <strong>product card</strong></p>

              <br>
              <div class="well">
                <p>The <strong>timer</strong> shows you how long the product is on sale
                </p>
                <span style="color:red;"><i class="fa fa-clock-o"></i> 14 days</span>
              </div>

              <br>
              <div class="well">
                <p>The <strong>shipping bar</strong> shows you how many orders are needed
                   before the product ships
                </p>
                 <div class="progress" style="width:70%;opacity:1;">
                   <img style="top:0px;right:11px;" width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
                   <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="40" style="width:50%">
                     <span class="progress-text">20 Orders Needed!</span>
                   </div>
                 </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="faq">
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane active in fade" id="faq-cat-1">
                            <div class="panel-group" id="accordion-cat-1">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                            <h4 class="panel-title">
                                                So what's the story?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Stars sign up to allow their fans to preorder products via their Fandemic store. Each product has a minimum quantity order, if that number of pre orders is met in the alotted time then the Fandemic team produces and ships them off!                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-2">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                            <h4 class="panel-title">
                                              What happens if the minimum preorders are not met?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          In the event that this product's campaign does not reach its' minimum order quantity within the specified time frame, the Fandemic team will refund 100% of your payment.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-3">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1">
                                            <h4 class="panel-title">
                                              How long does it take to get my refund?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          You will receive your refund within one week max!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-4">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1">
                                            <h4 class="panel-title">
                                              How do I get my own Fandemic Store?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          Simply go to the <a href="http://fandemic.co">Fandemic Homepage</a> and click "Activate Store" at the top.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion-cat-5">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1">
                                            <h4 class="panel-title">
                                              How long does shipping take?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          It really varies on your location, but shipping could range from 5-7 business days.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="contact">
          <form id="support-contact-form" action="/supportContactForm" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
                        <input id="support_firstname" name="name" type="text" class="form-control" placeholder="Enter your Name">
                      </div>
                      <br>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
                        <input id="support_email" name="email" type="text" class="form-control" placeholder="Enter your Email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group-lg">
                      <input id="support_message" style="height:7em" name="message" type="text" class="form-control" placeholder="Enter your Message">
                    </div>
                    </div>
                  </div>
                  <hr>
                  <button type="submit" style="float:left" class="btn btn-primary center btn-submit" id="support-form-button">Submit</button>
                  <p id="support-form-notification"></p>
                </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sizing">
          <img src="../static/img/measurements.png" style="width:80%">
        </div>
      </div>
    </div>
</div>
  </div>
</div>
</div>

<!-- Payment Success Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="paymentSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Order Successful!</h2>
      <p>You should receive a receipt shortly</p>
      <hr>
      <p>If the product(s) you ordered do not reach a minimum order you get a full refund.</p>
      <br>
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within 24 hours. Thanks!</p>
    </div>
  </div>
</div>



  <!-- Kick off Filterizr -->
<script src="../static/js/jquery.filterizr.min.js"></script>
<script src="../static/js/countdown.min.js"></script>
<script src="../static/js/shop.js"></script>
<script src="../static/js/desktop.js"></script>

<script>
var handler = StripeCheckout.configure({
{% if star.active == false %}
key: 'pk_test_z1mq9KQ3GyakW5OdduPIX94u',
{% else %}
key: 'pk_live_kyvM71oajfwVWnxBoy7SfqOp',
{% endif %}
image: '{{star.image.profile}}',
locale: 'auto',
token: function(token,args) {

  //gather info from the order
  var info = {};
  info['star'] = "{{star.name}}";
  info['star_id'] = "{{star.id}}";
  info['active'] = "{{star.active}}";
  info['amount'] = Math.round(total_cost * 100);
  info['cart'] = cart;

  //combine all info into one object
  var result={};
  $.extend(result, args, token);
  $.extend(result, result, info);

  $.ajax({
    type: 'POST',
    url: '/charge',
    data: JSON.stringify(result, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(response) {
      $("#paymentSuccessModal").modal()
      resetCart();
    },
    error: function(error) {
      alert("payment error");
    }
  });

}
});


$( document ).ajaxStart(function () {
  $('#loading').show();  // show loading indicator
});

$( document ).ajaxStop(function()
{
    $('#loading').hide();  // hide loading indicator
});



$('.customButton').on('click', function(e) {
// Open Checkout with further options
handler.open({
name: 'ORDER TOTAL',
description: '$' + total_cost.formatMoney(2),
zipCode: true,
billingAddress: true,
shippingAddress: true,
allowRememberMe: true,
panelLabel: "Pay",
amount: Math.round(total_cost * 100)
});
e.preventDefault();
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
handler.close();
});
</script>

{% include 'analytics.html' %}
