<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{star.name}} Official Store</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>

  <script src="../static/js/jquery-1.12.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="../static/js/velocity.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/slideout.min.js"></script>
  <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.20/dist/jquery.flip.min.js"></script>

  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/shop.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body>

<div id="loading"> Please Wait.. Order Processing...</div>
<script> $('#loading').hide();</script>

<!-- CART MENU -->
<div id="cart-menu">

  <div class="cart-and-total">
      <h2 class="title">Cart</h2>
       <span class="money" style="font-size:16px;">Total: $<span class="total-cost">0.00</span></span>
  </div>

  <div id="cart" class="cart" class="well" style="max-height:70%;overflow:auto;padding:5px;margin-top:20px;">
      <span id="alert-cart-empty"><br><br>The cart is empty!<br>Add a product to the cart by clicking
                                    on a product card.</span>
  </div>

  <button class="btn btn-primary btn-checkout customButton" id="customButton"><i class="fa fa-check-circle-o"></i> Checkout</button>

</div>


<!-- TOP PANEL -->
<div id="top-panel">

  <a href="/"><img class="logo" height="40px" src="../static/img/fandemic-icon-white.png"></a>

  <div style="margin-top:20px;">

    {% if star.active == false %}
    <strong>Heads up! This store is <span style="color:#FFCC00;">inactive</span>.
    If this is yours, <a href="#" data-toggle="modal" data-target="#activateStoreModal"> activate it today</a> for free!</strong>
    {% else %}
    <strong>Welcome to {{star.name}}'s official store!</strong>
    {% endif %}
  </div>
  <div class="cart-btn">
    <i class="fa fa-shopping-cart"></i><span class="num-items"></span>
  </div>

</div>


<!-- SIDE PANEL -->
<div id="side-panel" class="side-panel">

  <button type="button" class="btn btn-primary btn-xs btn-toggle" data-toggle="offcanvas"><i class="fa fa-shopping-cart" style="font-size: 25px;"></i> $<span id="total-cost">0.00</span></button>
  <div class="profile-img-container">
    <img class="profile-img" src="{{star.image.profile}}">
  </div>

  {% if star.name != "Fandemic" %}
  <h2>{{star.name}}</h2>
  {% else %}
  <h2></h2><br>
  {% endif %}

  <div id="social-media">
    <a class="link" target="_blank" href="{{star.url.youtube}}"><i class="fa fa-youtube"></i></a>
    <a class="link" target="_blank" href="{{star.url.instagram}}"><i class="fa fa-instagram"></i></a>
    <a class="link" target="_blank" href="{{star.url.facebook}}"><i class="fa fa-facebook"></i></a>
    <a class="link" target="_blank" href="{{star.url.twitter}}"><i class="fa fa-twitter"></i></a>
  </div>

  <hr>

  {% if star.active == false %}
  <div style="padding:15px;">
  Welcome to {{star.name}}'s Official Fandemic store. If activated, {{star.name}}
  can sell <strong>custom</strong> designed products!
  If you are {{star.name}} click the "activate store" button below!
  <br><br><br><br>
  <span style="font-size:35px;color:#adadad;"><i class="fa fa-arrow-down"></i></span>
  </div>
  <button data-toggle="modal" data-target="#activateStoreModal" class="btn btn-success btn-activate"><i class="fa fa-power-off"></i> Activate Store</button>

  {% else %}
  <div style="padding: 0px 10px 0px 10px;">
  Welcome to {{star.name}}'s <br>Official Fandemic store!
  <hr><br>
  If you need any help click the "Customer Service" button below and the
  Fandemic team will help you right away!
  <br><br><br><br>
  <!-- <span style="font-size:35px;color:#adadad;"><i class="fa fa-arrow-down"></i></span> -->
  </div>
  <button href="#" data-toggle="modal" data-target="#customerServiceModal" class="btn btn-info btn-activate"><i class="fa fa-question-circle"></i> Customer Service</button>
  {% endif %}

  <div class="footer">
    <p class="copyright text-muted small">Copyright &copy; Fandemic. 2016. All Rights Reserved. &nbsp;
      <strong>Patent Pending</strong>
  </div>
</div>






<!-- CENTER PANEL -->
<div id="center-panel" class="container-fluid">

  <div class="filter-header" style="height:40px;">
  <div style="color:#1d1d1d;font-size:12px;display:inline-block;float:left;">

    <!-- <span>Filter:</span> -->
    <button class="active btn btn-filter" data-filter="all">All Products</button>

    {% for cat, id in cat.iteritems() %}
    <button class="btn btn-filter" data-filter="{{id}}">{{cat}}</button>
    {% endfor %}

  </div>
  <input style="float:right" type="text" class="form-control filtr-search" name="filtr-search" placeholder="Product Search" data-search>
</div>

  <hr>

  <div class="row">
  <div class="filtr-container">

  {% for p in products %}
  <div class="col-md-6 col-lg-4 filtr-item"
       data-category="{% for id in p.subcatID %}{{id}}{% if not loop.last %}, {% endif %}{% endfor %}"
       data-sort="Create Your Own" style="padding: 25px;padding-top:10px;padding-bottom:10px;">

    <div class="thumbnail">


        <span class="product-id">{{p.sku}}</span>
        <div class="card-header">
          <span class="hours-remaining"><i class="fa fa-clock-o"></i> 14 days</span>
          <img width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
          <div class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44"
            aria-valuemin="0" aria-valuemax="{{p.description.minOrderQty}}" style="width:50%">
              <span class="progress-text">{{(p.description.minOrderQty / 2)|round|int}} Orders Needed!</span>
            </div>
          </div>
        </div>
        <img width="500px" height="500px" data-toggle="modal" data-target="#modal-{{p.sku}}" class="product-picture" src="../static/img/product_images/{{p.sku}}/{{p.img}}" alt="...">
        <div class="caption">
          <h3 class="title">{{p.name}}</h3>
          <span class="money">$<span class="price">{{p.price}}</span></span>
        </div>
        <div class="variations">
          <div class="variation1">
            <span class="name">size</span>
            <select class="form-control">
              {% for s in p.variations.size %}
              <option>{{s}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="variation2">
            <span class="name">color</span>
            <select class="form-control">
              {% for c in p.variations.color %}
              <option>{{c}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i> Add to Cart</button>
    </div>
  </div>


  <!-- Product Description Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="z-index:99999;" id="modal-{{p.sku}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">{{p.name}} Description</h2>
        <hr>
        <div class="row">
        <div class="col-md-8">
          <img width="500px" height="500px" class="product-picture img-responsive" src="../static/img/product_images/{{p.sku}}/{{p.img}}" alt="...">
        </div>
        <div class="col-md-4">
          <div class="product-description">
              <h2>Order Requirement</h2>
                <p>Your campaign needs atleast <span class="emphasize">{{p.description.minOrderQty}}</span> preorders in order for {{p.name}} to be shipped to your fans.</p>
              <h2>Composition</h2>
                <p><strong>Material:</strong> {{p.description.material}}</p>
                <p><strong>Fabric:</strong>  {{p.description.fabric}}</p>
                <p><strong>Weight:</strong>  {{p.description.weight}}</p>
                <p><strong>Fabric:</strong>  {{p.description.design}}</p>
              <h2>Specialty</h2>
                <p><strong>Special:</strong>  {{p.description.special}}</p>
                <p><strong>Design:</strong>  Custom designs, logos, colors, and any modifications can be made, jut ask!</p>

          </div>
          <div id="product-sample-views">
            <img width="50px" height="50px" src="../static/img/product_images/{{p.sku}}/{{p.img}}">
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
</div>
</div>


  </body>

</html>

<!-- MODAL -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="activateStoreModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Get Started!</h2>
      <p>Fill out the form below and we will contact you within 24 hours</p>
      <hr>
      <form id="activate-store-modal-form" action="/activateStore" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
              <input id="activate_firstname" name="firstname" type="text" class="form-control" placeholder="Name"/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone-square"></i></span>
              <input id="activate_phone" name="phone" type="tel" class="form-control" placeholder="Phone" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
              <input id="activate_email" name="email" type="email" class="form-control" placeholder="Email" value="{{star.email[0]}}"/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-youtube"></i></span>
              <input id="activate_youtube" name="youtube" type="url" class="form-control" placeholder="Youtube Channel URL" value="{{star.url.youtube}}"/>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-instagram"></i></span>
              <input id="activate_instagram" name="instagram" type="text" class="form-control" placeholder="Instagram Username" value="{{star.url.instagram}}" />
            </div>
            <br>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook-square"></i></span>
              <input id="activate_facebook" name="facebook" type="text" class="form-control" placeholder="Facebook Fan Page URL" value="{{star.url.facebook}}"/>
            </div>
          </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary center btn-submit" id="activate-store-button">Submit</button>
        <p id="activate-store-notification"></p>
      </form>
    </div>
  </div>
</div>

<!-- Customer Service Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="customerServiceModal">
  <div class="modal-dialog modal-lg">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Customer Service</h2><br>
      <p>Fandemic manages {{star.name}}'s official store<br>
         If you have any questions or issues with the platform please use the tools below</p>
      <br>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#howitworks" aria-controls="howitworks" role="tab" data-toggle="tab">How It Works</a></li>
          <li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">FAQ</a></li>
          <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="howitworks">
          <div class="row">


            <div class="col-md-5">
              <div class="thumbnail">
                <span class="product-id">hoodie-2</span>
                <div class="card-header">
                  <span class="hours-remaining"><i class="fa fa-clock-o"></i> 14 days</span>
                  <img width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="40" style="width:50%">
                      <span class="progress-text">20 Orders Needed!</span>
                    </div>
                  </div>
                </div>
                <img width="500px" height="500px" class="product-picture" src="../static/img/product_images/hoodie-2/hoodie-2.jpg" alt="...">
                <div class="caption">
                  <h3 class="title">Fitness Hoodie</h3>
                  <span class="money">$<span class="price">39.99</span></span>

                  <a href="#" class="btn-description">More Info <i class="fa fa-share-square-o"></i></a>
                </div>
                <button class="add-to-cart btn btn-primary btn-add" role="button"><i class="fa fa-cart-plus"></i> Add to Cart</button>
              </div>
            </div>

            <div class="col-md-7" style="text-align:left;">
              <p><i class="fa fa-arrow-left"></i> This is a <strong>product card</strong></p>

              <br>
              <div class="well">
                <p>The <strong>timer</strong> shows you how long the product is on sale
                </p>
                <span style="color:red;"><i class="fa fa-clock-o"></i> 14 days</span>
              </div>

              <br>
              <div class="well">
                <p>The <strong>shipping bar</strong> shows you how many orders are needed
                   before the product ships
                </p>
                 <div class="progress" style="width:70%;opacity:1;">
                   <img style="top:0px;right:11px;" width="30px" class="shipping-icon" src="../static/img/shipping-icon.png">
                   <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="40" style="width:50%">
                     <span class="progress-text">20 Orders Needed!</span>
                   </div>
                 </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="faq">
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane active in fade" id="faq-cat-1">
                            <div class="panel-group" id="accordion-cat-1">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                            <h4 class="panel-title">
                                                What happens if the minimum preorders are not met?
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                            <h4 class="panel-title">
                                                FAQ Item Category #1
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="faq-cat-2">
                            <div class="panel-group" id="accordion-cat-2">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                            <h4 class="panel-title">
                                                FAQ Item Category #2
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                            <h4 class="panel-title">
                                                FAQ Item Category #2
                                                <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="contact">
          <p><a href="mailto:support@fandemic.co">support@fandemic.co</a></p>
        </div>
      </div>
    </div>
</div>
  </div>
</div>
</div>

<!-- Payment Success Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="paymentSuccessModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title" id="myModalLabel">Order Successful!</h2>
      <p>You should receive a receipt shortly</p>
      <hr>
      <p>If the product(s) you ordered do not reach a minimum order you get a full refund.</p>
      <br>
      <p>Questions or concerns? Email us at <strong>support@fandemic.co</strong> and we will respond within 24 hours. Thanks!</p>
    </div>
  </div>
</div>



  <!-- Kick off Filterizr -->
  <script src="../static/js/jquery.filterizr.min.js"></script>
  <script type="text/javascript">
      $(function() {
          //Initialize filterizr with default options
          $('.filtr-container').filterizr();
      });
  </script>


<script src="../static/js/shop.js"></script>

<script>
var handler = StripeCheckout.configure({
{% if star.active == false %}
key: 'pk_test_z1mq9KQ3GyakW5OdduPIX94u',
{% else %}
key: 'pk_live_kyvM71oajfwVWnxBoy7SfqOp',
{% endif %}
image: '{{star.image.profile}}',
locale: 'auto',
token: function(token,args) {

  //gather info from the order
  var info = {};
  info['star'] = "{{star.name}}";
  info['active'] = "{{star.active}}";
  info['amount'] = Math.round(total_cost * 100);
  info['cart'] = cart;

  //combine all info into one object
  var result={};
  $.extend(result, args, token);
  $.extend(result, result, info);

  $.ajax({
    type: 'POST',
    url: '/charge',
    data: JSON.stringify(result, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(response) {
      $("#paymentSuccessModal").modal()
      resetCart();
    },
    error: function(error) {
      alert("payment error");
    }
  });

}
});


$( document ).ajaxStart(function () {
  $('#loading').show();  // show loading indicator
});

$( document ).ajaxStop(function()
{
    $('#loading').hide();  // hide loading indicator
});



$('.customButton').on('click', function(e) {
// Open Checkout with further options
handler.open({
name: 'ORDER TOTAL',
description: '$' + total_cost.formatMoney(2),
zipCode: true,
billingAddress: true,
shippingAddress: true,
allowRememberMe: true,
panelLabel: "Pay",
amount: Math.round(total_cost * 100)
});
e.preventDefault();
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
handler.close();
});
</script>

{% include 'analytics.html' %}
