<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sample Store Page</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Create & Sell Custom Merchandise</title>
  <meta content="A fundraising platform for social media stars and organizations" name="description">
  <link href="../static/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="../static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/landing-page/magnific-popup.css" rel="stylesheet">
  <link href="../static/css/shop.css" rel="stylesheet">
  <link href="../static/css/landing-page/lightslider.css" rel="stylesheet">
  <link href="../static/css/bootstrap/bootstrap-blog.css" rel="stylesheet">
</head>

<body>
  <!-- SIDE PANEL -->
  <div class="side-panel" id="side-panel">
    <button class="btn btn-primary btn-xs btn-toggle" data-toggle="offcanvas" type="button"><i class="fa fa-shopping-cart" style="font-size: 25px;"></i> $
      <span data-original-title="" id="total-cost" title="">0.00</span>
    </button>
    <div class="profile-img-container">
      <img class="profile-img" data-src="../static/img/custom/faze-censor/logo2.png" src="../static/img/custom/faze-censor/logo2.png">
    </div>
    <h2>FaZe Censor</h2>
    <div id="social-media">
      <a class="link" href="https://www.youtube.com/channel/UCtqyFB7NfU2aHGAa6JnqHKQ" target="_blank"><i class="fa fa-youtube"></i></a> <a class="link" href="http://instagram.com/faze_censor" target="_blank"><i class=
            "fa fa-instagram"></i></a> <a class="link" href="https://www.facebook.com/FaZeCensor/" target="_blank"><i class=
            "fa fa-facebook"></i></a> <a class="link" href="https://twitter.com/FaZe_Censor" target="_blank"><i class=
            "fa fa-twitter"></i></a>
    </div>
    <div style="padding:1px;">
      <hr>
      <p style="padding:10px;">This store has mock items. Create your own unique box below.</p>
      <span data-content="A publicly visible indicator of how much of your profit has gone to Fandemic partnered charities." data-original-title="" style="cursor:pointer" title=""></span>
      <h5>
        <span data-content="A publicly visible indicator of how much of your profit has gone to Fandemic partnered charities." data-original-title="" style="cursor:pointer" title="">Charity Donation
        </span>
      </h5>
      <h4>
        <span data-content="A publicly visible indicator of how much of your profit has gone to Fandemic partnered charities." data-original-title="" style="cursor:pointer" title="">$0.00</span>
      </h4>
    </div>
  </div>
  <div class="controls">
    <!--<input style="float:left" type="text" class="form-control filtr-search" name="filtr-search" placeholder="Product Search" data-search>-->
    <img src="../static/img/custom/faze-censor/logo.png" style="position:absolute;height:60px;top:5px;">
    <div></div>
    <div class="btns">
      <a class="button" href="/"><i aria-hidden="true" class=
            "fa fa-home"></i></a> <i aria-hidden="true" class="fa fa-question-circle button" data-target="#customerServiceModal" data-toggle="modal"></i> <i class="fa fa-shopping-cart cart-button button"><span class="num-items"
            data-original-title="" title=""></span></i>
    </div>
  </div>
  <!-- CENTER PANEL -->
  <div class="container-fluid slideout-panel" id="center-panel">
    <div class="col-md-3">
      <div class="items-listing" style="padding-left:3em">
        <div class="row">
          <div class="thumbnail" style="width:50%">
            <img alt="" class="product-img img-responsive" src="/static/img/beauty-items/61-61.png" style="width:100%;padding:10px;">
          </div>
        </div>
        <div class="row">
          <div class="thumbnail" style="width:50%">
            <img alt="" class="product-img img-responsive" src="/static/img/beauty-items/15-18-51.png" style="width:100%;padding:10px;">
          </div>
        </div>
        <div class="row">
          <div class="thumbnail" style="width:50%">
            <img alt="" class="product-img img-responsive" src="/static/img/beauty-items/24-72-11.png" style="width:100%;padding:10px;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5" style=" margin-left:-10%">
      <div class="thumbnail" style="width:100%;">
        <img alt="" class="product-img img-responsive" src="/static/img/beauty-items/61-61.png" style="width:100%;padding:10px;">
      </div>
      <p>Soak your lips in one of our delicious shades of lip gloss for high shine and totally glam looking lips. Enriched with Vitamin E, this gloss will leave lips soft and luscious. Non-sticky, glossy, weightless formula stays shiny and fresh! Available
        in Black and Platinum. *Please Note: Available in Black only.</p>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default panel-summary" style="width:100%;border-radius: 0px;">
        <div class="panel-heading" style="background-color:#939598;color:#fff;border-radius:0px;text-align:center;font-size:20px;">
          How Does This Work?
        </div>
        <div class="panel-body" style="min-height:350px;">
          <div class="">
            <h3 style="color:#adadad !important;">___________________
            </h3>
            <h4 style="color:#adadad !important;"> _______________
            </h4>
            <h4 style="color:#adadad !important;"> _______________
            </h4>
            <h4 style="color:#adadad !important;"> _______________
            </h4>
            <h4 style="color:#adadad !important;"> _______________
            </h4>
          </div>
        </div>
        <div class="timer" style="margin-bottom:10%">
          <h4 style="color:#adadad !important;">5 Days; 7 Hours; 24 Minutes </h4>
        </div>
        <h4 style="color:#adadad !important;">Share on Social Media </h4>

      </div>
      <button class="btn btn-primary btn-lg btn-nav btn-beauty next-btn" style=" background-color: #7BDC87 !important; border: #7BDC87 !important; width: 100%;">Pre Order This Box</button>
    </div>
  </div>
  <!-- Deferred Image Loading for Products -->
  <script>
  </script>
  <!-- Kick off Filterizr -->
  <link href="../static/css/rangeslider.css" rel="stylesheet">
  <script src="../static/js/rangeslider.min.js">
  </script>
  <script src="../static/js/countdown.min.js">
  </script>
  <script src="../static/js/shop.js">
  </script>
  <script src="../static/js/desktop.js">
  </script>
</body>

</html>
